<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-align-center</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-align-center</Shortcut> <Description>Markup snippet for fa-align-center</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-align-center"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
