<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-creative-commons</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-creative-commons</Shortcut> <Description>Markup snippet for fa-creative-commons</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-creative-commons"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
