<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-cc-mastercard</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-cc-mastercard</Shortcut> <Description>Markup snippet for fa-cc-mastercard</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-cc-mastercard"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
