<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-ellipsis-v</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-ellipsis-v</Shortcut> <Description>Markup snippet for fa-ellipsis-v</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-ellipsis-v"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
