<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-file-sound-o</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-file-sound-o</Shortcut> <Description>Markup snippet for fa-file-sound-o</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-file-sound-o"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
