<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-forward fafast-forward</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-forward fafast-forward</Shortcut> <Description>Markup snippet for fa-forward fafast-forward</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-forward fafast-forward"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
