<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-location-arrow</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-location-arrow</Shortcut> <Description>Markup snippet for fa-location-arrow</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-location-arrow"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
