<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-life-bouy</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-life-bouy</Shortcut> <Description>Markup snippet for fa-life-bouy</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-life-bouy"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
