<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-mobile-phone</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-mobile-phone</Shortcut> <Description>Markup snippet for fa-mobile-phone</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-mobile-phone"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
