<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-microphone-slash</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-microphone-slash</Shortcut> <Description>Markup snippet for fa-microphone-slash</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-microphone-slash"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
