<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-star-half-empty</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-star-half-empty</Shortcut> <Description>Markup snippet for fa-star-half-empty</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-star-half-empty"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
