<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-shopping-cart</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-shopping-cart</Shortcut> <Description>Markup snippet for fa-shopping-cart</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-shopping-cart"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
