<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-times-circle</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-times-circle</Shortcut> <Description>Markup snippet for fa-times-circle</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-times-circle"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
