<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>fa-tv,</Title> <Author>NonProfitEasy</Author> <Shortcut>fa-tv,</Shortcut> <Description>Markup snippet for fa-tv,</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="fa fa-tv,"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
