@{
    ViewBag.Title = "Dashboard";
}
<div ng-view></div>

<script src="~/App_Client/common/services/Dashboard/Dashboard.services.js"></script>
<script src="~/App_Client/views/Dashboard/Dashboard.controller.js"></script>
<script src="~/App_Client/views/Dashboard/Dashboard.route.js"></script>
