<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>membership</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-membership</Shortcut> <Description>Markup snippet for membership</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-membership"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
