<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>doc-text-inv</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-doc-text-inv</Shortcut> <Description>Markup snippet for doc-text-inv</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-doc-text-inv"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
