<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>plus-squared</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-plus-squared</Shortcut> <Description>Markup snippet for plus-squared</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-plus-squared"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
