<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>dolor-bag</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-dolor-bag</Shortcut> <Description>Markup snippet for dolor-bag</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-dolor-bag"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
