<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>up-down</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-up-down</Shortcut> <Description>Markup snippet for up-down</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-up-down"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
