<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>print2</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-print2</Shortcut> <Description>Markup snippet for print2</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-print2"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
