<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>th-list</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-th-list</Shortcut> <Description>Markup snippet for th-list</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-th-list"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
