<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>star</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-star</Shortcut> <Description>Markup snippet for star</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-star"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
