<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>up-arrow2</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-up-arrow2</Shortcut> <Description>Markup snippet for up-arrow2</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-up-arrow2"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
