<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>change-password</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-change-password</Shortcut> <Description>Markup snippet for change-password</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-change-password"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
