<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>three-dot</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-three-dot</Shortcut> <Description>Markup snippet for three-dot</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-three-dot"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
