<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>resize-full</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-resize-full</Shortcut> <Description>Markup snippet for resize-full</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-resize-full"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
