<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>thumbs-down</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-thumbs-down</Shortcut> <Description>Markup snippet for thumbs-down</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-thumbs-down"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
