<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>credit-card</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-credit-card</Shortcut> <Description>Markup snippet for credit-card</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-credit-card"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
