<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>edit</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-edit</Shortcut> <Description>Markup snippet for edit</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-edit"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
