<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>cw-circle</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-cw-circle</Shortcut> <Description>Markup snippet for cw-circle</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-cw-circle"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
