<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>zoom-out</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-zoom-out</Shortcut> <Description>Markup snippet for zoom-out</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-zoom-out"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
