<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>reply-all</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-reply-all</Shortcut> <Description>Markup snippet for reply-all</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-reply-all"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
