<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>logout2</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-logout2</Shortcut> <Description>Markup snippet for logout2</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-logout2"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
