<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet"> <Header> <Title>user-female</Title> <Author>NonProfitEasy</Author> <Shortcut>npe-ico-user-female</Shortcut> <Description>Markup snippet for user-female</Description> <SnippetTypes> <SnippetType>Expansion</SnippetType> <SnippetType>SurroundsWith</SnippetType> </SnippetTypes> </Header> <Snippet> <Code Language="html"> <![CDATA[<span class="icon-user-female"></span>$selected$$end$]]> </Code> </Snippet> </CodeSnippet>
