@{
    ViewBag.Title = "RFQ";
}
<div ng-view></div>
@section pageScripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/RFQ/RFQ")
}

<script src="~/App_Client/views/RFQ/SupplierQuote/RFQSupplierQuotePopup.controller.js" type="text/javascript"></script>
<script src="~/App_Client/common/services/RFQ/RFQ/SupplierQuote.service.js" type="text/javascript"></script>


<script src="~/App_Client/views/RFQ/Quote/QuoteToCustomerPopup.controller.js" type="text/javascript"></script>
<script src="~/App_Client/common/services/RFQ/Quote/Quote.service.js" type="text/javascript"></script>


<script src="~/App_Client/views/RFQ/SupplierQuote/RFQPartCostComparisonPopup.controller.js" type="text/javascript"></script>
<script src="~/App_Client/common/services/RFQ/RFQ/SupplierQuote.service.js" type="text/javascript"></script>

@*<script src="~/App_Client/common/directives/common.directives.js"></script>*@
