@{
    ViewBag.Title = "Remarks";
}

<div ng-view></div>

@section pageScripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/Remarks")
}



@*<script src="~/App_Client/common/services/Setup/Remarks/Remarks.services.js"></script>
    <script src="~/App_Client/views/Setup/Remarks/Remarks.controller.js"></script>
    <script src="~/App_Client/views/Setup/Remarks/Remarks.route.js"></script>
    <script src="~/App_Client/common/directives/slider.directive.js"></script>*@