<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=IQR-WEB\SQL12;Initial Catalog=MESH_20161125;Persist Security Info=True;User ID=mesv2user;Password=mesv2user" providerName="System.Data.SqlClient" />
    <add name="MESDataEntities" connectionString="metadata=res://*/MESDataEntities.csdl|res://*/MESDataEntities.ssdl|res://*/MESDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IQR-WEB\SQL12;initial catalog=MESH_20161125;user id=mesv2user;password=mesv2user;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=mes-mesh-dbserver.database.windows.net;Initial Catalog=MES-MESH-DB1;Persist Security Info=True;User ID=mes-mesh-dbadmin@mes-mesh-dbserver;Password=D3Acc355!" providerName="System.Data.SqlClient"/>
    <add name="MESDataEntities" connectionString="metadata=res://*/MESDataEntities.csdl|res://*/MESDataEntities.ssdl|res://*/MESDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mes-mesh-dbserver.database.windows.net;initial catalog=MES-MESH-DB1;persist security info=True;user id=mes-mesh-dbadmin@mes-mesh-dbserver;password=D3Acc355!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=mes-mesh-dbserver.database.windows.net;Initial Catalog=MES-MESH-PROD;Persist Security Info=True;User ID=mes-mesh-dbadmin@mes-mesh-dbserver;Password=D3Acc355!" providerName="System.Data.SqlClient" />
    <add name="MESDataEntities" connectionString="metadata=res://*/MESDataEntities.csdl|res://*/MESDataEntities.ssdl|res://*/MESDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mes-mesh-dbserver.database.windows.net;initial catalog=MES-MESH-PROD;persist security info=True;user id=mes-mesh-dbadmin@mes-mesh-dbserver;password=D3Acc355!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="logEnabled" value="true" />

    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />-->
    <!--help@mesinc.net-->
    <!--LOCAL-->
    <add key="RfqEmailSender" value="no-reply@mesinc.net" />
    <!--<add key="RfqEmailSender" value="messupplierquote@mesinc.net" />-->
    <!--for LOCAL-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mesmeshstorage2;AccountKey=tf41mmByClu74MZ0hD/NW0TXGifVxHzwRLOeq4/2Z4ZDgij48tflQslp0CWW0+kOYgNWGO8Kr9uScFdOaXrg2A=="/>
    <add key="StorageAccountName" value="https://mesmeshstorage2.blob.core.windows.net/" />
    <add key="BlobContainerName" value="mesh-dev-uploads"/>

    <!--DocuSign-->
    <add key="DocuSignPassword" value="test1234" />
    <add key="DocuSignUsername" value="roma.patel@almikatech.com" />
    <add key="DocuSignIntegratorKey" value="fa2ae644-d0f6-42b6-9336-77c0c95bcb6a" />
    <add key="DocuSignBasePath" value="https://na2.docusign.net/restapi" />
    <!--<add key="DocuSignBasePath" value="www.docusign.net/restapi" />-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mesinc.net">
        <network host="smtp.office365.com" userName="noreply@mesinc.net" password="D2n-8eCrE#ub" port="587" enableSsl="true"  />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>