<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Authority" value="http://meshtest.mesinc.net/identity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RecoverAccountUrl" value="http://dcccc2ecfd2a4ff08ef296932359a376.cloudapp.net/RecoverAccount" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedirectUri" value="http://dcccc2ecfd2a4ff08ef296932359a376.cloudapp.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedirectUri1" value="http://meshtest.mesinc.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ApiURL" value="http://cd65b0e6651b41c394f568be8c2324bc.cloudapp.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mesmeshstorage2;AccountKey=tf41mmByClu74MZ0hD/NW0TXGifVxHzwRLOeq4/2Z4ZDgij48tflQslp0CWW0+kOYgNWGO8Kr9uScFdOaXrg2A==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageAccountName" value="https://mesmeshstorage2.blob.core.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BlobContainerName" value="mesh-stage-uploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=mes-mesh-dbserver.database.windows.net;Initial Catalog=MES-MESH-DB1;Persist Security Info=True;User ID=mes-mesh-dbadmin@mes-mesh-dbserver;Password=D3Acc355!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MESDataEntities" connectionString="metadata=res://*/MESDataEntities.csdl|res://*/MESDataEntities.ssdl|res://*/MESDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mes-mesh-dbserver.database.windows.net;initial catalog=MES-MESH-DB1;persist security info=True;user id=mes-mesh-dbadmin@mes-mesh-dbserver;password=D3Acc355!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <elmah xdt:Transform="Replace">
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="1" />
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah" applicationName="Web2Print" connectionStringName="DefaultConnection" />-->
    <errorMail from="no-reply@mesinc.net" to="malay.parikh@almikatech.com,roma.patel@almikatech.com" subject="Exception Mail From MESH - STAGE - WEB" async="true"></errorMail>
    <!--<errorFilter>
      <test>
        <and>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
          <regex binding="FilterSourceType.Name" pattern="mail" />
        </and>
      </test>
    </errorFilter>-->
  </elmah>
</configuration>
