<div class="common-accordion-panel" ng-controller="AddEditChangeRequestCtrl" id="spnAPQP">
    <us-spinner spinner-key="spnAPQP"></us-spinner> <!--spinner-start-active="1"-->
    <form unsaved-warning-form novalidate accessible-form>
        <!--Section - 1 - Change Request Form-->
        <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{ChangeRequest.crHeader}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-7 pad-10 tool-tip-title-common">
                        <div class="fs linear fs-col-2">
                            <div class="fs-g">
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PartNo_</label>
                                        <span class="required">*</span>
                                    </span>
                                    <span class="fs-f-i" ng-if="TransactionMode=='Edit'">
                                        <label>{{ChangeRequest.PartNumber}}</label>
                                    </span>
                                    <span class="fs-f-i" ng-if="TransactionMode=='Create'">
                                        <select name="{{'_PartNo_' | translate}}" aa-field-name="{{'_PartNo_' | translate}}" ng-model="ChangeRequest.APQPItemId" ng-options="item.Id as item.Name for item in PartsList" ng-change="ChangeRequest.APQPItemId>0 ? onChangeOfPartNumber(ChangeRequest.APQPItemId):''" required>
                                            <option value="">{{'_Select_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SourceOfTheChange_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input ng-attr-title="{{APQP.objTooltip.CustomerPurchasingContactName}}" ng-disabled="IsReadOnlyPage" type="text"
                                               name="{{'_SourceOfTheChange_' | translate}}" aa-field-name="{{'_SourceOfTheChange_' | translate}}" ng-model="ChangeRequest.SourceOfChange"
                                               position="fixed" width="200" typeaheadwatchchanges="ChangeRequest.SourceOfChange" typeahead-on-select="OnSourceOfChangeSelect($item, ChangeRequest)"
                                               typeahead="item as item.Name for item in SourceOfChangeList | filter:$viewValue" typeahead-focus-first="false" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_DescriptionofChange_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_DescriptionofChange_' | translate}}" aa-field-name="{{'_DescriptionofChange_' | translate}}" ng-model="ChangeRequest.DescriptionOfChange" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_NewRevision_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_NewRevision_' | translate}}" aa-field-name="{{'_NewRevision_' | translate}}" ng-model="ChangeRequest.RevLevel" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_DrawingRevisionDate_</label><i class="date-label">(dd-MMM-yy)</i>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_DrawingRevisionDate_' | translate}}" aa-field-name="{{'_DrawingRevisionDate_' | translate}}" ng-model="ChangeRequest.DrawingRevDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_DrawingNumber_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_DrawingNumber_' | translate}}" aa-field-name="{{'_DrawingNumber_' | translate}}" ng-model="ChangeRequest.DrawingNumber" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_MfgStartDateforNewRevision_</label><i class="date-label">(dd-MMM-yy)</i>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_MfgStartDateforNewRevision_' | translate}}" aa-field-name="{{'_MfgStartDateforNewRevision_' | translate}}" ng-model="ChangeRequest.MfgStartDateForNewRev" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Subject_</label>
                                        <span class="required">*</span>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_Subject_' | translate}}" aa-field-name="{{'_Subject_' | translate}}" ng-model="ChangeRequest.Subject" required />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Status_</label>
                                        <span class="required">*</span>
                                    </span>
                                    <span class="fs-f-i">
                                        <select name="{{'_Status_' | translate}}" aa-field-name="{{'_Status_'|translate}}" ng-model="ChangeRequest.StatusId" ng-options="item.Id as item.Name for item in StatusList" required>
                                            <option value="">{{'_Select_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_AssignedTo_</label>
                                        <span class="required">*</span>
                                    </span>

                                    <span class="fs-f-i">
                                        <select name="{{'_AssignedTo_' | translate}}" aa-field-name="{{'_AssignedTo_'|translate}}" ng-model="ChangeRequest.AssignedToId" ng-options="item.Id as item.Name for item in AssignToList" required>
                                            <option value="">{{'_Select_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Watchers_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <multiselect multiple="true"
                                                     ng-model="ChangeRequest.WatcherItems"
                                                     itemkey="Id"
                                                     itemvalue="Name"
                                                     options="item as item.Name for item in WatchersList"
                                                     header="{{'_Select_' | translate}}" button-class="small"></multiselect>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_ChangeApproved_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="checkbox" id="chkChangeApproved" ng-model="ChangeRequest.IsChangeApproved" />
                                        <label for="chkChangeApproved" translate="yes"></label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_ChangeImplemented_</label>
                                    </span>
                                    <span class="fs-f-i">
                                        <input type="checkbox" id="chkChangeImplemented" ng-model="ChangeRequest.IsChangeImplemented" />
                                        <label for="chkChangeImplemented" translate="yes"></label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 pad-10 tool-tip-title-common">
                        <div class="fs linear fs-col-2">
                            <div class="fs-g" ng-show="hasPricingFieldsAccess==true">
                                <div class="fs-f full-c mar-t-10">
                                    <span class="fs-f-i full-c">
                                        <label><b translate="yes">_OriginalCostsPulledFromQuoteSystemOrSAP_</b></label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchasePieceCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.apqpPurchasePieceCost}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingPiecePrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.apqpSellingPiecePrice}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchaseToolingCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.apqpPurchaseToolingCost}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingToolingPrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.apqpSellingToolingPrice}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-c mar-t-10">
                                    <span class="fs-f-i full-c">
                                        <label><b translate="yes">_DesignChangeCostsChangeManagementForm_</b></label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchasePieceCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right">
                                        <input class="align-right" ng-blur="Calculate()" placeholder="0.000" ng-maxlength="11" numbers-only to-precision="3" type="text" name="{{'_PurchasePieceCost_' | translate}}" aa-field-name="{{'_PurchasePieceCost_' | translate}}" ng-model="ChangeRequest.PurchasePieceCost" />
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingPiecePrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right">
                                        <input class="align-right" ng-blur="Calculate()" placeholder="0.000" ng-maxlength="11" numbers-only to-precision="3" type="text" name="{{'_PurchasePieceCost_' | translate}}" aa-field-name="{{'_PurchasePieceCost_' | translate}}" ng-model="ChangeRequest.SellingPiecePrice" />
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchaseToolingCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right">
                                        <input class="align-right" ng-blur="Calculate()" placeholder="0.000" ng-maxlength="11" numbers-only to-precision="3" type="text" name="{{'_PurchaseToolingCost_' | translate}}" aa-field-name="{{'_PurchaseToolingCost_' | translate}}" ng-model="ChangeRequest.PurchaseToolingCost" />
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingToolingPrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right">
                                        <input class="align-right" ng-blur="Calculate()" placeholder="0.000" ng-maxlength="11" numbers-only to-precision="3" type="text" name="{{'_PurchaseToolingCost_' | translate}}" aa-field-name="{{'_PurchaseToolingCost_' | translate}}" ng-model="ChangeRequest.SellingToolingPrice" />
                                    </span>
                                </div>

                                <div class="fs-f full-c mar-t-10">
                                    <span class="fs-f-i full-c">
                                        <label><b translate="yes">_OriginalCostsDesignChangeCostsTotal_</b></label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchasePieceCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.TotalPurchasePieceCost}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingPiecePrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.TotalSellingPiecePrice}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_PurchaseToolingCost_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.TotalPurchaseToolingCost}}</label>
                                    </span>
                                </div>
                                <div class="fs-f full-h mar-b-5">
                                    <span class="fs-f-l">
                                        <label translate="yes">_SellingToolingPrice_</label>
                                    </span>
                                    <span class="fs-f-i align-right pad-r-5">
                                        <label>{{ChangeRequest.TotalSellingToolingPrice}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <!--Section - 2 - Files-->
        <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_Files_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <div class="list-1 root-list">
                            <div class="lst-header">
                                <div class="lst-item">
                                    <div class="col-4">
                                        <label ng-click="sortType = 'DocumentType';sortReverse = !sortReverse">
                                            {{'_DocumentType_' | translate}}
                                            <i ng-show="sortType == 'DocumentType' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'DocumentType' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label ng-click="sortType = 'FileTitle';sortReverse = !sortReverse">
                                            {{'_FileTitle_' | translate}}
                                            <i ng-show="sortType == 'FileTitle' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'FileTitle' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <label ng-click="sortType = 'Comments';sortReverse = !sortReverse">
                                            {{'_Comments_' | translate}}
                                            <i ng-show="sortType == 'Comments' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'Comments' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-1 align-right spacer-right-t">
                                        <label ng-click="sortType = 'IsDefault';sortReverse = !sortReverse">
                                            {{'_Action_' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="lst-body">
                                <div class="lst-item" ng-repeat="item in ChangeRequest.lstDocument | orderBy:sortType:sortReverse">
                                    <div class="col-4" data-colmn-title="{{'_DocumentType_'| translate}}">
                                        <label>{{item.DocumentTypeItem.Name}}</label>
                                    </div>
                                    <div class="col-4" data-colmn-title="{{'_FileTitle_'| translate}}">
                                        <a href="\APQP\ChangeRequest\ChangeRequest\DownloadFile?filePath={{item.FilePath}}&fileName={{item.FileTitle}}" target="_blank">{{item.FileTitle}}</a>
                                    </div>
                                    <div class="col-3" data-colmn-title="{{'_Comments_'| translate}}">
                                        <label>{{item.Comments}}</label>
                                    </div>
                                    <div class="col-1 align-right">
                                        <div class="btn-group action-btn" dropdown>
                                            <button type="button" class="btn" data-ng-click="EditDocument(item,$index)" translate="yes">_Edit_</button>
                                            <button type="button" class="btn action-toggle">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0)" data-ng-click="DeleteDocument($index)" translate="yes">_Delete_</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="lst-item" ng-hide="ChangeRequest.lstDocument.length>0">
                                    <div class="col-12">
                                        <div class="error-box rounded-info-box">
                                            <p translate="yes">_NoRecordsFound_</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="last-trip-panel">
                            <button class="btn" tabindex="30" ng-click="AddNewDocument()" translate="yes">_AddDocument_</button>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-12 pad-10" dir-field-disabled="IsReadOnlyPage">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_History_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-5 pad-b-0">
                        <div class="box-white">
                            <accordion close-others="false">
                                <accordion-group heading="" ng-repeat="(TimeStamp,Item) in ChangeRequestLog" is-open="true" ng-hide="IsAccordionObjectEmpty" ng-init="Item.IsOpen=true">
                                    <accordion-heading>
                                        <!--class="title"-->
                                        <span>{{Item[0].OperationType}}: {{Item[0].TimeStampString}}&nbsp;By&nbsp;<b>{{Item[0].UpdatedBy}}</b>&nbsp;on&nbsp;{{Item[0].TimeStamp}}</span>
                                        <span class="accordion-icon"></span>
                                    </accordion-heading>
                                    <!-- Start List Style 1 structure here -->
                                    <div class="list-1 root-list">
                                        <div class="lst-body">
                                            <div class="lst-item" ng-repeat="subItem in Item">
                                                <div class=" col-4">
                                                    <label>{{subItem.OldValue==''?'Added &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;':'Changed &nbsp;&nbsp;'}}</label>
                                                    <b><i><label>{{subItem.FieldAlias}}</label></i></b><label>{{subItem.OldValue==''? ":" : ":&nbsp;"}}</label>
                                                </div>
                                                <div class="col-1 align-left">
                                                    <label>{{"&nbsp;&nbsp; from"}}</label>
                                                </div>
                                                <div class="col-2 align-center">
                                                    <b><label>{{subItem.OldValue}}</label></b>
                                                    <label>{{subItem.OldValue==''?'':''}}</label>
                                                </div>
                                                <div class="col-1 align-center">
                                                    <label>{{"to"}}</label>
                                                </div>
                                                <div class="col-2 align-center">
                                                    <b><label>{{subItem.NewValue}}</label></b>
                                                </div>
                                            </div>
                                            <div class="lst-item">
                                                <div class="col-12" ng-show="Item[0].IsContainsDocument">
                                                    <label><b>Files</b></label>
                                                </div>
                                            </div>
                                            <div class="lst-item pad-t-10" ng-repeat="dItem in Item" ng-if="dItem.lstDocument.length>0">
                                                <div class="col-12 pad-0" ng-repeat="ddItem in dItem.lstDocument">
                                                    <div class="col-4 pad-t-5" data-colmn-title="{{'_DocumentType_'| translate}}">
                                                        <label>{{ddItem.DocumentType}}</label>
                                                    </div>
                                                    <div class="col-4 pad-t-5" data-colmn-title="{{'_FileTitle_'| translate}}">
                                                        <a href="\APQP\ChangeRequest\ChangeRequest\DownloadFile?filePath={{ddItem.FilePath}}&fileName={{ddItem.FileTitle}}" target="_blank">{{ddItem.FileTitle}}</a>
                                                    </div>
                                                    <div class="col-3 pad-t-5" data-colmn-title="{{'_Comments_'| translate}}">
                                                        <label>{{ddItem.Comments}}</label>
                                                    </div>
                                                    <div class="col-1 align-right pad-t-5 pad-r-20">
                                                        <a href="javascript:void(0)" title="Delete" data-ng-click="DeleteDocumentFromHistory(ddItem.Id)"><img src="/Content/images/close-data-icon.png" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List Style 1 structure here -->
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

        <!--Top Header Show Start-->
        <div class="freeze-bottom top-header-freeze-panel">
            <button class="orange-btn" ng-hide="donotShow==true" aa-submit-form="SaveCR(0)" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
            <button class="orange-btn" ng-hide="donotShow==true" aa-submit-form="SaveCR(1)" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
            <button class="orange-btn" ng-hide="donotShow==true" title="Add To APQP" aa-submit-form="AddToAPQP()" translate="yes" ng-disabled="IsReadOnlyAPQPButton">_AddToAPQP_</button>
            <button class="orange-btn" ng-show="ChangeRequest.APQPItemId>0" title="View APQP Form" aa-submit-form="GoToAPQPForm(ChangeRequest.APQPItemId)" translate="yes">_BackToAPQP_</button>
            <button class="orange-btn" title="Back To Change Request List" ng-click="RedirectToList()" translate="yes">_Cancel_</button>
        </div>
        <!--Top Header Show End-->
        <!--Section - 3 - History - Change Request-->
        <div class="freeze-bottom">
            <button class="orange-btn" ng-hide="donotShow==true" aa-submit-form="SaveCR(0)" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
            <button class="orange-btn" ng-hide="donotShow==true" aa-submit-form="SaveCR(1)" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
            <button class="orange-btn" ng-hide="donotShow==true" title="Add To APQP" aa-submit-form="AddToAPQP()" translate="yes" ng-disabled="IsReadOnlyAPQPButton">_AddToAPQP_</button>
            <button class="orange-btn" ng-show="ChangeRequest.APQPItemId>0" title="View APQP Form" aa-submit-form="GoToAPQPForm(ChangeRequest.APQPItemId)" translate="yes">_BackToAPQP_</button>
            <button class="orange-btn" title="Back To Change Request List" ng-click="RedirectToList()" translate="yes">_Cancel_</button>
        </div>
    </form>
</div>