<form unsaved-warning-form novalidate id="frmRFQPart">
    <div class="modal-header">
        <h3 translate="yes">_PageRFQPart_</h3>
    </div>
    <div class="modal-body">
        <div class="slider-scroll-container">
            <div class="fs linear fs-col-2">
                <div class="fs-g">
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_PartNo_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <input type="text" name="{{'_PartNo_' | translate}}"
                                   aa-field-name="{{'_PartNo_' | translate}}"
                                   ng-model="RFQPart.CustomerPartNo" maxlength="50" required />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_RevLevel_</label>
                        </span> <span class="fs-f-i">
                            <input type="text" name="{{'_RevLevel_' | translate}}"
                                   aa-field-name="{{'_RevLevel_' | translate}}"
                                   ng-model="RFQPart.RevLevel" maxlength="50" />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Description_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <textarea id="ParDescTextArea" type="text" name="{{'_Description_' | translate}}"
                                      aa-field-name="{{'_Description_' | translate}}"
                                      ng-model="RFQPart.PartDescription" maxlength="500" required />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_AdditionalPartDesc_</label>
                        </span> <span class="fs-f-i">
                            <textarea type="text" name="{{'_AdditionalPartDesc_' | translate}}"
                                      aa-field-name="{{'_AdditionalPartDesc_' | translate}}"
                                      ng-model="RFQPart.AdditionalPartDesc" maxlength="500" />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Material_</label>
                        </span> <span class="fs-f-i">
                            <input type="text" name="{{'_Material_' | translate}}"
                                   aa-field-name="{{'_Material_' | translate}}"
                                   ng-model="RFQPart.MaterialType" maxlength="100" />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_AnnualQuantity_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <input type="text" name="{{'_AnnualQuantity_' | translate}}"
                                   integer-only ng-maxlength="8" to-precision="0"
                                   aa-field-name="{{'_AnnualQuantity_' | translate}}"
                                   ng-model="RFQPart.EstimatedQty" required />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Weight_</label>
                        </span> <span class="fs-f-i">
                            <input type="number" name="{{'_Weight_' | translate}}"
                                   aa-field-name="{{'_Weight_' | translate}}"
                                   ng-model="RFQPart.PartWeightKG" />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Specification_</label>
                        </span> <span class="fs-f-i">
                            <file-select fs-model="RFQPart.RfqPartAttachmentList"
                                         fs-multiselect="true"
                                         fs-upload-path="rfqPartAttachmentList"
                                         fs-extension-validation-msg="File not supported"
                                         fs-extension=""
                                         fs-saveuploadedfiles="SetUploadforParts(UploadedFilePath,UploadedFileName)"
                                         fs-spinnder-key="spnAddEditRFQ"
                                         fs-stop-spinner="1"
                                         fs-file-upload-folder-name="RFQPartAttachments"
                                         fs-max-size="1050000"></file-select>
                            <ul class="images-upload-panal">
                                <li ng-repeat="objUpFile in RFQPart.RfqPartAttachmentList">
                                    <a href="\RFQ\RFQ\RFQ\DownloadFile?filePath={{objUpFile.AttachmentPathOnServer}}&fileName={{objUpFile.AttachmentName}}" target="_blank">{{objUpFile.AttachmentName}}</a>
                                    <button class="btn float-r" ng-click="deleteFileforParts(objUpFile.AttachmentPathOnServer, $index)"> <i class="fa fa-close"></i> </button>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="fs-g">
            <button class="orange-btn" aa-submit-form="AddRFQPart()" translate="yes">_Save_ </button>
            <button class="orange-btn" ng-click="Cancel()" translate="yes">_Cancel_</button>
        </div>
    </div>
</form>
