<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog autoReload="true" internalLogFile="D:\vishal\logs\NLogErrors.txt" throwExceptions="true" internalLogLevel="Debug">-->
<nlog autoReload="true">
  <extensions>
    <add assembly="NLog.Web" />
    <add assembly="NLog.Extended" />
    <add assembly="NPE.Infrastructure.Business.Common" />
  </extensions>
  <targets async="true">

    <target name="Mail"
            type="Mail"
            html="true"
            subject="An Unexpected Error Occured in IdentityServer"
            addNewLines="True"
            replaceNewlineWithBrTagInHtml="True"
            to="roma.patel@almikatech.com; malay.parikh@almikatech.com"
            from="no-reply@mesinc.net"
            body="MES [${level:uppercase=true}]: ${message} ${newline} ${exception:format=tostring}"
            smtpServer="SMTP"
            useSystemNetMailSettings="true" />

    <!-- <target name="database" type="Database" connectionStringName="DefaultConnection">

       <dbprovider>mssql</dbprovider>

      <dbhost>IQR-WEB\SQL12</dbhost>
      <dbdatabase>NPEV2Master</dbdatabase>
      <dbusername>npeuser</dbusername>
      <dbpassword>npeuser</dbpassword>

      <commandText>
        insert into [dbo].[ApplicationLog](TimeStamp,Level,Logger,Message,Callsite,Exception,StackTrace,MachineName,ProcessId,ProcessName,ThreadId,ThreadName,AspnetUserIdentity,Controller,Action,CallingApp,CallingAppType,ApiKey,RequestParams,CustomUserName,ClientId,RequestMethod,ResponseContent,UserAgent,IPv4Address) values(@time_stamp,@level,@logger,@message,@callsite,@exception,@stacktrace,@machinename,@processid,@processname,@threadid,@threadname,@aspnetuseridentity,@controller,@action,@callingapp,@callingapptype,@apikey,@requestparams,@custom_username,@clientid,@requestMethod,@responseContent,@userAgent,@ipv4address);
      </commandText>

      <parameter name="@time_stamp" layout="${date:universalTime=true}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message:exceptionSeparator=|:withException=true}" />
      <parameter name="@callsite" layout="${skipcallsite:SkipFrames=3:className=true:fileName=true:includeSourcePath=true:methodName=true} " />
      <parameter name="@exception" layout="${exception:innerFormat=StackTrace:maxInnerExceptionLevel=100:innerExceptionSeparator=|:separator=String:format=StackTrace}" />
      <parameter name="@stacktrace" layout="${stacktrace:format=Raw:topFrames=500:separator=String} " />

      <parameter name="@machinename" layout="${machinename} " />
      <parameter name="@processid" layout="${processid} " />
      <parameter name="@processname" layout="${processname:fullName=true} " />
      <parameter name="@threadid" layout="${threadid} " />
      <parameter name="@threadname" layout="${threadname} " />

      <parameter name="@aspnetuseridentity" layout="${aspnet-user-identity}" />

      <parameter name="@controller" layout="${event-context:item=ControllerName} " />
      <parameter name="@action" layout="${event-context:item=ActionName}" />

      <parameter name="@callingapp" layout="${event-context:item=CallingApp}" />
      <parameter name="@callingapptype" layout="${event-context:item=CallingAppType}" />
      <parameter name="@apikey" layout="${event-context:item=APIKey}" />
      <parameter name="@requestparams" layout="${event-context:item=RequestParams}" />
      <parameter name="@requesturl" layout="${event-context:item=RequestURL}" />

      <parameter name="@custom_username" layout="${event-context:item=CustomUserName}" />
      <parameter name="@clientid" layout="${event-context:item=ClientID}" />
      <parameter name="@requestMethod" layout="${event-context:item=RequestMethod}" />

      <parameter name="@responseContent" layout="${event-context:item=ResponseContent}" />
      <parameter name="@userAgent" layout="${event-context:item=UserAgent}" />
      <parameter name="@ipv4address" layout="${event-context:item=IPv4Address}" />
    </target>-->

    <target type="ConfigurableAzureTableStorage"
        name="AzureTableStorage"
        ConnectionString=""
        TableName="ApplicationLog"
        PartitionKey="${date}.${logger}"
          RowKey="${ticks}.${guid}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" appendTo="AzureTableStorage" />
    <logger name="*" minlevel="Error" writeTo="Mail" />
  </rules>
</nlog>