<div class="common-accordion-panel" ng-controller="RFQSupplierPartQuoteCtrl">
    <!--spinner-start-active="1"-->
    <form unsaved-warning-form novalidate name="spnRFQSupplierPartQuote">
        <us-spinner spinner-key="spnRFQSupplierPartQuote" spinner-start-active="1"></us-spinner>
        <!--<div class="page-title">
            <span class="p-title-txt">{{'_PageHeading_' | translate}}</span>
        </div>-->

        <div class="col-12 pad-10 pad-t-20">
            <input type="radio" ng-model="EnterQuote" id="rdoEnterQuote" name="QouteType">
            <label for="rdoEnterQuote">{{'_EnterQuote_'|translate}}</label>

            <input type="radio" ng-model="UploadQuote" id="rdoUploadQuote" name="QouteType">
            <label for="rdoUploadQuote">{{'_UploadQuote_'|translate}}</label>

            <input type="checkbox" ng-model="NoQuote" id="chkNoQuote">
            <label for="chkNoQuote">{{'_NoQuote_'|translate}}</label>
        </div>
        <div class="col-12 pad-10 pad-t-0">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_DownloadQuote_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <p>{{'_DownloadQuoteText1_' | translate}}</p>

                        <p>{{'_DownloadQuoteText2_' | translate}}</p>
                        <p>{{'_DownloadQuoteText3_' | translate}}</p>
                        <p>{{'_DownloadQuoteText4_' | translate}}</p>
                        <p>{{'_DownloadQuoteText5_' | translate}}</p>

                        <button class="orange-btn" ng-click="DownloadQuoteFile()" translate="yes">_DownloadQuote_</button>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-12 pad-10 pad-t-0">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_UploadQuote_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <p>{{'_UploadQuoteText1_' | translate}}</p>

                        <p>{{'_UploadQuoteText2_' | translate}}</p>
                        <p>{{'_UploadQuoteText3_' | translate}}</p>
                        <input type="file" name="{{'_UploadFile_' | translate}}"
                               aa-field-name="{{'_UploadFile_' | translate}}"
                               ng-model="RFQSupplierPartQuoteList[0].QuoteAttachmentFilePath" />
                        <button class="orange-btn" ng-click="UploadQuoteFile()" translate="yes">_UploadQuote_</button>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </form>
</div>
