<form unsaved-warning-form novalidate id="frmDefectType">
    <div class="modal-header">
        <h3 translate="yes">_PageHeading_</h3>
    </div>
    <div class="modal-body">
        <div class="slider-scroll-container">
            <div class="fs linear fs-col-2">
                <div class="fs-g">
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_DefectType_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <input type="text" name="DefectType" aa-field-name="{{'_DefectType_' | translate}}" ng-model="DefectType.defectType" required tabindex="1" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" aa-submit-form="SaveDefectType()" tabindex="2" translate="yes">_Save_</button>
        <button class="orange-btn" ng-click="Cancel()" tabindex="3" translate="yes">_Cancel_</button>
    </div>
</form>
