<div class="col-12 window-min-height bx-white" ng-controller="ShipmentCtrl" id="spnShipment">
    <!-- uiView:  -->
    <div ui-view="" class="col-12 ng-scope">
        <div id="spnShipment" class="ng-scope">
            <us-spinner spinner-key="spnShipment" spinner-start-active="1"></us-spinner>

            <div class="col-12">

                <div class="list-1 root-list-tb ng-isolate-scope">
                    <div class="lst-header">
                        <div class="lst-item">
                            <div class="col-grid-sm-3 align-center">
                                <label ng-click="sortType = 'Id';sortReverse = !sortReverse">
                                    {{'_ShipmentNumber_' | translate}}
                                    <i ng-show="sortType == 'Id' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'Id' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-2">
                                <label ng-click="sortType = 'ShipmentMode';sortReverse = !sortReverse">
                                    {{'_ShipmentMode_' | translate}}
                                    <i ng-show="sortType == 'ShipmentMode' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'ShipmentMode' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-4">
                                <label ng-click="sortType = 'OriginId';sortReverse = !sortReverse">
                                    {{'_Origin_' | translate}}
                                    <i ng-show="sortType == 'OriginId' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'OriginId' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-4">
                                <label ng-click="sortType = 'DestinationId';sortReverse = !sortReverse">
                                    {{'_Destination_' | translate}}
                                    <i ng-show="sortType == 'DestinationId' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'DestinationId' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-5">
                                <label ng-click="sortType = 'SupplierNames';sortReverse = !sortReverse">
                                    {{'_SupplierNames_' | translate}}
                                    <i ng-show="sortType == 'SupplierNames' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'SupplierNames' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-4">
                                <label ng-click="sortType = 'PONumbers';sortReverse = !sortReverse">
                                    {{'_PONumbers_' | translate}}
                                    <i ng-show="sortType == 'PONumbers' && sortReverse==false" class="fa fa-sort-asc"></i>
                                    <i ng-show="sortType == 'PONumbers' && sortReverse==true" class="fa fa-sort-desc"></i>
                                </label>
                            </div>
                            <div class="col-grid-sm-2 align-right">
                                <label translate="yes">Action</label>
                            </div>
                        </div>
                    </div>
                    <div class="lst-body">
                        <div class="lst-item ng-pristine ng-valid ng-scope" ng-repeat="item in ShipmentList | orderBy:sortType:sortReverse">
                            <div class="row-click-section" data-ng-click="Edit(item.Id)">
                                <div class="col-grid-sm-3 align-center" data-colmn-title="{{'_ShipmentNumber_'| translate}}">
                                    <a class="link" data-ng-click="Edit(item.Id)">{{item.Id}}</a>
                                </div>
                                <div class="col-grid-sm-2" data-colmn-title="{{'_ShipmentMode_'| translate}}">
                                    <label>{{item.ShipmentMode}}</label>
                                </div>
                                <div class="col-grid-sm-4" data-colmn-title="{{'_Origin_'| translate}}">
                                    <label>{{item.Origin}}</label>
                                </div>
                                <div class="col-grid-sm-4" data-colmn-title="{{'_Destination_'| translate}}">
                                    <label>{{item.Destination}}</label>
                                </div>
                                <div class="col-grid-sm-5" data-colmn-title="{{'_SupplierNames_'| translate}}">
                                    <label>{{item.SupplierNames}}</label>
                                </div>
                                <div class="col-grid-sm-4" data-colmn-title="{{'_PONumbers_'| translate}}">
                                    <label>{{item.PONumbers}}</label>
                                </div>
                            </div>
                            <div class="col-grid-sm-2 align-right" data-colmn-title="Action">
                                <div class="btn-group action-btn" dropdown>
                                    <button type="button" class="btn" data-ng-click="Edit(item.Id)" translate="yes">_Edit_</button>
                                    <button type="button" class="btn action-toggle">
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)" data-ng-click="Delete(item.Id)" translate="yes" ng-class="{disableAnchor:IsReadOnlyDeleteButton,'':IsReadOnlyDeleteButton}">_Delete_</a></li>
                                        <!--<li><a href="javascript:void(0)" data-ng-click="ShowChangeLogPopup(item.Id)" translate="yes">_ViewChangeLog_</a></li>-->
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 pull-t-10 pad-l-190">
                                <span class="list-seperator" data-colmn-title="{{'_InvoiceNumbers_'| translate}}">
                                    <label translate="yes">_InvoiceNumbers_</label>
                                    <span>{{item.InvoiceNumbers}}</span>
                                </span>
                                <span class="list-seperator" data-colmn-title="{{'_ContainerNumber_'| translate}}">
                                    <label translate="yes">_ContainerNumber_</label>
                                    <span>{{item.ContainerNumber}}</span>
                                </span>
                                <span class="list-seperator" data-colmn-title="{{'_QualtityReview_'| translate}}">
                                    <label translate="yes">_QualityReview_</label>
                                    <span>{{item.QualityReviewStatus}}</span>
                                </span>
                                <span class="list-seperator" data-colmn-title="{{'_ShipmentReviewed_'| translate}}">
                                    <label translate="yes">_ShipmentReviewed_</label>
                                    <span>{{item.ShipmentReviewed}}</span>
                                </span>
                                <span class="list-seperator" data-colmn-title="{{'_EstSailDate_'| translate}}">
                                    <label translate="yes">_EstSailDate_</label>
                                    <span>{{item.EstShpmntDate | date:'dd-MMM-yy'}}</span>
                                </span>
                                <span class="list-seperator" data-colmn-title="{{'_ETAAtWarehouseAtDest_'| translate}}">
                                    <label translate="yes">_ETAAtWarehouseAtDest_</label>
                                    <span>{{item.ETAAtWarehouseAtDest | date:'dd-MMM-yy' }}</span>
                                </span>

                            </div>
                        </div>
                        <div class="lst-item" ng-hide="ShipmentList.length>0">
                            <div class="col-12">
                                <div class="error-box rounded-info-box">
                                    <p translate="yes">_NoRecordsFound_</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mespagination boundary-links="true" total-items="Paging.TotalRecords" on-select-page="pageChanged(page)"
                           page="Paging.PageNo" items-per-page="Paging.PageSize" fix-to-bottom=""
                           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page-size="pageSizeChanged(pagesize)" pagesize="Paging.PageSize"></mespagination>
            <!--Top Header Show Start-->
            <div class="freeze-bottom top-header-freeze-panel">
                <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
            </div>
            <!--Top Header Show End-->

            <!-- Start tab structure here -->
            <div class="freeze-bottom">
                <button class="back-button" onclick="RedirecttoDashboard.Go()"></button>
                <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
            </div>
            <!-- End tab structure here -->
            <!--Advance Search Part start-->
            <form>
                <div class="advance-search-panel">
                    <div class="search-title-box">
                        <div class="search-title">
                            Advance Search
                            <span onclick="advanceSearch.close()" class="fa fa-times-circle"></span>
                        </div>
                    </div>
                    <div class="search-content-panel">
                        <!-- Start form layout structure here -->
                        <div class="fs linear">
                            <div class="fs-g">
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_ShipmentNumber_' | translate}}" placeholder="{{'_ShipmentNumber_' | translate}}" ng-model="SearchCriteria.Id" tabindex="1" maxlength="6" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="checkbox" id="chkLateDelToForwarder" ng-model="SearchCriteria.IsLateDeliveryToForwarder" tabindex="2" />
                                        <label for="chkLateDelToForwarder" translate="yes">_LateDelToForwarder_</label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <select name="{{'_ShipmentMode_' | translate}}" ng-model="SearchCriteria.ShipmentMode" aa-field-name="{{'_ShipmentMode_'|translate}}" tabindex="3"
                                                ng-options="mode.value as mode.name for mode in ShipmentModeList">
                                            <option value="">{{'_SelectShipmentMode_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <select name="{{'_Supplier_' | translate}}" aa-field-name="{{'_Supplier_' | translate}}" ng-model="SearchCriteria.SupplierId" tabindex="4" ng-options="item.Id as item.Name for item in SupplierList">
                                            <option value="">{{'_SelectSupplier_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <select name="{{'_Origin_' | translate}}" ng-model="SearchCriteria.OriginId" aa-field-name="{{'_Origin_'|translate}}" tabindex="5"
                                                ng-options="item.Id as item.Name for item in OriginList">
                                            <option value="">{{'_SelectOrigin_' | translate}}</option>
                                        </select>

                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <select name="{{'_Forwarder_' | translate}}" ng-model="SearchCriteria.ForwarderId" aa-field-name="{{'_Forwarder_'|translate}}" tabindex="6"
                                                ng-options="item.Id as item.Name for item in ForwarderList">
                                            <option value="">{{'_SelectForwarder_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <select name="{{'_QualityReviewStatus_' | translate}}" ng-model="SearchCriteria.QualityReviewStatusId" aa-field-name="{{'_QualityReviewStatus_'|translate}}" tabindex="7"
                                                ng-options="qrs.value as qrs.name for qrs in QualityReviewStatusList">
                                            <option value="">{{'_SelectQualityReviewStatus_' | translate}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <span class="fs-f-i">
                                            <select name="{{'_Status_' | translate}}" ng-model="SearchCriteria.Status" aa-field-name="{{'_Status_'|translate}}" tabindex="8"
                                                    ng-options="status.value as status.name for status in StatusList">
                                                <option value="">{{'_SelectStatus_' | translate}}</option>
                                            </select>
                                        </span>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_PONumber_' | translate}}" placeholder="{{'_PONumber_' | translate}}" ng-model="SearchCriteria.PONumber" tabindex="9" maxlength="10" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_PartNumber_' | translate}}" placeholder="{{'_PartNumber_' | translate}}" ng-model="SearchCriteria.PartNumber" tabindex="10" maxlength="50" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_InspectorName_' | translate}}" placeholder="{{'_InspectorName_' | translate}}" ng-model="SearchCriteria.Inspector" tabindex="11" maxlength="50" />
                                    </span>
                                </div>
                                <div class="spacer-trip-full"></div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_EstSailDateBetween_' | translate}}"
                                               placeholder="{{'_EstSailDateBetween_' | translate}}" aa-field-name="{{'_EstSailDateBetween_' | translate}}"
                                               ng-model="SearchCriteria.EstShpmntDateFrom" tabindex="12" date-time view="date" min-view="date" format="dd-MMM-yy" max="{{SearchCriteria.EstShpmntDateTo}}" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <label translate="yes">_And_</label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_EstSailDate_' | translate}}"
                                               placeholder="{{'_EstSailDate_' | translate}}" aa-field-name="{{'_EstSailDate_' | translate}}"
                                               ng-model="SearchCriteria.EstShpmntDateTo" tabindex="13" date-time view="date" min-view="date" format="dd-MMM-yy" min="{{SearchCriteria.EstShpmntDateFrom}}" />
                                    </span>
                                </div>
                                <div class="spacer-trip-full"></div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_ETAAtWarehouseAtDestBetween_' | translate}}"
                                               placeholder="{{'_ETAAtWarehouseAtDestBetween_' | translate}}" aa-field-name="{{'_ETAAtWarehouseAtDestBetween_' | translate}}"
                                               ng-model="SearchCriteria.ETAAtWarehouseAtDestFrom" tabindex="12" date-time view="date" min-view="date" format="dd-MMM-yy" max="{{SearchCriteria.ETAAtWarehouseAtDestTo}}" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <label translate="yes">_And_</label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_ETAAtWarehouseAtDest_' | translate}}"
                                               placeholder="{{'_ETAAtWarehouseAtDest_' | translate}}" aa-field-name="{{'_ETAAtWarehouseAtDest_' | translate}}"
                                               ng-model="SearchCriteria.ETAAtWarehouseAtDestTo" tabindex="13" date-time view="date" min-view="date" format="dd-MMM-yy" min="{{SearchCriteria.ETAAtWarehouseAtDestFrom}}" />
                                    </span>
                                </div>
                                <div class="spacer-trip-full"></div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_ActArrDateAtWarehouseAtDestBetween_' | translate}}"
                                               placeholder="{{'_ActArrDateAtWarehouseAtDestBetween_' | translate}}" aa-field-name="{{'_ActArrDateAtWarehouseAtDestBetween_' | translate}}"
                                               ng-model="SearchCriteria.ActArrDateAtWarehouseAtDestFrom" tabindex="14" date-time view="date" min-view="date" format="dd-MMM-yy" max="{{SearchCriteria.ActArrDateAtWarehouseAtDestTo}}" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <label translate="yes">_And_</label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_ActArrDateAtWarehouseAtDest_' | translate}}"
                                               placeholder="{{'_ActArrDateAtWarehouseAtDest_' | translate}}" aa-field-name="{{'_ActArrDateAtWarehouseAtDest_' | translate}}"
                                               ng-model="SearchCriteria.ActArrDateAtWarehouseAtDestTo" tabindex="15" date-time view="date" min-view="date" format="dd-MMM-yy" min="{{SearchCriteria.ActArrDateAtWarehouseAtDestFrom}}" />
                                    </span>
                                </div>
                                <div class="spacer-trip-full"></div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_InspectionDateBetween_' | translate}}"
                                               placeholder="{{'_InspectionDateBetween_' | translate}}" aa-field-name="{{'_InspectionDateBetween_' | translate}}"
                                               ng-model="SearchCriteria.InspectionDateFrom" tabindex="16" date-time view="date" min-view="date" format="dd-MMM-yy" max="{{SearchCriteria.InspectionDateTo}}" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <label translate="yes">_And_</label>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-i">
                                        <input type="text" name="{{'_InspectionDate_' | translate}}"
                                               placeholder="{{'_InspectionDate_' | translate}}" aa-field-name="{{'_InspectionDate_' | translate}}"
                                               ng-model="SearchCriteria.InspectionDateTo" tabindex="17" date-time view="date" min-view="date" format="dd-MMM-yy" min="{{SearchCriteria.InspectionDateFrom}}" />
                                    </span>
                                </div>
                                <div class="spacer-trip-full"></div>
                            </div>
                        </div>
                        <!-- End form layout structure here -->
                    </div>
                    <div class="search-footer-box">
                        <button class="orange-btn" translate="yes" aa-submit-form="Search()" tabindex="">_Search_</button>
                        <button class="orange-btn" translate="yes" ng-click="ResetSearch()" tabindex="">_Reset_</button>
                    </div>
                </div>
            </form>
            <!--Advance Search End-->
        </div>
    </div>
</div>