<div class="common-accordion-panel" ng-controller="AddEditSuppliersCtrl">
    <form unsaved-warning-form novalidate id="spnAddEditSuppliers" accessible-form>
        <us-spinner spinner-key="spnAddEditSuppliers"></us-spinner>


        <div class="col-12 pad-10 pad-b-0">
            <div class="col-12">
                <h3 class="pad-b-5 title-sd"><span class="p-title-txt">{{'_SupplierDetails_' | translate}}</span></h3>
            </div>
            <div class="col-12 pad-10 border-box-content" dir-field-disabled="IsReadOnlyPage">
                <div class="fs linear fs-col-4">
                    <div class="fs-g">
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierCode_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierCode_' | translate}}" aa-field-name="{{'_SupplierCode_' | translate}}"
                                       ng-model="Supplier.SupplierCode" tabindex="1" ng-maxlength="50" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierName_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierName_' | translate}}" aa-field-name="{{'_SupplierName_' | translate}}"
                                       ng-model="Supplier.CompanyName" required tabindex="2" ng-maxlength="100" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_AddressLine1_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_AddressLine1_' | translate}}" aa-field-name="{{'_AddressLine1_' | translate}}"
                                       ng-model="Supplier.Address1" required tabindex="3" ng-maxlength="255" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_AddressLine2_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_AddressLine2_' | translate}}" aa-field-name="{{'_AddressLine2_' | translate}}"
                                       ng-model="Supplier.Address2" tabindex="4" ng-maxlength="255" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_City_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_City_' | translate}}" aa-field-name="{{'_City_' | translate}}"
                                       ng-model="Supplier.City" tabindex="5" required ng-maxlength="100" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_State_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_State_' | translate}}" aa-field-name="{{'_State_' | translate}}"
                                       ng-model="Supplier.State" tabindex="6" required ng-maxlength="100" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_PinCode_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_PinCode_' | translate}}" aa-field-name="{{'_PinCode_' | translate}}"
                                       ng-model="Supplier.Zip" tabindex="7" required ng-maxlength="50" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Country_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <select name="{{'_Country_' | translate}}" required aa-field-name="{{'_Country_' | translate}}" ng-model="Supplier.CountryId" tabindex="8" ng-options="item.Id as item.Name for item in CountryList">
                                    <option value="">{{'_SelectCountry_' | translate}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Website_</label>
                            </span> <span class="fs-f-i">
                                <input type="url" name="{{'_Website_' | translate}}" aa-field-name="{{'_Website_' | translate}}"
                                       ng-model="Supplier.Website" tabindex="11" ng-maxlength="500" my-url />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label class="no-colon"></label>
                            </span> <span class="fs-f-i pad-t-5">
                                <input type="checkbox" id="chkIsCurrentSupplier" ng-model="Supplier.IsCurrentSupplier" />
                                <label for="chkIsCurrentSupplier" translate="yes" tabindex="12">_ApprovedSupplier_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierPhone1_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierPhone1_' | translate}}" aa-field-name="{{'_SupplierPhone1_' | translate}}"
                                       ng-model="Supplier.CompanyPhone1" tabindex="13" required numbers-only ng-maxlength="20" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierPhone2_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierPhone2_' | translate}}" aa-field-name="{{'_SupplierPhone2_' | translate}}"
                                       ng-model="Supplier.CompanyPhone2" tabindex="14" numbers-only ng-maxlength="20" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierFax_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierFax_' | translate}}" aa-field-name="{{'_SupplierFax_' | translate}}"
                                       ng-model="Supplier.CompanyFax" tabindex="15" numbers-only ng-maxlength="20" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_WorkQualityRating_</label>
                            </span> <span class="fs-f-i rating-s">
                                <div star-rating rating-value="WorkQualityRating"
                                     data-max="5" on-rating-selected="WorkQualityRate(rating)"></div>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_TimeLineRating_</label>
                            </span> <span class="fs-f-i rating-s">
                                <div star-rating rating-value="TimelineRating"
                                     data-max="5" on-rating-selected="TimeLineRate(rating)"></div>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_CostingRating_</label>
                            </span> <span class="fs-f-i rating-s">
                                <div star-rating rating-value="CostingRating"
                                     data-max="5" on-rating-selected="CostingRate(rating)"></div>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierQuality_</label>
                            </span> <span class="fs-f-i">
                                <select name="{{'_SupplierQuality_' | translate}}" aa-field-name="{{'_SupplierQuality_' | translate}}" ng-model="Supplier.SQId" tabindex="16" ng-options="item.Id as item.Name for item in SupplierQualityList"></select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Status_</label>
                                <span class="required">*</span>
                            </span> <span class="fs-f-i">
                                <select name="{{'_Status_' | translate}}" aa-field-name="{{'_Status_' | translate}}" ng-model="Supplier.Status" tabindex="17" ng-options="item.Id as item.Name for item in StatusList" required>
                                    <!--<option value="">{{'_SelectStatus_' | translate}}</option>-->
                                </select>
                            </span>
                        </div>
                        <div class="fs-f" ng-hide="true">
                            <span class="fs-f-l">
                                <label translate="yes">_Commoditys_</label>
                            </span> <span class="fs-f-i commodity-type">
                                <multiselect multiple="true"
                                             ng-model="Supplier.CommoditySuppliers"
                                             itemkey="Id"
                                             itemvalue="Name"
                                             options="item.Id as item.Name for item in CommodityList"
                                             header="{{'_Commoditys_' | translate}}" button-class="small" tabindex="18"></multiselect>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Commodity_</label>
                            </span> <span class="fs-f-i commodity-type">
                                <multiselect multiple="true"
                                             ng-model="Supplier.CommoditySuppliers"
                                             itemkey="Id"
                                             itemvalue="Name"
                                             options="item.Id as item.Name for item in CommodityList"
                                             header="{{'_Commodity_' | translate}}" button-class="small" tabindex="18"></multiselect>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_AssessmentScore_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_AssessmentScore_' | translate}}" aa-field-name="{{'_AssessmentScore_' | translate}}"
                                       ng-model="Supplier.AssessmentScore" tabindex="19" ng-maxlength="10" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_AssessmentDate_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_AssessmentDate_' | translate}}"
                                       aa-field-name="{{'_AssessmentDate_' | translate}}"
                                       ng-model="Supplier.AssessmentDate" tabindex="20" date-time view="date" min-view="date" format="dd-MMM-yy" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Description_</label>
                            </span> <span class="fs-f-i">
                                <textarea type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}"
                                          ng-model="Supplier.Description" tabindex="9" ng-maxlength="500" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Comments_</label>
                            </span> <span class="fs-f-i">
                                <textarea type="text" name="{{'_Comments_' | translate}}" aa-field-name="{{'_Comments_' | translate}}"
                                          ng-model="Supplier.Comments" tabindex="10" ng-maxlength="500" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pad-10 pad-b-0 two-col-spacer-panel" dir-field-disabled="IsReadOnlyPage">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_SupplierContactList_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <div class="fs linear fs-col-3" ng-show="TransactionMode=='Create'">
                            <div class="fs-g">
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Prefix_</label>
                                    </span> <span class="fs-f-i">
                                        <select name="{{'_Prefix_' | translate}}" aa-field-name="{{'_Prefix_' | translate}}" ng-model="Contact.PrefixId" tabindex="21"
                                                ng-options="item.Id as item.Name for item in PrefixList"></select>
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_FirstName_</label>
                                        <span class="required">*</span>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_FirstName_' | translate}}"
                                               aa-field-name="{{'_FirstName_' | translate}}"
                                               ng-model="Contact.FirstName" tabindex="22" ng-required="TransactionMode=='Create'" ng-maxlength="100" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_LastName_</label>
                                        <span class="required">*</span>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_LastName_' | translate}}"
                                               aa-field-name="{{'_LastName_' | translate}}"
                                               ng-model="Contact.LastName" tabindex="23" ng-required="TransactionMode=='Create'" ng-maxlength="100" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Suffix_</label>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_Suffix_' | translate}}"
                                               aa-field-name="{{'_Suffix_' | translate}}"
                                               ng-model="Contact.Suffix" tabindex="24" ng-maxlength="5" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Designation_</label>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_Designation_' | translate}}"
                                               aa-field-name="{{'_Designation_' | translate}}"
                                               ng-model="Contact.Designation" tabindex="25" ng-maxlength="50" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Phone_</label>
                                        <span class="required">*</span>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_Phone_' | translate}}"
                                               aa-field-name="{{'_Phone_' | translate}}"
                                               ng-model="Contact.DirectPhone" tabindex="26" numbers-only ng-required="TransactionMode=='Create'" ng-maxlength="20" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Ext_</label>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_Ext_' | translate}}"
                                               aa-field-name="{{'_Ext_' | translate}}"
                                               ng-model="Contact.Extension" tabindex="27" numbers-only ng-maxlength="5" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Fax_</label>
                                    </span> <span class="fs-f-i">
                                        <input type="text" name="{{'_Fax_' | translate}}"
                                               aa-field-name="{{'_Fax_' | translate}}"
                                               ng-model="Contact.DirectFax" tabindex="28" numbers-only ng-maxlength="20" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Email_</label>
                                        <span class="required">*</span>
                                    </span> <span class="fs-f-i">
                                        <input type="email" name="{{'_Email_' | translate}}"
                                               aa-field-name="{{'_Email_' | translate}}"
                                               ng-model="Contact.Email" tabindex="29" ng-maxlength="100" ng-required="TransactionMode=='Create'" />
                                    </span>
                                </div>
                                <div class="fs-f">
                                    <span class="fs-f-l">
                                        <label translate="yes">_Comments_</label>
                                    </span> <span class="fs-f-i">
                                        <textarea type="text" name="{{'_Comments_' | translate}}"
                                                  aa-field-name="{{'_Comments_' | translate}}"
                                                  ng-model="Contact.Comments" tabindex="30" ng-maxlength="500" />
                                    </span>
                                </div>
                                <div class="fs-f" ng-show="TransactionMode=='Edit'">
                                    <span class="fs-f-l">
                                        <label class="no-colon">&nbsp;</label>
                                    </span> <span class="fs-f-i">
                                        <input type="checkbox" id="chkIsDefault" ng-model="Contact.IsDefault" ng-disabled="IsDefault==true" />
                                        <label for="chkIsDefault" translate="yes" tabindex="12">_IsDefault_</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="list-1 root-list" ng-show="TransactionMode=='Edit'">
                            <div class="lst-header">
                                <div class="lst-item">
                                    <div class="col-grid-sm-1">
                                        <input ng-change="SelectDeselectAll()" type="checkbox" id="chkSelectAll" ng-model="SelectAllObj.SelectAll" />
                                        <label for="chkSelectAll" translate="yes"><!--_SelectAll_--></label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'FirstName';sortReverse = !sortReverse">
                                            {{'_FirstName_' | translate}}
                                            <i ng-show="sortType == 'FirstName' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'FirstName' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'LastName';sortReverse = !sortReverse">
                                            {{'_LastName_' | translate}}
                                            <i ng-show="sortType == 'LastName' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'LastName' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-7">
                                        <label ng-click="sortType = 'Email';sortReverse = !sortReverse">
                                            {{'_Email_' | translate}}
                                            <i ng-show="sortType == 'Email' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'Email' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'IsDefault';sortReverse = !sortReverse">
                                            {{'_IsDefault_' | translate}}
                                            <i ng-show="sortType == 'IsDefault' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'IsDefault' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4 align-right spacer-right-t">
                                        <label ng-click="sortType = 'IsDefault';sortReverse = !sortReverse">
                                            {{'_Action_' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="lst-body">
                                <div class="lst-item" ng-repeat="item in Supplier.lstContact | orderBy:sortType:sortReverse">
                                    <div class="col-grid-sm-1" data-colmn-title="{{'_SelectAll_'| translate}}">
                                        <input ng-change="select()" type="checkbox" id="chkSelect{{$index}}" ng-model="item.chkSelect" ng-disabled="item.IsDefault==true" />
                                        <label for="chkSelect{{$index}}"></label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_FirstName_'| translate}}">
                                        <label>{{item.FirstName}}</label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_LastName_'| translate}}">
                                        <label>{{item.LastName}}</label>
                                    </div>
                                    <div class="col-grid-sm-7" data-colmn-title="{{'_Email_'| translate}}">
                                        <label>{{item.Email}}</label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_IsDefault_'| translate}}">
                                        <label>{{item.IsDefault? 'yes' : 'No'}}</label>
                                    </div>
                                    <div class="col-grid-sm-4 align-right">
                                        <div class="btn-group action-btn" dropdown ng-show="(item.IsDefault==true && Supplier.lstContact.length==1) || (item.IsDefault==false)">
                                            <button type="button" class="btn" data-ng-click="EditContact(item,$index)" translate="yes">_Edit_</button>
                                            <button type="button" class="btn action-toggle">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0)" data-ng-click="DeleteContact(item.Id,$index)" translate="yes">_Delete_</a></li>
                                                <!--<li><a href="javascript:void(0)" data-ng-click="ShowChangeLogPopup(item.Id)" translate="yes">_ViewChangeLog_</a></li>-->
                                            </ul>
                                        </div>
                                        <button type="button" class="btn" data-ng-click="EditContact(item,$index)" translate="yes" ng-show="item.IsDefault==true && Supplier.lstContact.length>1">_Edit_</button>
                                    </div>
                                </div>
                                <div class="lst-item" ng-hide="Supplier.lstContact.length>0">
                                    <div class="col-12">
                                        <div class="error-box rounded-info-box">
                                            <p translate="yes">_NoRecordsFound_</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="AddEditContact==true" class="last-trip-panel">
                            <button class="btn" ng-click="DeleteMultipleContact()" tabindex="30" translate="yes">_DeleteContacts_</button>
                            <button class="btn" ng-click="AddNewContact()" tabindex="30" translate="yes">_AddNew_</button>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

        <div class="col-12 pad-10" dir-field-disabled="IsReadOnlyPage">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_SupplierInformationForm_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <div class="list-1 root-list">
                            <div class="lst-header">
                                <div class="lst-item">
                                    <div class="col-3">
                                        <label ng-click="sortType = 'DocumentType';sortReverse = !sortReverse">
                                            {{'_DocumentType_' | translate}}
                                            <i ng-show="sortType == 'DocumentType' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'DocumentType' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <label ng-click="sortType = 'DocumentFilePath';sortReverse = !sortReverse">
                                            {{'_Document_' | translate}}
                                            <i ng-show="sortType == 'DocumentFilePath' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'DocumentFilePath' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <label ng-click="sortType = 'Comment';sortReverse = !sortReverse">
                                            {{'_Comment_' | translate}}
                                            <i ng-show="sortType == 'Comment' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'Comment' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <label ng-click="sortType = 'ExpirationDate';sortReverse = !sortReverse">
                                            {{'_ExpirationDate_' | translate}}
                                            <i ng-show="sortType == 'ExpirationDate' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'ExpirationDate' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-2 align-right spacer-right-t">
                                        <label ng-click="sortType = 'IsDefault';sortReverse = !sortReverse">
                                            {{'_Action_' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="lst-body">
                                <div class="lst-item" ng-repeat="item in Supplier.lstDocument | orderBy:sortType:sortReverse">
                                    <div class="col-3" data-colmn-title="{{'_DocumentType_'| translate}}">
                                        <label>{{item.DocumentTypeItem.Name}}</label>
                                    </div>
                                    <div class="col-2" data-colmn-title="{{'_Document_'| translate}}">
                                        <div class="">
                                            <a href="{{item.DocumentFilePath}}" target="_blank">{{item.DocumentFileName}}</a>
                                        </div>
                                    </div>
                                    <div class="col-3" data-colmn-title="{{'_Comment_'| translate}}">
                                        <label>{{item.Comment}}</label>
                                    </div>
                                    <div class="col-2" data-colmn-title="{{'_ExpirationDate_'| translate}}">
                                        <label>{{item.ExpirationDate | customDate:'shortDate'}}</label>
                                    </div>
                                    <div class="col-2 align-right">
                                        <div class="btn-group action-btn" dropdown>
                                            <button type="button" class="btn" data-ng-click="EditDocument(item,$index)" translate="yes">_Edit_</button>
                                            <button type="button" class="btn action-toggle">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0)" data-ng-click="DeleteDocument($index)" translate="yes">_Delete_</a></li>
                                                <!--<li><a href="javascript:void(0)" data-ng-click="ShowChangeLogPopup(item.Id)" translate="yes">_ViewChangeLog_</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lst-item" ng-hide="Supplier.lstDocument.length>0">
                                    <div class="col-12">
                                        <div class="error-box rounded-info-box">
                                            <p translate="yes">_NoRecordsFound_</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="AddEditDocument==true" class="last-trip-panel">
                            <button class="btn" ng-click="AddNewDocument()" tabindex="34" translate="yes">_AddNew_</button>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

        <div class="col-12 pad-10 pad-t-0 two-col-spacer-panel" ng-show="TransactionMode=='Edit'">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_SupplierAssessmentList_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-10">
                        <div class="list-1 root-list" ng-show="TransactionMode=='Edit'">
                            <div class="lst-header">
                                <div class="lst-item">
                                    <!--<div class="col-grid-sm-1">
                                        <input ng-change="SelectDeselectAll()" type="checkbox" id="chkSelectAll" ng-model="SelectAllObj.SelectAll" />
                                        <label for="chkSelectAll" translate="yes"></label>
                                    </div>-->
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'CreatedDate';sortReverse = !sortReverse">
                                            {{'_CreatedDate_' | translate}}
                                            <i ng-show="sortType == 'CreatedDate' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'CreatedDate' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'Revision';sortReverse = !sortReverse">
                                            {{'_Revision_' | translate}}
                                            <i ng-show="sortType == 'Revision' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'Revision' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'AuditDate';sortReverse = !sortReverse">
                                            {{'_AuditDate_' | translate}}
                                            <i ng-show="sortType == 'AuditDate' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'AuditDate' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'TotalScore';sortReverse = !sortReverse">
                                            {{'_TotalScore_' | translate}}
                                            <i ng-show="sortType == 'TotalScore' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'TotalScore' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4">
                                        <label ng-click="sortType = 'LeadAuditor';sortReverse = !sortReverse">
                                            {{'_LeadAuditor_' | translate}}
                                            <i ng-show="sortType == 'LeadAuditor' && sortReverse==false" class="fa fa-sort-asc"></i>
                                            <i ng-show="sortType == 'LeadAuditor' && sortReverse==true" class="fa fa-sort-desc"></i>
                                        </label>
                                    </div>
                                    <div class="col-grid-sm-4 align-right spacer-right-t">
                                        <label ng-click="sortType = 'IsDefault';sortReverse = !sortReverse">
                                            {{'_Action_' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="lst-body">
                                <div class="lst-item" ng-repeat="item in Supplier.lstAssessment | orderBy:sortType:sortReverse">
                                    <!--<div class="col-grid-sm-1" data-colmn-title="{{'_SelectAll_'| translate}}">
                                        <input ng-change="select()" type="checkbox" id="chkSelect{{$index}}" ng-model="item.chkSelect" ng-disabled="item.IsDefault==true" />
                                        <label for="chkSelect{{$index}}"></label>
                                    </div>-->
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_CreatedDate_'| translate}}">
                                        <label>{{item.CreatedDate|date:'dd-MMM-yy'}}</label>

                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_Revision_'| translate}}">
                                        <label>{{item.Revision}}</label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_AuditDate_'| translate}}">
                                        <label>{{item.AuditDate|date:'dd-MMM-yy'}}</label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_TotalScore_'| translate}}">
                                        <label>{{item.TotalScore}}</label>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_LeadAuditor_'| translate}}">
                                        <label>{{item.LeadAuditor}}</label>
                                    </div>
                                    <div class="col-grid-sm-4 align-right">
                                        <div class="btn-group action-btn" dropdown></div> <!--ng-show="(item.IsDefault==true && Supplier.lstContact.length==1) || (item.IsDefault==false)"-->
                                        <button type="button" class="btn" data-ng-click="EditAssessment(item,$index)" ng-show="!item.IsNew" translate="yes">_View_</button>
                                        <button type="button" class="btn" data-ng-click="EditAssessment(item,$index)" ng-show="item.IsNew" translate="yes" ng-disabled="IsReadOnlyPage">_Edit_</button>
                                        <!--<button type="button" class="btn action-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>-->
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0)" data-ng-click="DeleteAssessment(item.Id,$index)" translate="yes" ng-class="{disableAnchor:IsReadOnlyDeleteButton,'':IsReadOnlyDeleteButton}">_Delete_</a></li>
                                        </ul>
                                    </div>
                                    <!--<button type="button" class="btn" data-ng-click="EditAssessment(item,$index)" translate="yes" ng-show="Supplier.lstAssessment.length>1">_Edit_</button>-->
                                </div>

                                <div class="lst-item" ng-hide="Supplier.lstAssessment.length>0">
                                    <div class="col-12">
                                        <div class="error-box rounded-info-box">
                                            <p translate="yes">_NoRecordsFound_</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="TransactionMode=='Edit' && Supplier.lstAssessment.length==0" class="last-trip-panel">
                            <!--<button class="btn" ng-click="DeleteMultipleContact()" tabindex="30" translate="yes">_DeleteContacts_</button>-->
                            <button class="btn" ng-click="AddNewAssessment()" tabindex="30" translate="yes">_AddNew_</button>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

        <!--Top Header Show Start-->
        <div class="freeze-bottom top-header-freeze-panel">
            <button class="orange-btn" aa-submit-form="SaveSuppliers(0)" tabindex="40" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
            <button class="orange-btn" aa-submit-form="SaveSuppliers(1)" tabindex="40" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
            <!--<button class="orange-btn" ng-click="ResetForm()" tabindex="41" translate="yes">_Reset_</button>-->
            <button class="orange-btn" ng-click="RedirectToList()" tabindex="42" translate="yes">_Cancel_</button>
        </div>
        <!--Top Header Show End-->

        <div class="freeze-bottom">
            <button class="orange-btn" aa-submit-form="SaveSuppliers(0)" tabindex="40" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
            <button class="orange-btn" aa-submit-form="SaveSuppliers(1)" tabindex="40" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
            <!--<button class="orange-btn" ng-click="ResetForm()" tabindex="41" translate="yes">_Reset_</button>-->
            <button class="orange-btn" ng-click="RedirectToList()" tabindex="42" translate="yes">_Cancel_</button>
        </div>
    </form>
</div>
