<div class="col-12" ng-controller="SuppliersCtrl" id="spnSuppliers">
    <us-spinner spinner-key="spnSuppliers" spinner-start-active="1"></us-spinner>

    <!-- Start page title here -->
    <!--<div class="page-title">
        <span class="p-title-txt">{{'_Suppliers_' | translate}}</span>
    </div>-->
    <!-- End page title here -->
    <div class="list-1 root-list">
        <div class="lst-header">
            <div class="lst-item">
                <div class="col-grid-sm-1">
                    <input ng-change="SelectDeselectAll()" type="checkbox" id="chkSelectAll" ng-model="SelectAll" />
                    <label for="chkSelectAll"><!--_SelectAll_--></label>
                </div>
                <div class="col-grid-sm-4">
                    <label ng-click="sortType = 'CompanyName';sortReverse = !sortReverse">
                        {{'_SupplierName_' | translate}}
                        <i ng-show="sortType == 'CompanyName' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'CompanyName' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-3">
                    <label ng-click="sortType = 'SupplierQuality';sortReverse = !sortReverse">
                        {{'_SupplierQuality_' | translate}}
                        <i ng-show="sortType == 'SupplierQuality' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'SupplierQuality' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-2">
                    <label ng-click="sortType = 'City';sortReverse = !sortReverse">
                        {{'_City_' | translate}}
                        <i ng-show="sortType == 'City' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'City' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-2">
                    <label ng-click="sortType = 'State';sortReverse = !sortReverse">
                        {{'_State_' | translate}}
                        <i ng-show="sortType == 'State' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'State' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-3">
                    <label ng-click="sortType = 'Email';sortReverse = !sortReverse">
                        {{'_Email_' | translate}}
                        <i ng-show="sortType == 'Email' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'Email' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-3">
                    <label ng-click="sortType = 'Website';sortReverse = !sortReverse">
                        {{'_Website_' | translate}}
                        <i ng-show="sortType == 'Website' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'Website' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-2">
                    <label ng-click="sortType = 'CompanyPhone1';sortReverse = !sortReverse">
                        {{'_SupplierPhone_' | translate}}
                        <i ng-show="sortType == 'CompanyPhone1' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'CompanyPhone1' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-2">
                    <label ng-click="sortType = 'IsCurrentSupplierText';sortReverse = !sortReverse">
                        {{'_ApprovedSupplier_' | translate}}
                        <i ng-show="sortType == 'IsCurrentSupplierText' && sortReverse==false" class="fa fa-sort-asc"></i>
                        <i ng-show="sortType == 'IsCurrentSupplierText' && sortReverse==true" class="fa fa-sort-desc"></i>
                    </label>
                </div>
                <div class="col-grid-sm-2 align-right">
                    <label translate="yes">Action</label>
                </div>
            </div>
        </div>
        <div class="lst-body">
            <div class="lst-item" ng-repeat="item in SuppliersList | orderBy:sortType:sortReverse">
                <div class="col-grid-sm-1" data-colmn-title="{{'_SelectAll_'| translate}}">
                    <input ng-change="select()" type="checkbox" id="chkSelect{{$index}}" ng-model="item.chkSelect" />
                    <label for="chkSelect{{$index}}"></label>
                </div>
                <div class="row-click-section" data-ng-click="Edit(item.Id)">
                    <div class="col-grid-sm-4" data-colmn-title="{{'_SupplierName_'| translate}}">
                        <p>{{item.CompanyName}}</p>
                    </div>
                    <div class="col-grid-sm-3" data-colmn-title="{{'_SupplierQuality_'| translate}}">
                        <label>{{item.SupplierQuality}}</label>
                    </div>
                    <div class="col-grid-sm-2" data-colmn-title="{{'_City_'| translate}}">
                        <label>{{item.City}}</label>
                    </div>
                    <div class="col-grid-sm-2" data-colmn-title="{{'_State_'| translate}}">
                        <label>{{item.State}}</label>
                    </div>
                    <div class="col-grid-sm-3" data-colmn-title="{{'_Email_'| translate}}" ng-click="disableClick($event,item.Email)">
                        <a href="mailto:{{item.Email}}">{{item.Email}}</a>
                    </div>
                    <div class="col-grid-sm-3" data-colmn-title="{{'_Website_'| translate}}" ng-click="disableClick($event,item.Website)">
                        <a href="{{item.Website}}" target="_blank">{{item.Website}}</a>
                    </div>
                    <div class="col-grid-sm-2" data-colmn-title="{{'_SupplierPhone_'| translate}}">
                        <label>{{item.CompanyPhone1}}</label>
                    </div>
                    <div class="col-grid-sm-2" data-colmn-title="{{'_ApprovedSupplier_'| translate}}">
                        <label>{{item.IsCurrentSupplierText}}</label>
                    </div>
                </div>
                <div class="col-grid-sm-2 align-right">
                    <div class="btn-group action-btn" dropdown>
                        <button type="button" class="btn" data-ng-click="Edit(item.Id)" translate="yes">_Edit_</button>
                        <button type="button" class="btn action-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" data-ng-click="Delete(item.Id)" translate="yes" ng-class="{disableAnchor:IsReadOnlyDeleteButton,'':IsReadOnlyDeleteButton}">_Delete_</a></li>
                            <!--<li><a href="javascript:void(0)" data-ng-click="ShowChangeLogPopup(item.Id)" translate="yes">_ViewChangeLog_</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lst-item" ng-hide="SuppliersList.length>0">
                <div class="col-12">
                    <div class="error-box rounded-info-box">
                        <p translate="yes">_NoRecordsFound_</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mespagination boundary-links="true" total-items="Paging.TotalRecords" on-select-page="pageChanged(page)"
                   page="Paging.PageNo" items-per-page="Paging.PageSize" fix-to-bottom=""
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page-size="pageSizeChanged(pagesize)" pagesize="Paging.PageSize"></mespagination>

    <!--Top Header Show Start-->
    <div class="freeze-bottom top-header-freeze-panel">
        <button class="orange-btn" ng-click="DeleteMultipleSuppliers()" ng-disabled="IsReadOnlyDeleteButton">{{'_DeleteSuppliers_' | translate}}</button>
        <button class="orange-btn" ng-click="SendEmails()">{{'_SendEmail_' | translate}}</button>
        <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
    </div>
    <!--Top Header Show End-->
    <!-- Start tab structure here -->
    <div class="freeze-bottom">
        <button class="back-button" onclick="RedirecttoDashboard.Go()"></button>
        <button class="orange-btn" ng-click="DeleteMultipleSuppliers()" ng-disabled="IsReadOnlyDeleteButton">{{'_DeleteSuppliers_' | translate}}</button>
        <button class="orange-btn" ng-click="SendEmails()">{{'_SendEmail_' | translate}}</button>
        <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
    </div>
    <!-- End tab structure here -->
    <!--Advance Search Part start-->
    <form ng-submit="Search()">
        <div class="advance-search-panel">
            <div class="search-title-box">
                <div class="search-title">
                    Advance Search
                    <span onclick="advanceSearch.close()" class="fa fa-times-circle"></span>
                </div>
            </div>
            <div class="search-content-panel">
                <!-- Start form layout structure here -->
                <div class="fs linear">
                    <div class="fs-g">
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Supplier_' | translate}}" placeholder="{{'_Supplier_' | translate}}" ng-model="SearchCriteria.CompanyName" tabindex="51" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="text" name="{{'_City_' | translate}}" placeholder="{{'_City_' | translate}}" ng-model="SearchCriteria.City" tabindex="52" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="text" name="{{'_State_' | translate}}" placeholder="{{'_State_' | translate}}" ng-model="SearchCriteria.State" tabindex="53" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Website_' | translate}}" placeholder="{{'_Website_' | translate}}" ng-model="SearchCriteria.Website" tabindex="54" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierPhone_' | translate}}" aa-field-name="{{'_SupplierPhone_' | translate}}" placeholder="{{'_SupplierPhone_' | translate}}" ng-model="SearchCriteria.CompanyPhone1" tabindex="55" numbers-only ng-maxlength="20" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <select name="{{'_Status_' | translate}}" aa-field-name="{{'_Status_' | translate}}" ng-model="SearchCriteria.Status" tabindex="56" ng-options="item.Id as item.Name for item in StatusList">
                                    <option value="">{{'_SelectStatus_' | translate}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <multiselect multiple="true"
                                             ng-model="SearchCriteria.CommoditySuppliers"
                                             itemkey="Id"
                                             itemvalue="Name"
                                             options="item.Id as item.Name for item in CommodityList"
                                             header="{{'_Commoditys_' | translate}}"
                                             button-class="small"
                                             tabindex="57"></multiselect>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkIsCurrentSupplier" ng-model="SearchCriteria.IsCurrentSupplier" tabindex="2" />
                                <label for="chkIsCurrentSupplier" translate="yes">_ApprovedSupplier_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <select name="{{'_WorkQualityRating_' | translate}}" aa-field-name="{{'_WorkQualityRating_' | translate}}" ng-model="SearchCriteria.WorkQualityRating" tabindex="58">
                                    <option value="">{{'_SelectWorkQuality_' | translate}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <select name="{{'_TimeLineRating_' | translate}}" aa-field-name="{{'_TimeLineRating_' | translate}}" ng-model="SearchCriteria.TimeLineRating" tabindex="59">
                                    <option value="">{{'_SelectTimeLine_' | translate}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <select name="{{'_CostingRating_' | translate}}" aa-field-name="{{'_CostingRating_' | translate}}" ng-model="SearchCriteria.CostingRating" tabindex="60">
                                    <option value="">{{'_SelectCosting_' | translate}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End form layout structure here -->
            </div>
            <div class="search-footer-box">
                <button class="orange-btn" translate="yes" aa-submit-form="Search()" tabindex="61">_Search_</button>
                <button class="orange-btn" translate="yes" ng-click="ResetSearch()" tabindex="62">_Reset_</button>
            </div>
        </div>
    </form>
    <!--Advance Search End-->
</div>
