<form unsaved-warning-form novalidate id="frmDocument">
    <div class="modal-header">
        <h3 translate="yes">_PageDocument_</h3>
    </div>
    <div class="modal-body">
        <div class="slider-scroll-container">
            <div class="fs linear fs-col-2">
                <div class="fs-g">
                    <div class="fs-f full-c">
                        <span class="fs-f-l">
                            <label translate="yes">_DocumentType_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <select name="{{'_DocumentType_' | translate}}" aa-field-name="{{'_DocumentType_' | translate}}" ng-model="Document.DocumentTypeItem" tabindex="31"
                                    ng-options="item as item.Name for item in DocumentList track by item.Id" required>
                                <option value="">{{'_SelectDocumentType_' | translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Document_</label>
                        </span> <span class="fs-f-i">
                            <file-select fs-model="Document.DocumentFilePath"
                                         fs-multiselect="false"
                                         fs-upload-path="documentPath"
                                         fs-extension-validation-msg="File not supported"
                                         fs-saveuploadedfiles="SetObjectvalues(UploadedFilePath,UploadedFileName)"
                                         fs-spinnder-key="spnAddEditSuppliers"
                                         fs-stop-spinner="1"
                                         fs-extension=".txt, .pdf, .xls, .xlsx, .doc, .docx, .jpg, .jpeg, .gif, .png, .tif, .tiff, .csv, .ppt, .pptx, .stp, .step, .iges, .igs, .dwf,
                                                 .dxf, .dwg, .zip, .rar, .7z, .sldprt, .1, .2, .3, .10, .15, .16, .20, .36, .39, .59, .82, .104, .115, .170"
                                         fs-file-upload-folder-name="Supplier/Documents"
                                         fs-max-size="1050000"
                                         ng-if="Document.DocumentFilePath==''"></file-select>
                            <ul class="images-upload-panal mar-t-5" ng-if="Document.DocumentFilePath!=''">
                                <li ng-repeat="objUpFile in selectedFiles">
                                    <a href="\RFQ\Supplier\Supplier\DownloadFile?filePath={{objUpFile.UploadedFilePath}}&fileName={{objUpFile.UploadFileName}}" target="_blank">{{objUpFile.UploadedFileName}}</a>
                                    <button class="btn float-r" ng-click="deleteFile(objUpFile.UploadedFilePath, $index)"> <i class="fa fa-close"></i> </button>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Comment_</label>
                        </span> <span class="fs-f-i">
                            <textarea type="text" name="{{'_Comment_' | translate}}"
                                      aa-field-name="{{'_Comment_' | translate}}"
                                      ng-model="Document.Comment" tabindex="33" ng-maxlength="300" />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_ExpirationDate_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <input type="text" name="{{'_ExpirationDate_' | translate}}"
                                   aa-field-name="{{'_ExpirationDate_' | translate}}"
                                   ng-model="Document.ExpirationDate" tabindex="34" required date-time view="date" min-view="date" format="dd-MMM-yy" />
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="fs-g">
            <button class="orange-btn" aa-submit-form="AddDocument()" tabindex="34" translate="yes">_Save_ </button>
            <button class="orange-btn" ng-click="Cancel()" tabindex="34" translate="yes">_Cancel_</button>
        </div>
    </div>
</form>
