<div class="common-accordion-panel" ng-controller="ShipmentCtrl">
    <!--spinner-start-active="1"-->
    <form unsaved-warning-form novalidate id="spnShipment">
        <us-spinner spinner-key="spnShipment"></us-spinner>
        <div class="col-12">
            <div class="col-12">
                <div>
                    <div class="col-12 pad-10">
                        <accordion close-others="false">
                            <accordion-group heading="" is-open="true">
                                <accordion-heading>
                                    <span class="p-title-txt">{{'_DownloadShipment_' | translate}}</span>
                                    <span class="accordion-icon"></span>
                                </accordion-heading>
                                <div class="col-12 pad-10">
                                    <div class="col-12">
                                        <div class="list-box-item-panel">
                                            <p>{{'_DownloadShipmentText1_' | translate}}</p>
                                            <ul>
                                                <li>{{'_DownloadShipmentText2_' | translate}}</li>
                                                <li>{{'_DownloadShipmentText3_' | translate}}</li>
                                                <li>{{'_DownloadShipmentText4_' | translate}}</li>
                                                <li>{{'_DownloadShipmentText5_' | translate}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="last-trip-panel">
                                        <button class="orange-btn" ng-click="Download()" translate="yes">_DownloadShipment_</button>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="col-12 pad-10 pad-t-0">
                        <accordion close-others="false">
                            <accordion-group heading="" is-open="true">
                                <accordion-heading>
                                    <span class="p-title-txt">{{'_UploadShipment_' | translate}}</span>
                                    <span class="accordion-icon"></span>
                                </accordion-heading>
                                <div class="col-12 pad-10">
                                    <div class="col-12">
                                        <div class="list-box-item-panel">
                                            <p>{{'_UploadShipmentText1_'|translate}}</p>
                                            <ul>
                                                <li>{{'_UploadShipmentText2_'|translate}}</li>
                                                <li>{{'_UploadShipmentText3_'|translate}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="last-trip-panel">
                                        <label class="mar-r-10"><a href="{{Shipment.uploadShipmentFilePath}}" target="_blank" ng-hide="Shipment.uploadShipmentFilePath==undefined || Shipment.uploadShipmentFilePath==''"><span translate="yes">_ViewFile_</span></a></label>
                                        <file-select fs-model="Shipment.uploadShipmentFilePath"
                                                     fs-multiselect="false"
                                                     fs-upload-path="ShipmentFiles"
                                                     fs-extension-validation-msg="File not supported"
                                                     fs-extension=".xls, .xlsx"
                                                     fs-saveuploadedfiles="SetObjectvalues(UploadedFilePath,UploadedFileName)"
                                                     fs-spinnder-key="spnShipment"
                                                     fs-stop-spinner="1"
                                                     fs-file-upload-folder-name="TempFilesEmailAttachments"
                                                     fs-max-size="1050000" style="width:auto;"></file-select>
                                        <button class="orange-btn" ng-click="Upload()" translate="yes" ng-disabled="IsReadOnlyPage">_UploadShipment_</button>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
                <div class="freeze-bottom">
                    <button class="back-button" onclick="RedirecttoDashboard.Go()"></button>
                </div>
            </div>
        </div>
    </form>
</div>  