<div class="common-accordion-panel" ng-controller="AddEditCAPACtrl" id="spnAPQP">
    <us-spinner spinner-key="spnAPQP" spinner-start-active="1"></us-spinner> <!--spinner-start-active="1"-->
    <!--<form unsaved-warning-form novalidate accessible-form></form>-->
    <div class="common-accordion-panel">
        <form unsaved-warning-form novalidate accessible-form>
            <!-- CAPA Header Section -->
            <div class="col-12 pad-10 pad-b-0">
                <div class="col-12">
                    <h3 class="pad-b-5 title-sd"><span class="p-title-txt">{{Header}}</span></h3>
                </div>
                <div class="col-12 pad-10 border-box-content">
                    <div class="fs linear fs-col-5">
                        <div class="fs-g">
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_Customer_</label>
                                    <span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_Customer_' | translate}}" aa-field-name="{{'_Customer_'|translate}}" ng-model="CAPA.CustomerCode" ng-options="item.Id as item.Name for item in SAPCustomersList"
                                            ng-change="setCustomerName(CAPA.CustomerCode);SetLooksupForPartOnCustomerChange()" required ng-class="{disableAnchor:TransactionMode=='Edit'}" ng-disabled="IsReadOnlyPage || TransactionMode=='Edit'">
                                        <option value="">{{'_Select_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_PartNo_</label>
                                    <span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <span class="col-11">
                                        <multiselect multiple="true"
                                                     ng-model="CAPA.PartNumberItems"
                                                     itemkey="Id"
                                                     itemvalue="Name"
                                                     options="item as item.Name for item in SAPPartsList"
                                                     header="{{'_Select_' | translate}}" button-class="small"
                                                     ng-change="GetSAPSupplier()"></multiselect>
                                    </span>
                                    <span class="col-1 button-add-s">
                                        <button ng-show="TransactionMode=='Edit'" aa-submit-form="SaveCAPA('DropdownButton',0,0)" ng-attr-title="{{'_AddNewText_'| translate}}" ng-disabled="IsReadOnlyPage"><i class="fa fa-plus-circle"></i></button>
                                    </span>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_Supplier_</label>
                                    <span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_Supplier_' | translate}}" aa-field-name="{{'_Supplier_'|translate}}" ng-model="CAPA.SupplierCode" ng-options="item.Id as item.Name for item in SAPSuppliersList"
                                            ng-change="setSupplierName(CAPA.SupplierCode);SetLooksupForSupplierContact(CAPA.SupplierCode,'Add')" required ng-class="{disableAnchor:TransactionMode=='Edit'}" ng-disabled="IsReadOnlyPage || TransactionMode=='Edit'">
                                        <option value="">{{'_Select_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_SupplierContact_</label>
                                    <span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <input type="text" name="{{'_SupplierContact_' | translate}}" aa-field-name="{{'_SupplierContact_'|translate}}" ng-model="CAPA.SupplierContactName"
                                           position="fixed" width="200" typeaheadwatchchanges="CAPA.SupplierContactName" typeahead-on-select="OnSupplierContactSelect($item, CAPA)"
                                           typeahead="item as item.Name for item in SupplierContactList | filter:$viewValue" typeahead-focus-first="false" ng-blur="setSupplierContact(CAPA)" required autocomplete="off" ng-disabled="IsReadOnlyPage" />
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_CAInitiatedBy_</label><span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_CAInitiatedBy_' | translate}}" aa-field-name="{{'_CAInitiatedBy_'|translate}}" ng-model="CAPA.CorrectiveActionInitiatedBy" ng-options="item.Id as item.Name for item in CAPAInitiatedByList" required ng-disabled="IsReadOnlyPage">
                                        <option value="">{{'_Select_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_CAInitiatedDate_</label><span class="required">*</span>
                                </span>
                                <span class="fs-f-i">
                                    <input type="text" name="{{'_CAInitiatedDate_' | translate}}" aa-field-name="{{'_CAInitiatedDate_' | translate}}" ng-model="CAPA.CorrectiveActionInitiatedDate" date-time view="date" min-view="date" format="dd-MMM-yy" required ng-disabled="IsReadOnlyPage" />
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_IncludeInPPM_</label>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_IncludeInPPM_' | translate}}" aa-field-name="{{'_IncludeInPPM_'|translate}}" ng-model="CAPA.IncludeInPPM" ng-disabled="IsReadOnlyPage">
                                        <option value="Yes">{{'_Yes_' | translate}}</option>
                                        <option value="No">{{'_No_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_IntOrExtType_</label>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_IntOrExtType_' | translate}}" aa-field-name="{{'_IntOrExtFinding_'|translate}}" ng-model="CAPA.CorrectiveActionType" ng-disabled="IsReadOnlyPage">
                                        <option value="External">{{'_External_' | translate}}</option>
                                        <option value="Internal">{{'_Internal_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_CAPAType_</label>
                                </span>
                                <span class="fs-f-i">
                                    <select name="{{'_CAPAType_' | translate}}" ng-model="CAPA.ReviewCtrlPlan" aa-field-name="{{'_CAPAType_'|translate}}" ng-disabled="IsReadOnlyPage">
                                        <option value="">{{'_Select_' | translate}}</option>
                                        <option value="CA">{{'_CA_' | translate}}</option>
                                        <option value="PA">{{'_PA_' | translate}}</option>
                                        <option value="CI">{{'_CI_' | translate}}</option>
                                    </select>
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_ReviewFMEA_</label>
                                </span>
                                <span class="fs-f-i">
                                    <input type="text" name="{{'_ReviewFMEA_' | translate}}" aa-field-name="{{'_ReviewFMEA_' | translate}}" ng-model="CAPA.ReviewFMEA" ng-disabled="IsReadOnlyPage" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Section - 1 - CAPA - Part Name(s) and Part#(s) Affected: -->
            <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <accordion close-others="false">
                    <accordion-group heading="" is-open="true">
                        <accordion-heading>
                            <span class="p-title-txt">{{'_PartNameandPartAffected_' | translate}}</span>
                            <span class="accordion-icon"></span>
                        </accordion-heading>
                        <div class="col-12 pad-10 pad-b-0">
                            <div class="list-1 root-list">
                                <div class="lst-header">
                                    <div class="lst-item">
                                        <div class="col-2">
                                            <label ng-click="sortType = 'PartNo';sortReverse = !sortReverse">
                                                {{'_PartNo_' | translate}}
                                                <i ng-show="sortType == 'PartNo' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'PartNo' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <label ng-click="sortType = 'PartName';sortReverse = !sortReverse">
                                                {{'_PartName_' | translate}}
                                                <i ng-show="sortType == 'PartName' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'PartName' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <label ng-click="sortType = 'DefectType';sortReverse = !sortReverse">
                                                {{'_DefectType_' | translate}}
                                                <i ng-show="sortType == 'DefectType' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'DefectType' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <label ng-click="sortType = 'InitialPartsquantityNOGOODCustomer';sortReverse = !sortReverse">
                                                {{'_InitialPartsquantityNOGOODCustomer_' | translate}}
                                                <i ng-show="sortType == 'InitialPartsquantityNOGOODCustomer' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'InitialPartsquantityNOGOODCustomer' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-1">
                                            <label ng-click="sortType = 'PartsquantityNOGOODSupplier';sortReverse = !sortReverse">
                                                {{'_PartsquantityNOGOODSupplier_' | translate}}
                                                <i ng-show="sortType == 'PartsquantityNOGOODSupplier' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'PartsquantityNOGOODSupplier' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-1">
                                            <label ng-click="sortType = 'DeliveryHowmanypartsnotShippedontime';sortReverse = !sortReverse">
                                                {{'_DeliveryHowmanypartsnotShippedontime_' | translate}}
                                                <i ng-show="sortType == 'DeliveryHowmanypartsnotShippedontime' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'DeliveryHowmanypartsnotShippedontime' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-1 align-center">
                                            <label ng-click="sortType = 'DOCUMENT';sortReverse = !sortReverse">
                                                {{'_DOCUMENT_' | translate}}
                                                <i ng-show="sortType == 'DOCUMENT' && sortReverse==false" class="fa fa-sort-asc"></i>
                                                <i ng-show="sortType == 'DOCUMENT' && sortReverse==true" class="fa fa-sort-desc"></i>
                                            </label>
                                        </div>
                                        <div class="col-1 align-right spacer-right-t">
                                            <label>
                                                {{'_Action_' | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="lst-body">
                                    <!--table-datafix-height-->
                                    <div class="lst-item" ng-repeat="partItem in CAPA.lstcapaPartAffectedDetails | filter:{IsDeletedFromObject:false}">
                                        <div class="col-2" data-colmn-title="{{'_PartNo_'| translate}}">
                                            <label>
                                                {{partItem.PartCode}}
                                            </label>
                                            <!--<select name="{{'_APQPItemId_' | translate}}" aa-field-name="{{'_APQPItemId_'|translate}}" ng-model="partItem.APQPItemId" ng-options="item.Id as item.Name for item in SAPPartsList" ng-change="setPartName(partItem.APQPItemId,partItem)">
                                                <option value="">{{'_Select_' | translate}}</option>
                                            </select>-->
                                        </div>
                                        <div>
                                        </div>
                                        <div class="col-2" data-colmn-title="{{'_PartName_'| translate}}">
                                            <input type="text" name="{{'_PartName_' | translate}}" aa-field-name="{{'_PartName_' | translate}}" ng-model="partItem.PartName" />
                                        </div>
                                        <div class="col-2" data-colmn-title="{{'_DefectType_'| translate}}">
                                            <select name="{{'_DefectType_' | translate}}" aa-field-name="{{'_DefectType_'|translate}}" ng-model="partItem.DefectTypeId" ng-options="item.Id as item.Name for item in DefectTypeList">
                                                <option value="">{{'_Select_' | translate}}</option>
                                            </select>
                                        </div>
                                        <div class="col-2" data-colmn-title="{{'_InitialPartsquantityNOGOODCustomer_'| translate}}">
                                            <input type="text" class="align-right" name="{{'_CustomerRejectedPartQty_' | translate}}"
                                                   aa-field-name="{{'_CustomerRejectedPartQty_' | translate}}"
                                                   ng-model="partItem.CustomerRejectedPartQty" ng-maxlength="8" integer-only />
                                        </div>
                                        <div class="col-1" data-colmn-title="{{'_PartsquantityNOGOODSupplier_'| translate}}">
                                            <input type="text" class="align-right" name="{{'_SupplierRejectedPartQty_' | translate}}"
                                                   aa-field-name="{{'_SupplierRejectedPartQty_' | translate}}"
                                                   ng-model="partItem.SupplierRejectedPartQty" ng-maxlength="8" integer-only />
                                        </div>
                                        <div class="col-1" data-colmn-title="{{'_DeliveryHowmanypartsnotShippedontime_'| translate}}">
                                            <input type="text" class="align-right" name="{{'_PartsDeliveryLateQty_' | translate}}"
                                                   aa-field-name="{{'_PartsDeliveryLateQty_' | translate}}"
                                                   ng-model="partItem.PartsDeliveryLateQty" ng-maxlength="8" integer-only />
                                        </div>
                                        <div class="col-1 align-center" data-colmn-title="{{'_DOCUMENT_'| translate}}">
                                            <a href="javascript:void(0)" ng-click="ShowPopupDocuments(partItem.Id)"><img src="/Content/images/document-icon.png"></a>
                                        </div>
                                        <div class="col-1 align-right button-add-s">
                                            <button ng-click="DeleteCAPAPartAffectedDetail(partItem)"><i class="fa fa-minus-circle"></i></button>
                                        </div>
                                    </div>
                                    <div class="lst-item" ng-hide="getCountForAffectedPartDetail()>0">
                                        <div class="col-12">
                                            <div class="error-box rounded-info-box">
                                                <p translate="yes">_NoRecordsFound_</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>

            <!--Section - 2 - CAPA -  Detailed description of problem (date shipped, part numbers) -->
            <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <accordion close-others="false">
                    <accordion-group heading="" is-open="true">
                        <accordion-heading>
                            <span class="p-title-txt">{{'_ProblemDescription_' | translate}}</span>
                            <span class="accordion-icon"></span>
                        </accordion-heading>
                        <div class="col-12 pad-0 pad-b-0">
                            <div class="list-1 root-list">
                                <div class="lst-body">
                                    <div class="lst-item" ng-repeat="problemDescItem in CAPA.lstcapaProblemDescriptions">
                                        <div class="col-2">
                                            <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="problemDescItem.QueryId" ng-options="item.Id as item.Name for item in QueryList" class="always-disable">
                                                <option value="">{{'_Select_' | translate}}</option>
                                            </select>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" name="{{'_Reason_' | translate}}" aa-field-name="{{'_Reason_' | translate}}" ng-model="problemDescItem.Reason" />
                                        </div>
                                        <div class="col-2 align-right button-add-s">
                                            <button ng-click="DeleteProblemDescription($index)"><i class="fa fa-minus-circle"></i></button>
                                        </div>
                                    </div>
                                    <div class="lst-item" ng-show="CAPA.lstcapaProblemDescriptions.length<QueryList.length">
                                        <div class="col-2">
                                            <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="objProblemDescription.QueryId" ng-options="item.Id as item.Name for item in FilteredQueryList">
                                                <option value="">{{'_Select_' | translate}}</option>
                                            </select>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" name="{{'_Reason_' | translate}}" aa-field-name="{{'_Reason_' | translate}}" ng-model="objProblemDescription.Reason" />
                                        </div>
                                        <div class="col-2 align-right button-add-s">
                                            <button ng-click="AddProblemDescription()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>

            <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <!--Section - 3 - CAPA - Temporary Countermeasure -->
                <div class="col-6 pad-r-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt drop-menu-spacer-header">
                                    {{'_TemporaryCountermeasure_'|translate}}
                                </span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pad-10 pad-b-0">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="tempCountermeasureItem in CAPA.lstcapaTempCountermeasures">
                                            <div class="col-2">
                                                <label>
                                                    {{$index + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="tempCountermeasureItem.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_EffectiveDate_' | translate}}" placeholder="{{'_EffectiveDate_' | translate}}" aa-field-name="{{'_EffectiveDate_' | translate}}" ng-model="tempCountermeasureItem.EffectiveDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeleteTempCountermeasures($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaTempCountermeasures.length<7">
                                            <div class="col-2">
                                                <label>
                                                    {{CAPA.lstcapaTempCountermeasures.length + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objTempCountermeasures.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_EffectiveDate_' | translate}}" placeholder="{{'_EffectiveDate_' | translate}}" aa-field-name="{{'_EffectiveDate_' | translate}}" ng-model="objTempCountermeasures.EffectiveDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddTempCountermeasures()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <!--Section - 4 - CAPA - Verification -->
                <div class="col-6 pad-l-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt drop-menu-spacer-header">
                                    {{'_Verification_'|translate}}
                                </span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pad-10 pad-b-0">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="verificationsItem in CAPA.lstcapaVerifications">
                                            <div class="col-2">
                                                <label>
                                                    {{$index + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="verificationsItem.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_VerificationDate_' | translate}}" aa-field-name="{{'_VerificationDate_' | translate}}" placeholder="{{'_VerificationDate_' | translate}}" ng-model="verificationsItem.VerificationDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeleteCAPAVerifications($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaVerifications.length<5">
                                            <div class="col-2">
                                                <label>
                                                    {{CAPA.lstcapaVerifications.length + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objCAPAVerifications.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_VerificationDate_' | translate}}" aa-field-name="{{'_VerificationDate_' | translate}}" placeholder="{{'_VerificationDate_' | translate}}" ng-model="objCAPAVerifications.VerificationDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddCAPAVerifications()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <!--Section - 5 - CAPA - Root Cause- Why Made? -->
                <div class="col-6 pad-r-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt">{{'_RootCauseWhyMade_' | translate}}</span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-12 pad-10 pad-b-0">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="rootCauseWhyMadeItem in CAPA.lstcapaRootCauseWhyMade">
                                            <div class="col-2">
                                                <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="rootCauseWhyMadeItem.QueryId" ng-options="item.Id as item.Name for item in RootCauseWhyMadeQueryList"></select>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="rootCauseWhyMadeItem.Reason" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeleteRootCauseWhyMade($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaRootCauseWhyMade.length<5">
                                            <div class="col-2">
                                                <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="objRootCauseWhyMade.QueryId" ng-options="item.Id as item.Name for item in RootCauseWhyMadeQueryList"></select>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objRootCauseWhyMade.Reason" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddRootCauseWhyMade()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <!--Section - 6 - CAPA -  Root Cause- Why shipped? -->
                <div class="col-6 pad-l-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt">{{'_RootCauseWhyshipped_' | translate}}</span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-12 pad-10 pad-b-0">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="rootCauseWhyShippedItem in CAPA.lstcapaRootCauseWhyShipped">
                                            <div class="col-2">
                                                <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="rootCauseWhyShippedItem.QueryId" ng-options="item.Id as item.Name for item in RootCauseWhyShippedQueryList"></select>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="rootCauseWhyShippedItem.Reason" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeleteRootCauseWhyShipped($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaRootCauseWhyShipped.length<5">
                                            <div class="col-2">
                                                <select name="{{'_Query_' | translate}}" aa-field-name="{{'_Query_'|translate}}" ng-model="objRootCauseWhyShipped.QueryId" ng-options="item.Id as item.Name for item in RootCauseWhyShippedQueryList"></select>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objRootCauseWhyShipped.Reason" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddRootCauseWhyShipped()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <div class="col-12 pad-10 pad-b-0" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <!--Section - 7 - CAPA -  Permanent Countereasure -->
                <div class="col-6 pad-r-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt drop-menu-spacer-header">
                                    {{'_PermanentCountermeasure_'|translate}}
                                </span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pad-10">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="permanentCountermeasuresItem in CAPA.lstcapaPermanentCountermeasures">
                                            <div class="col-2">
                                                <label>
                                                    {{$index + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="permanentCountermeasuresItem.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_EffectiveDate_' | translate}}" placeholder="{{'_EffectiveDate_' | translate}}" aa-field-name="{{'_EffectiveDate_' | translate}}" ng-model="permanentCountermeasuresItem.EffectiveDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeletePermanentCountermeasures($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaPermanentCountermeasures.length<5">
                                            <div class="col-2">
                                                <label>
                                                    {{CAPA.lstcapaPermanentCountermeasures.length + 1}}
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objPermanentCountermeasures.Description" />
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="{{'_EffectiveDate_' | translate}}" placeholder="{{'_EffectiveDate_' | translate}}" aa-field-name="{{'_EffectiveDate_' | translate}}" ng-model="objPermanentCountermeasures.EffectiveDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddPermanentCountermeasures()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <!--Section - 8 - CAPA -  Feed Forward  -->
                <div class="col-6 pad-l-10 two-col-spacer-panel">
                    <accordion close-others="false">
                        <accordion-group heading="" is-open="true">
                            <accordion-heading>
                                <span class="p-title-txt drop-menu-spacer-header">
                                    {{'_Feedforward_'|translate}}
                                </span>
                                <span class="accordion-icon"></span>
                            </accordion-heading>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pad-10">
                                <div class="list-1 root-list">
                                    <div class="lst-body">
                                        <div class="lst-item" ng-repeat="feedForwardsItem in CAPA.lstcapaFeedForwards">
                                            <div class="col-2">
                                                <label>
                                                    {{$index + 1}}
                                                </label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="feedForwardsItem.Description" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="DeleteFeedForwards($index)"><i class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="lst-item" ng-show="CAPA.lstcapaFeedForwards.length<5">
                                            <div class="col-2">
                                                <label>
                                                    {{CAPA.lstcapaFeedForwards.length + 1}}
                                                </label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" name="{{'_Description_' | translate}}" aa-field-name="{{'_Description_' | translate}}" ng-model="objFeedForwards.Description" />
                                            </div>
                                            <div class="col-2 align-right button-add-s">
                                                <button class="mar-r-15" ng-click="AddFeedForwards()" ng-attr-title="{{'_AddNewText_'| translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <!--Section - 9. - CAPA - Approvals -->
            <div class="col-12 pad-10 pad-b-10" dir-field-disabled="IsReadOnlyPage" ng-show="TransactionMode=='Edit'">
                <div class="col-12">
                    <h3 class="pad-b-5 title-sd"><span class="p-title-txt">{{'_Approvals_' | translate}}</span></h3>
                </div>
                <div class="col-12 pad-10 border-box-content">
                    <div class="fs linear fs-col-4">
                        <div class="fs-g" ng-repeat="approvalsItem in CAPA.lstcapaApprovals">
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">{{approvalsItem.Title}}</label>
                                </span>
                                <span class="fs-f-i">
                                    <input type="text" name="{{'_Name_' | translate}}" aa-field-name="{{'_Name_' | translate}}" ng-model="approvalsItem.Name" />
                                </span>
                            </div>
                            <div class="fs-f">
                                <span class="fs-f-l">
                                    <label translate="yes">_ApprovalDate_</label>
                                </span>
                                <span class="fs-f-i">
                                    <input type="text" name="{{'_ApprovalDate_' | translate}}"
                                           aa-field-name="{{'_ApprovalDate' | translate}}"
                                           ng-model="approvalsItem.ApprovalDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Top Header Show Start-->
            <div class="freeze-bottom top-header-freeze-panel">
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" aa-submit-form="SaveCAPA('FinalSaveButton',0,0,1)" translate="yes">_GenCAPA_</button>
                <button class="orange-btn" aa-submit-form="SaveCAPA('FinalSaveButton',0,0,0)" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
                <button class="orange-btn" aa-submit-form="SaveCAPA('FinalSaveButton',1,0,0)" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="ShowChangeLogPopup()" translate="yes">_ViewChangeLog_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="ShowSendEmailPopup()" translate="yes">_SendEmail_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="AddToDefectTracking()" translate="yes">_AddToDefectTracking_</button>
                <button class="orange-btn" ng-click="RedirectToList()" translate="yes">_Cancel_</button>
            </div>
            <!--Top Header Show End-->

            <div class="freeze-bottom">
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" aa-submit-form="SaveCAPA('FinalSaveButton',0,0,1)" translate="yes">_GenCAPA_</button>
                <button class="orange-btn" aa-submit-form="SaveCAPA('FinalSaveButton',0,0,0)" translate="yes" ng-disabled="IsReadOnlyPage">_Save_</button>
                <button class="orange-btn" aa-submit-form="SaveCAPA('FinalSaveButton',1,0,0)" translate="yes" ng-disabled="IsReadOnlyPage">_SaveAndClose_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="ShowChangeLogPopup()" translate="yes">_ViewChangeLog_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="ShowSendEmailPopup()" translate="yes">_SendEmail_</button>
                <button class="orange-btn" ng-show="TransactionMode=='Edit'" ng-click="AddToDefectTracking()" translate="yes">_AddToDefectTracking_</button>
                <button class="orange-btn" ng-click="RedirectToList()" translate="yes">_Cancel_</button>
            </div>

        </form>
    </div>


</div>