@{
    ViewBag.Title = "RFQ Type";
}

<div ng-view></div>

@section pageScripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/RFQType")
}



@*<script src="~/App_Client/common/services/Setup/RFQType/RFQType.services.js"></script>
    <script src="~/App_Client/views/Setup/RFQType/RFQType.controller.js"></script>
    <script src="~/App_Client/views/Setup/RFQType/RFQType.route.js"></script>
    <script src="~/App_Client/common/directives/slider.directive.js"></script>*@