<div class="pager-section" ng-class="pclass">
    <div class="pgr-left">
        <label>Page Size</label>
        <select name="selectpagesize" ng-model="pagesize" ng-change="selectPageSize()">
            <option value="5">5</option>
             <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="pgr-right">
        <label>Total Records {{totalItems}}</label>
        <ul class="pagination">
            <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href="javascript:void(0);" ng-click="selectPage(1)">{{getText('first')}}</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href="javascript:void(0);" ng-click="selectPage(page - 1)">{{getText('previous')}}</a></li>
            <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href="javascript:void(0);" ng-click="selectPage(page.number)">{{page.text}}</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href="javascript:void(0);" ng-click="selectPage(page + 1)">{{getText('next')}}</a></li>
            <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href="javascript:void(0);" ng-click="selectPage(totalPages)">{{getText('last')}}</a></li>
        </ul>
    </div>
</div>