<form unsaved-warning-form novalidate id="frmTriggerPoint">
    <div class="modal-header">
        <h3 translate="yes">_PageHeading_</h3>
    </div>
    <div class="modal-body overFlowNone">
        <div class="slider-scroll-container">
            <div class="fs linear fs-col-2">
                <div class="fs-g">
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_TriggerPoint_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <input type="text" name="TriggerPoint" aa-field-name="{{'_TriggerPoint_' | translate}}" ng-model="TriggerPoint.triggerPoint" required tabindex="1" ng-disabled="true" />
                        </span>
                    </div>
                    <div class="fs-f custom-select-box">
                        <span class="fs-f-l">
                            <label translate="yes">_Users_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">

                            <multiselect multiple="true"
                                         ng-model="TriggerPoint.TriggerPointUsersList"
                                         itemkey="Id"
                                         itemvalue="Name"
                                         options="item.Id as item.Name for item in UserList"
                                         header="{{'_SelectUser_' | translate}}" button-class="small"
                                         required name="Multiselect"
                                         required-msg="User is required."></multiselect>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" aa-submit-form="SaveTriggerPoint()" translate="yes" tabindex="3">_Save_</button>
        <button class="orange-btn" ng-click="Cancel()" translate="yes" tabindex="4">_Cancel_</button>
    </div>
</form>
