<div class="col-12">
    <!-- Start page title here -->
    <!--<div class="page-title">
        <span class="p-title-txt">{{'_CoatingTypes_' | translate}}</span>
    </div>-->
    <!-- End page title here -->
    <div class="list-1 root-list role-management-panel">
        <div class="lst-body">
            <div class="lst-item">
                <div class="col-3">
                    <div class="box-5">
                        <div class="header-panel">Select user</div>
                        <div class="box-content">
                            <div class="box-in-content">
                                <select class="ng-pristine ng-valid ng-not-empty ng-touched">
                                    <option value="Select user">Select user</option>
                                </select>
                            </div>
                            <div class="box-separator">
                                Select ROle <a class="add-role" href="#">ADD new role</a>
                            </div>
                            <div class="list-s-panel">
                                <ul>
                                    <li class="active">
                                        <a href="#">Designer</a>
                                        <input type="checkbox" checked id="Designer">
                                        <label for="Designer" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Developer</a>
                                        <input type="checkbox" id="Developer">
                                        <label for="Developer" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Tester</a>
                                        <input type="checkbox" id="Tester">
                                        <label for="Tester" class="ng-binding"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="box-5">
                        <div class="header-panel">Select Pages</div>
                        <div class="box-content">
                            <div class="list-s-panel">
                                <ul>
                                    <li class="active">
                                        <a href="#">Dashboard</a>
                                        <input type="checkbox" checked id="Dashboard">
                                        <label for="Dashboard" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">RFQ</a>
                                        <input type="checkbox" id="RFQ1">
                                        <label for="RFQ1" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">APQP</a>
                                        <input type="checkbox" id="APQP2">
                                        <label for="APQP2" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Shipment</a>
                                        <input type="checkbox" checked id="Shipment3">
                                        <label for="Shipment3" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Admin</a>
                                        <input type="checkbox" id="Admin4">
                                        <label for="Admin4" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard</a>
                                        <input type="checkbox" checked id="Dashboard5">
                                        <label for="Dashboard5" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">RFQ</a>
                                        <input type="checkbox" id="RFQ6">
                                        <label for="RFQ6" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">APQP</a>
                                        <input type="checkbox" id="APQP7">
                                        <label for="APQP7" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Shipment</a>
                                        <input type="checkbox" checked id="Shipment8">
                                        <label for="Shipment8" class="ng-binding"></label>
                                    </li>
                                    <li>
                                        <a href="#">Admin</a>
                                        <input type="checkbox" id="Admin9">
                                        <label for="Admin9" class="ng-binding"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box-5">
                        <div class="header-panel">Select user</div>
                        <div class="box-content">
                            <div class="box-in-content">
                                <input type="text" class="search-box" placeholder="Search..." />
                            </div>
                            <div class="box-s-main">
                                <div class="box-in-header">
                                    <div class="page-name"><span class="fa fa-plus-square"></span> Dashboard <span>Page Elements</span></div>  <!--fa fa-minus-square-->
                                    <div class="page-s-title">Read</div>
                                    <div class="page-s-title">Write</div>
                                    <div class="page-s-title">Hide</div>
                                </div>
                                <div class="box-in-body">
                                    <div class="content-common">
                                        <div class="page-name">Customer </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content"  id="Read">
                                            <label for="Read" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content" checked id="Write">
                                            <label for="Write" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content" id="Hide">
                                            <label for="Hide" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Project Name </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content1"  id="Read1">
                                            <label for="Read1" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content1" id="Write1">
                                            <label for="Write1" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content1" checked id="Hide1">
                                            <label for="Hide1" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Contact Person </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content2" checked id="Read2">
                                            <label for="Read2" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content2" id="Write2">
                                            <label for="Write2" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content2" id="Hide3">
                                            <label for="Hide3" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">RFQ Date </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content4"  id="Read4">
                                            <label for="Read4" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content4" id="Write4">
                                            <label for="Write4" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content4" checked id="Hide4">
                                            <label for="Hide4" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Quote Due Date </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content5"  id="Read5">
                                            <label for="Read5" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content5" id="Write5">
                                            <label for="Write5" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content5" checked id="Hide5">
                                            <label for="Hide5" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Status </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content6" checked id="Read7">
                                            <label for="Read7" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content6" id="Write7">
                                            <label for="Write7" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content6" id="Hide7">
                                            <label for="Hide7" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Sales Account Manager </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content7"  id="Read8">
                                            <label for="Read" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content7" checked id="Write8">
                                            <label for="Write8" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content7" id="Hide8">
                                            <label for="Hide8" class="ng-binding"></label>
                                        </div>
                                    </div>
                                    <div class="content-common">
                                        <div class="page-name">Commodity Type </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content8"  id="Read9">
                                            <label for="Read9" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content8" checked id="Write9">
                                            <label for="Write9" class="ng-binding"></label>
                                        </div>
                                        <div class="page-s-title">
                                            <input type="radio" name="content8" id="Hide9">
                                            <label for="Hide9" class="ng-binding"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start tab structure here -->
    <div class="freeze-bottom">
        <button class="btn-default">Save as New Role</button>
        <button class="orange-btn" ng-click="ShowPopup()">{{'_Save_' | translate}}</button>       
    </div>
    <!-- End tab structure here -->
</div>