<div>
    <div class="modal-header">
        <h3 translate="yes">_ChangeLogHeader_</h3>
        <button class="btn float-r" ng-click="ChangeLogCancel()"> <i class="fa fa-close"></i> </button>
    </div>
    <div class="modal-body pad-10 pop-up-spacer-s">
        <div class="col-12 pad-b-10">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt" translate="yes">_Title_</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-5">
                        <div class="box-white">
                            <accordion close-others="false">
                                <div class="list-1 root-list">
                                    <div class="lst-header">
                                        <div class="lst-item">
                                            <div class="col-3">
                                                <label class="pad-l-10" translate="yes">_FieldName_</label>
                                            </div>
                                            <div class="col-3">
                                                <label translate="yes">_NewValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_OldValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedOn_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedBy_</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <accordion-group heading="" ng-repeat="(UpdatedOn,Item) in DefectTrackingLogsList" is-open="true" ng-hide="IsAccordionObjectEmptyDT" ng-init="Item.IsOpen=true">
                                    <accordion-heading>
                                        <span class="title">{{'_UpdatedOn_' | translate}}: {{Item[0].UpdatedOnString}}</span>
                                        <span class="accordion-icon"></span>
                                    </accordion-heading>
                                    <!-- Start List Style 1 structure here -->
                                    <div class="list-1 root-list">
                                        <div class="lst-body">
                                            <div class="lst-item" ng-repeat="subItem in Item">
                                                <div class=" col-3" data-colmn-title="{{'_FieldName_' | translate}}">
                                                    <label class="pad-l-10">{{subItem.FieldAlias}}</label>
                                                </div>
                                                <div class=" col-3" data-colmn-title="{{'_NewValue_' | translate}}">
                                                    <label>{{subItem.NewValue}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_OldValue_' | translate}}">
                                                    <label>{{subItem.OldValue}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_UpdatedOn_' | translate}}">
                                                    <label>{{subItem.TimeStampString}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_UpdatedBy_' | translate}}">
                                                    <label>{{subItem.UpdatedBy}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List Style 1 structure here -->
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="no-data-panel" ng-show="IsAccordionObjectEmptyDT">
                            <div class="lst-item">
                                <div class="col-12">
                                    <div class="error-box rounded-info-box">
                                        <p translate="yes">_NoRecordsFound_</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pad-0" ng-hide="IsAccordionObjectEmptyDT">
                            <mespagination boundary-links="true" total-items="DefectTrackingPaging.TotalRecords" on-select-page="DTPageChanged(page)"
                                           page="DefectTrackingPaging.PageNo" items-per-page="DefectTrackingPaging.PageSize" previous-text="&lsaquo;" next-text="&rsaquo;"
                                           first-text="&laquo;" last-text="&raquo;" on-select-page-size="DTPageSizeChanged(pagesize)" pagesize="DefectTrackingPaging.PageSize"></mespagination>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-12">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">DEFECT TRACKING DETAIL LOG</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-5">
                        <div class="box-white">
                            <accordion close-others="false">
                                <div class="list-1 root-list">
                                    <div class="lst-header">
                                        <div class="lst-item">
                                            <div class="col-2">
                                                <label class="pad-l-10" translate="yes">_Tab_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_FieldName_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_NewValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_OldValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedOn_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedBy_</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <accordion-group heading="" ng-repeat="(UpdatedOn,Item) in DefectTrackingDetailLogsList" is-open="true" ng-hide="IsAccordionObjectEmptyDTD" ng-init="Item.IsOpen=true">
                                    <accordion-heading>
                                        <span class="title">{{'_UpdatedOn_' | translate}}: {{setUpdatedDate(Item)}}</span>
                                        <span class="accordion-icon"></span>
                                    </accordion-heading>
                                    <!-- Start List Style 1 structure here -->
                                    <div class="col-12 pad-5 pad-b-0">
                                        <div class="box-white">
                                            <accordion close-others="false">
                                                <accordion-group heading="" ng-repeat="(partNumbers,subItemList) in Item" is-open="true" ng-hide="IsAccordionObjectEmptyDTD || partNumbers=='IsOpen'" ng-init="subItemList.IsOpen=true">
                                                    <accordion-heading>
                                                        <span class="title" ng-if="partNumbers!='IsOpen'">{{'_PartNo_' | translate}}: {{partNumbers}}</span>
                                                        <span class="accordion-icon"></span>
                                                    </accordion-heading>
                                                    <!-- Start List Style 1 structure here -->
                                                    <div class="list-1 root-list">
                                                        <div class="lst-body">
                                                            <div class="lst-item" ng-repeat="subItem in subItemList">
                                                                <div class=" col-2" data-colmn-title="{{'_Tab_' | translate}}">
                                                                    <label>{{subItem.TableName}}</label>
                                                                </div>
                                                                <div class=" col-2" data-colmn-title="{{'_FieldName_' | translate}}">
                                                                    <label>{{subItem.FieldAlias}}</label>
                                                                </div>
                                                                <div class=" col-2" data-colmn-title="{{'_NewValue_' | translate}}">
                                                                    <label>{{subItem.NewValue}}</label>
                                                                </div>
                                                                <div class=" col-2" data-colmn-title="{{'_OldValue_' | translate}}">
                                                                    <label>{{subItem.OldValue}}</label>
                                                                </div>
                                                                <div class=" col-2" data-colmn-title="{{'_UpdatedOn_' | translate}}">
                                                                    <label>{{subItem.TimeStampString}}</label>
                                                                </div>
                                                                <div class=" col-2" data-colmn-title="{{'_UpdatedBy_' | translate}}">
                                                                    <label>{{subItem.UpdatedBy}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                    <!-- End List Style 1 structure here -->
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="no-data-panel" ng-show="IsAccordionObjectEmptyDTD">
                            <div class="lst-item">
                                <div class="col-12">
                                    <div class="error-box rounded-info-box">
                                        <p translate="yes">_NoRecordsFound_</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pad-0" ng-hide="IsAccordionObjectEmptyDTD">
                            <mespagination boundary-links="true" total-items="DefectTrackingDetailPaging.TotalRecords" on-select-page="DTDPageChanged(page)"
                                           page="DefectTrackingDetailPaging.PageNo" items-per-page="DefectTrackingDetailPaging.PageSize" previous-text="&lsaquo;" next-text="&rsaquo;"
                                           first-text="&laquo;" last-text="&raquo;" on-select-page-size="DTDPageSizeChanged(pagesize)" pagesize="DefectTrackingDetailPaging.PageSize"></mespagination>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        

    </div>
</div>