<div class="col-12 pad-t-30 openScrollDiv none-arrow-button-1600">
    <div class="col-12 pad-10 pad-b-0 pad-l-0">
        <div class="header-highligt-panel">
            <span class="height-20"><label translate="yes">_Rma_</label><p>{{SelectionCriteria.RMANumber}}</p></span>
            <span class="height-20"><label translate="yes">_PartNo_</label><p>{{SelectionCriteria.PartNo}}</p></span>
            <span class="height-20"><label translate="yes">_Customer_</label><p>{{SelectionCriteria.CustomerName}}</p></span>
            <span class="height-20"><label translate="yes">_RMAInitiatedBy_</label><p>{{SelectionCriteria.RMAInitiatedByName}}</p></span>
            <span class="height-20"><label translate="yes">_SupplierCode_</label><p>{{SelectionCriteria.SupplierCode}}</p></span>
            <span class="height-20"><label translate="yes">_SupplierName_</label><p>{{SelectionCriteria.SupplierName}}</p></span>
            <span class="height-20"><label translate="yes">_CapaNumber_</label><p>{{SelectionCriteria.CAPANumber}}</p></span>
            <span class="height-20"><label translate="yes">_MESWarehouseLocation_</label><p>{{SelectionCriteria.MESWarehouseLocation}}</p></span>
        </div>
    </div>

    <div>
        <!--ng-show="DataList.length>0 && ShowRFQPartQuoteDetailGridReport==false"-->
        <div class="col-12 pad-t-10">
            <div class="col-12">
                <div class="custom-grid-panel mar-b-10 grid-option-five">
                    <div class="border-full">
                        <div class="grid-common-detail-panel">
                            <div class="grid-common-content-panel">
                                <div class="grid-right-panel">
                                    <div class="scroller-panel">
                                        <div class="common-grid-panel supplierQuote sliderOn" row column-width="200" column-move="1" margin-minus="340">
                                            <button role="button" aria-label="Previous" class="slick-prev slick-arrow" onclick="scrollColumn(1)" type="button"></button>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_Rma_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_RMADate_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_IncludeInPPM_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_IntOrExtFinding_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_QualityOrDeliveryIssue_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-200">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_Customer_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-150">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_RMAInitiatedBy_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-150">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_PartNo_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_QTYRejectedPPM_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-200">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_Supplier_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button role="button" aria-label="Next" class="slick-next slick-arrow" onclick="scrollColumn(0)" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-common-detail-panel">
                        <div class="fixed-height-grid auto-height-grid height-auto-important">
                            <div class="border-full">
                                <div class="section-coomon">
                                    <div class="grid-common-content-panel">
                                        <div class="grid-right-panel">
                                            <div class="scroller-panel sap-group">
                                                <div class="common-grid-panel sub-group SupplierQuote sliderOn" row column-width="200" column-move="1">
                                                    <div class="common-grid-panel" ng-repeat="APQP in DefectTrackingReportList">
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.RMANumber}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.RMADate | date:'dd-MMM-yy'}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.IncludeInPPM}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.Finding}} </label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.QualityOrDeliveryIssue}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-200">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.CustomerName}} <span class="tooltip-h">{{APQP.CustomerName}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-150">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.RMAInitiatedByName}} <span class="tooltip-h">{{APQP.RMAInitiatedByName}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-150">
                                                            <div class="col-hori-box" ng-repeat="subItem in APQP.lstDefectTrackingReportDetails">
                                                                <label>{{subItem.PartNumber}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box align-right" ng-repeat="subItem in APQP.lstDefectTrackingReportDetails">
                                                                <label>{{subItem.CustomerRejectedPartQty}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-200">
                                                            <div class="col-hori-box" ng-repeat="subItem in APQP.lstDefectTrackingReportDetails">
                                                                <label>{{subItem.SupplierName}} <span class="tooltip-h">{{subItem.SupplierName}}</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 align-center" ng-hide="DefectTrackingReportList.length>0">
        <div class="spacer-gray-line"></div>
        <div class="error-box rounded-info-box" style="display:inline-block;">
            <p translate="yes">_NoRecordsFound_</p>
        </div>
    </div>
</div>
