<div class="col-12 window-min-height bx-white" ng-controller="DefectTrackingCtrl" id="spnAPQP">
    <us-spinner spinner-key="spnAPQP" spinner-start-active="1"></us-spinner>
    <div class="col-12">
        <div class="list-1 root-list">
            <div class="lst-header">
                <div class="lst-item">
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'RMANo';sortReverse = !sortReverse">
                            {{'_RMANo_' | translate}}
                            <i ng-show="sortType == 'RMANo' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'RMANo' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'RMADate';sortReverse = !sortReverse">
                            {{'_RMADate_' | translate}}
                            <i ng-show="sortType == 'RMADate' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'RMADate' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-1">
                        <label ng-click="sortType = 'IncludeInPPM';sortReverse = !sortReverse">
                            {{'_IncludeInPPM_' | translate}}
                            <i ng-show="sortType == 'IncludeInPPM' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'IncludeInPPM' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'Finding';sortReverse = !sortReverse">
                            {{'_IntOrExtFinding_' | translate}}
                            <i ng-show="sortType == 'Finding' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'Finding' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'QualityOrDeliveryIssue';sortReverse = !sortReverse">
                            {{'_QualityOrDeliveryIssue_' | translate}}
                            <i ng-show="sortType == 'QualityOrDeliveryIssue' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'QualityOrDeliveryIssue' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'PartNumber';sortReverse = !sortReverse">
                            {{'_PartNo_' | translate}}
                            <i ng-show="sortType == 'PartNumber' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'PartNumber' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2 align-right pad-r-20">
                        <label ng-click="sortType = 'QtyRejectedPPM';sortReverse = !sortReverse">
                            {{'_QtyRejectedPPM_' | translate}}
                            <i ng-show="sortType == 'QtyRejectedPPM' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'QtyRejectedPPM' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-4">
                        <label ng-click="sortType = 'SupplierName';sortReverse = !sortReverse">
                            {{'_Supplier_' | translate}}
                            <i ng-show="sortType == 'SupplierName' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'SupplierName' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-3">
                        <label ng-click="sortType = 'CustomerName';sortReverse = !sortReverse">
                            {{'_Customer_' | translate}}
                            <i ng-show="sortType == 'CustomerName' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'CustomerName' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2">
                        <label ng-click="sortType = 'RMAInitiatedByName';sortReverse = !sortReverse">
                            {{'_RMAInitiatedBy_' | translate}}
                            <i ng-show="sortType == 'RMAInitiatedByName' && sortReverse==false" class="fa fa-sort-asc"></i>
                            <i ng-show="sortType == 'RMAInitiatedByName' && sortReverse==true" class="fa fa-sort-desc"></i>
                        </label>
                    </div>
                    <div class="col-grid-sm-2 align-right">
                        <label translate="yes">Action</label>
                    </div>
                </div>
            </div>
            <div class="lst-body">
                <div class="lst-item" ng-repeat="item in DefectTrackingList | orderBy:sortType:sortReverse">
                    <div class="row-click-section" data-ng-click="Edit(item.Id)">
                        <div class="col-grid-sm-2" data-colmn-title="{{'_RMANo_'| translate}}">
                            <label>{{item.RMANumber}}</label>
                        </div>
                        <div class="col-grid-sm-2" data-colmn-title="{{'_RMADate_'| translate}}">
                            <label>{{item.RMADate | date:'dd-MMM-yy'}}</label>
                        </div>
                        <div class="col-grid-sm-1" data-colmn-title="{{'_IncludeinPPM_'| translate}}">
                            <label>{{item.IncludeInPPM}}</label>
                        </div>
                        <div class="col-grid-sm-2" data-colmn-title="{{'_IntOrExtFinding_'| translate}}">
                            <label>{{item.Finding}}</label>
                        </div>
                        <div class="col-grid-sm-2" data-colmn-title="{{'_QualityOrDeliveryIssue_'| translate}}">
                            <label>{{item.QualityOrDeliveryIssue}}</label>
                        </div>
                        <!--<div class="col-grid-sm-2" data-colmn-title="{{'_PartNo_'| translate}}">
                            <label ng-repeat="val in item.PartNumber track by $index">{{val}}</label>
                        </div>
                        <div class="col-grid-sm-2" data-colmn-title="{{'QtyRejectedPPM'| translate}}">
                            <label ng-repeat="val in item.CustomerRejectedPartQty track by $index">{{val}}</label>
                        </div>
                        <div class="col-grid-sm-3" data-colmn-title="{{'_Supplier_'| translate}}">
                            <label ng-repeat="val in item.Supplier track by $index">{{val}}</label>
                        </div>-->
                        <div class="col-grid-sm-8">
                            <div class="col-12" ng-repeat="val in item.PartSupplierQuantityArray track by $index">
                                <div class="col-grid-sm-6" data-colmn-title="{{'_PartNo_'| translate}}">
                                    <label>{{val.PartNumber}}</label>
                                </div>
                                <div class="col-grid-sm-6 align-right pad-r-20" data-colmn-title="{{'QtyRejectedPPM'| translate}}">
                                    <label>{{val.CustomerRejectedPartQty}}</label>
                                </div>
                                <div class="col-grid-sm-12" data-colmn-title="{{'_Supplier_'| translate}}">
                                    <label>{{val.Supplier}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-grid-sm-3" data-colmn-title="{{'_Customer_'| translate}}">
                            <label>{{item.CustomerName}}</label>
                        </div>
                        <div class="col-grid-sm-2" data-colmn-title="{{'_RMAInitiatedBy_'| translate}}">
                            <label>{{item.RMAInitiatedByName}}</label>
                        </div>
                    </div>
                    <div class="col-grid-sm-2 align-right" data-colmn-title="Action">
                        <div class="btn-group action-btn" dropdown>
                            <button type="button" class="btn" data-ng-click="Edit(item.Id)" translate="yes">_Edit_</button>
                            <button type="button" class="btn action-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)" data-ng-click="Delete(item.Id)" translate="yes" ng-class="{disableAnchor:IsReadOnlyDeleteButton,'':IsReadOnlyDeleteButton}">_Delete_</a></li>
                                <li ng-hide="item.RMAFormFilePath=='' || item.RMAFormFilePath==undefined">
                                    <a href="javascript:void(0)" data-ng-click="DownloadPDF(item.RMAFormFilePath)" translate="yes">_RMAForm_</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lst-item" ng-hide="DefectTrackingList.length>0">
                    <div class="col-12">
                        <div class="error-box rounded-info-box">
                            <p translate="yes">_NoRecordsFound_</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mespagination boundary-links="true" total-items="Paging.TotalRecords" on-select-page="pageChanged(page)"
                   page="Paging.PageNo" items-per-page="Paging.PageSize" fix-to-bottom=""
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page-size="pageSizeChanged(pagesize)" pagesize="Paging.PageSize"></mespagination>


    <!--Top Header Show Start-->
    <div class="freeze-bottom top-header-freeze-panel">
        <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
    </div>
    <!--Top Header Show End-->
    <!-- Start tab structure here -->
    <div class="freeze-bottom">
        <button class="back-button" onclick="RedirecttoDashboard.Go()"></button>
        <button class="orange-btn" ng-click="RedirectToAddEditPage()" ng-disabled="IsReadOnlyAddButton">{{'_AddNew_' | translate}}</button>
    </div>
    <!-- End tab structure here -->
    <!--Advance Search Part start-->
    <form>
        <div class="advance-search-panel">
            <div class="search-title-box">
                <div class="search-title">
                    Advance Search
                    <span onclick="advanceSearch.close()" class="fa fa-times-circle"></span>
                </div>
            </div>
            <div class="search-content-panel">
                <!-- Start form layout structure here -->
                <div class="fs linear">
                    <div class="fs-g">
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_RMANo_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_RMANo_' | translate}}" aa-field-name="{{'_RMANo_' | translate}}" ng-model="SearchCriteria.RMANumber" tabindex="1" ng-maxlength="50" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Customer_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_Customer_' | translate}}" aa-field-name="{{'_Customer_' | translate}}" ng-model="SearchCriteria.CustomerName" tabindex="2" ng-maxlength="100" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierCode_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierCode_' | translate}}" aa-field-name="{{'_SupplierCode_' | translate}}" ng-model="SearchCriteria.SupplierCode" tabindex="3" ng-maxlength="50" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Supplier_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_Supplier_' | translate}}" aa-field-name="{{'_Supplier_' | translate}}" ng-model="SearchCriteria.SupplierName" tabindex="4" ng-maxlength="100" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_PartNo_</label>
                            </span> <span class="fs-f-i">                               
                                <input type="text" name="{{'_PartNo_' | translate}}" aa-field-name="{{'_PartNo_'|translate}}" ng-model="SearchCriteria.PartNumber"
                                       position="fixed" width="200" typeaheadwatchchanges="SearchCriteria.PartNumber" typeahead-on-select="OnPartNoSelect($item, SearchCriteria)"
                                       typeahead="item as item.Name for item in PartsList | filter:$viewValue" typeahead-focus-first="false" ng-blur="setPartNoSelect(SearchCriteria)" autocomplete="off" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_RMAInitiatedBy_</label>
                            </span> <span class="fs-f-i">
                                <select name="{{'_RMAInitiatedBy_' | translate}}" aa-field-name="{{'_RMAInitiatedBy_' | translate}}" ng-model="SearchCriteria.RMAInitiatedBy" tabindex="6" ng-options="item.Id as item.Name for item in RMAInitiatedByList">
                                    <option value="">{{'_Select_' | translate}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_CapaNumber_</label>
                            </span> <span class="fs-f-i">
                                <input type="text" name="{{'_CapaNumber_' | translate}}" aa-field-name="{{'_CapaNumber_' | translate}}" ng-model="SearchCriteria.CorrectiveActionNumber" tabindex="7" ng-maxlength="50" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_MESWareHouseLocation_</label>
                            </span> <span class="fs-f-i">
                                <select name="{{'_MESWareHouseLocation_' | translate}}" aa-field-name="{{'_MESWareHouseLocation_' | translate}}" ng-model="SearchCriteria.MESWareHouseLocationId" tabindex="6" ng-options="item.Id as item.Name for item in MESWareHouseList">
                                    <option value="">{{'_Select_' | translate}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End form layout structure here -->
            </div>
            <div class="search-footer-box">
                <button class="orange-btn" translate="yes" aa-submit-form="Search()" tabindex="57">_Search_</button>
                <button class="orange-btn" translate="yes" ng-click="ResetSearch()" tabindex="58">_Reset_</button>
            </div>
        </div>
    </form>
    <!--Advance Search End-->

</div>