@{
    ViewBag.Title = "Submit Quote";
    Layout = "~/Areas/RFQ/RFQ/Views/Shared/_Layout.cshtml";
}

<div ng-view></div>

@section pageScripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/RFQ/RFQ/SubmitQuote")
}