<div>
    <div class="modal-header">
        <h3>{{'_NPIFApprovalDocumentHistory_'| translate}} - {{lstnpifDocuSign.PartNumber}}</h3>
    </div>
    <div class="modal-body pad-0">
        <div class="list-1 root-list">
            <div class="lst-header">
                <div class="lst-item">
                    <div class="col-1">
                        &nbsp;
                    </div>
                    <div class="col-2">
                        <label translate="yes">_ApprovalStatus_</label>
                    </div>
                    <div class="col-3">
                        <label translate="yes">_ApprovalStartDate_</label>
                    </div>
                    <div class="col-3">
                        <label translate="yes">_ApprovalDate_</label>
                    </div>
                    <div class="col-3">
                        <label translate="yes">_ApprovalInitiator_</label>
                    </div>
                </div>
            </div>
            <div class="lst-body">
                <div class="lst-item" ng-repeat="item in lstnpifDocuSign">
                    <div class="col-1">
                        <a href="{{item.InitialDocumentPath}}" target="_blank" title="Sent NPIF" ng-show="item.InitialDocumentPath!=''"><i class="fa fa-paperclip"></i></a>
                        <a href="{{item.SignedDocumentPath}}" target="_blank" title="Approved NPIF" ng-show="item.SignedDocumentPath!=''"><i class="fa fa-paperclip"></i></a>
                    </div>
                    <div class="col-2">
                        <label>{{item.Status}}</label>
                    </div>
                    <div class="col-3">
                        <label>{{item.ApprovalSentDate | date:'dd-MMM-yy'}}</label>
                    </div>
                    <div class="col-3">
                        <label>{{item.ApprovalDate | date:'dd-MMM-yy'}}</label>
                    </div>
                    <div class="col-3">
                        <label>{{item.CreatedBy}}</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>