<div>
    <div class="modal-header">
        <h3 translate="yes">_PredefinedDocumentTypePopupPageHeading_</h3>
    </div>
    <div class="modal-body pad-0">
        <div class="list-1 root-list">
            <div class="lst-header">
                <div class="lst-item">
                    <div class="col-grid-sm-2">
                        <input ng-change="SelectDeselectAll()" type="checkbox" id="chkSelectAll" ng-model="objSelectAll.SelectAll" />
                        <label for="chkSelectAll">&nbsp;</label>
                    </div>
                    <div class="col-grid-sm-8">
                        <label>
                            {{'_DocumentType_' | translate}}
                        </label>
                    </div>
                    <div class="col-grid-sm-14">
                        <label>
                            {{'_APQPType_' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="lst-body">
                <div class="lst-item" ng-repeat="item in APQPSetDocumentsForItems">
                    <div class="col-grid-sm-2" data-colmn-title="{{'_SelectAll_'| translate}}">
                        <input ng-change="select()" type="checkbox" id="chkSelectDocItemPopup{{$index}}" ng-model="item.chkSelect" />
                        <label for="chkSelectDocItemPopup{{$index}}"></label>
                    </div>
                    <div class="col-grid-sm-8" data-colmn-title="{{'_DocumentType_'| translate}}">
                        <p>{{item.DocumentType}}</p>
                    </div>
                    <div class="col-grid-sm-14" data-colmn-title="{{'_APQPType_'| translate}}">
                        <label>{{item.AssociatedToName}}</label>
                    </div>
                </div>
                <div class="lst-item" ng-hide="APQPSetDocumentsForItems.length>0">
                    <div class="col-12">
                        <div class="error-box rounded-info-box">
                            <p translate="yes">_NoRecordsFound_</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" ng-click="SaveSetDocumentForItem()">{{'_Save_' | translate}}</button>
        <button class="orange-btn" ng-click="Cancel()">{{'_Cancel_' | translate}}</button>
    </div>
</div>
