<div class="col-12" dir-field-disabled="IsReadOnlyPPAPSubmission">
    <div class="custom-grid-panel mar-b-0 grid-option-eight next-pre-btn-position">
        <div class="border-full">
            <div class="grid-common-detail-panel scroller-dummy scroller-dummy-s">
                <div class="grid-common-content-panel gray-color">
                    <div class="grid-left-panel">
                        <ul>
                            <li class="checkbox">
                                <div class="list-1 root-list">
                                    <div class="lst-header">
                                        <div class="lst-item">
                                            <div class="col-4 pad-0 ng-scope">&nbsp;</div>
                                            <div class="col-4 pad-0 ng-scope" translate="yes">_PartNo_</div>
                                            <div class="col-4 pad-0 ng-scope" translate="yes">_RevLevel_</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-right-panel">
                        <div class="scroller-panel">
                            <div column-width="200" margin-minus="290" row="" class="common-grid-panel supplierQuote sliderOn dubble-text-show col-width-1870">
                                <button type="button" onclick="scrollColumn(1)" class="slick-prev slick-arrow" aria-label="Previous" role="button" name="btnPrevious"></button>
                                <div class="common-grid-box cg-180">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_DrawingNumber_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-130">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_QuoteNo_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-180">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_ProjectName_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-200">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_ApqpStatus_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-150">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_ActualSampleShipmentDate_</b><i class="date-label">(dd-MMM-yy)</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-120">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_PlannedPSWDate_</b><i class="date-label">(dd-MMM-yy)</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-150">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_ActualPSWDate_</b><i class="date-label">(dd-MMM-yy)</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-120">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_PPAPStatus_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-150">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_PPAPPartsApproved_</b><i class="date-label">(dd-MMM-yy)</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-250">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_Comments_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-120">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 ng-binding">
                                                        <b translate="yes">_GeneratePSW_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="common-grid-box cg-120">
                                    <div class="col-hori-box ng-s">
                                        <div class="list-1 root-list">
                                            <div class="lst-header">
                                                <div class="lst-item">
                                                    <div class="col-12 pad-0 align-center">
                                                        <b translate="yes">_Documents_</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" onclick="scrollColumn(0)" class="slick-next slick-arrow" aria-label="Next" role="button" name="btnNext"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-common-detail-panel">
            <div class="fixed-height-grid auto-height-grid">
                <!--auto-height-grid-225-->
                <div class="border-full">
                    <div class="section-coomon">
                        <div class="grid-common-content-panel">
                            <div class="lst-item" ng-hide="APQPList.length>0">
                                <div class="col-12">
                                    <div class="error-box rounded-info-box">
                                        <p translate="yes">_NoRecordsFound_</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-left-panel">
                                <ul class="grid-option-one">
                                    <li class="ng-scope" ng-repeat="APQP in APQPList">
                                        <!--ng-repeat="(key, value) in CustomerNameList"-->
                                        <div class="list-1 root-list tool-tip-title-common" ng-class="APQP.selectedClassId==APQP.Id?'markselecteditem':''">
                                            <div class="lst-body">
                                                <div class="lst-item yellow-tooltip">
                                                    <div class="col-4">
                                                        <a href="" class="anchor mar-r-5" ng-click="GoToFormView(APQP.Id,'APQPSTEP4',APQP.objKickOff.PageNumber)" title="Form View"><i class="fa fa-newspaper-o"></i></a>
                                                        <a href="" class="anchor mar-r-5" ng-click="GoToChangeRequestForm(APQP)" title="Change Request Form"><img src="/Content/images/change-request-icon.png"></a>
                                                        <a href="javascript:void(0)" class="anchor mar-r-5" title="View Change Log" ng-click="ShowChangeLogPopup(APQP.Id)"><i class="fa fa-history"></i></a>
                                                        <a href="javascript:void(0)" ng-class="APQP.objPPAPSubmission.IsDocument==true?'':'anchr-none'" class="anchor mar-r-5" title="The part has uploaded document(s)" ng-click="ShowPopupDocuments('APQPSTEP4',APQP.Id,APQP)"><i class="fa fa-paperclip"></i></a>
                                                        <input type="checkbox" id="chkSelectPPAPSubmission{{$index}}" class="always-enable" ng-model="APQP.chkSelect" ng-change="SetSelectedClass(APQP)" />
                                                        <label for="chkSelectPPAPSubmission{{$index}}"></label>
                                                    </div>
                                                    <div class="col-4 hover-input {{APQP.objPPAPSubmission.PNDaysOld}}">
                                                        <label ng-attr-title="{{APQP.objTooltip.PartNumber}}">{{APQP.objPPAPSubmission.PartNumber}}</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <label ng-attr-title="{{APQP.objTooltip.RevLevel}}">{{APQP.objToolingLaunch.RevLevel}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid-right-panel">
                                <div class="scroller-panel sap-group ng-scope">
                                    <div class="common-grid-panel sub-group SupplierQuote sliderOn" row="" column-width="200" column-move="2">
                                        <div class="common-grid-panel group-mix-box">
                                            <div class="col-group-panel col-width-1700 yellow-tooltip">
                                                <div class="sub-group-box-ver col-width-1870" ng-class="APQP.selectedClassId==APQP.Id?'markselecteditem':''" ng-repeat="APQP in APQPList" on-finish-render="ngRepeatFinished">
                                                    <div class="common-grid-box cg-180">
                                                        <div class="col-hori-box">
                                                            <label ng-attr-title="{{APQP.objTooltip.DrawingNumber}}">{{APQP.objKickOff.DrawingNumber}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-130">
                                                        <div class="col-hori-box">
                                                            <label ng-attr-title="{{APQP.objTooltip.QuoteNumber}}">{{APQP.objPPAPSubmission.QuoteNumber}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-180">
                                                        <div class="col-hori-box">
                                                            <label ng-attr-title="{{APQP.objTooltip.ProjectName}}">{{APQP.objPPAPSubmission.ProjectName}}</label>
                                                        </div>
                                                    </div>
                                                    <!--<div class="common-grid-box cg-120">
                        <div class="col-hori-box">
                            <select ng-attr-title="{{APQP.objTooltip.APQPStatus}}" name="{{'_ApqpStatus_' | translate}}" aa-field-name="{{'_ApqpStatus_'|translate}}" ng-model="APQP.objKickOff.StatusId" ng-options="item.Id as item.Name for item in APQPStatusList">
                                <option value="">{{'_Select_' | translate}}</option>
                            </select>
                        </div>
                    </div>-->
                                                    <div class="common-grid-box cg-200">
                                                        <div class="col-hori-box click-label-edit">
                                                            <span class="edit-mode-text">
                                                                <label ng-attr-title="{{APQP.objTooltip.APQPStatus}}">{{APQP.objKickOff.Status}}</label>
                                                                <button class="fa fa-edit edit-label"></button>
                                                            </span>
                                                            <span class="edit-mode-input">
                                                                <select ng-attr-title="{{APQP.objTooltip.APQPStatus}}" name="{{'_ApqpStatus_' | translate}}" aa-field-name="{{'_ApqpStatus_'|translate}}" ng-model="APQP.objKickOff.StatusId" ng-options="item.Id as item.Name for item in APQPStatusList" ng-change="getAPQPItemName(APQP.objKickOff.StatusId,APQP)">
                                                                    <option value="">{{'_Select_' | translate}}</option>
                                                                </select>
                                                                <button class="fa fa-save save-label" ng-click="UpdateAPQPStatusFields('APQPStatus','PPAPSubmission',APQP.objKickOff.StatusId,APQP.Id)"></button>
                                                                <button class="fa fa-close close-label"></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-150">
                                                        <div class="col-hori-box">
                                                            <label ng-attr-title="{{APQP.objTooltip.ActualSampleShipmentDate}}">{{APQP.objPPAPSubmission.ActualSampleShipmentDate | date:'dd-MMM-yy'}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-120">
                                                        <div class="col-hori-box">
                                                            <label ng-attr-title="{{APQP.objTooltip.PlannedPSWDate}}">{{APQP.objPPAPSubmission.PSWDate | date:'dd-MMM-yy'}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-150">
                                                        <div class="col-hori-box">
                                                            <input ng-attr-title="{{APQP.objTooltip.ActualPSWDate}}" position="fixed" width="200" type="text" name="{{'_ActualPSWDate_' | translate}}" aa-field-name="{{'_ActualPSWDate_' | translate}}" ng-model="APQP.objPPAPSubmission.ActualPSWDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-120">
                                                        <div class="col-hori-box">
                                                            <select class="big" ng-attr-title="{{APQP.objTooltip.PPAPStatus}}" name="{{'_ApqpStatus_' | translate}}" aa-field-name="{{'_PPAPStatus_'|translate}}" ng-model="APQP.objPPAPSubmission.PPAPStatus">
                                                                <option value="">{{'_Select_' | translate}}</option>
                                                                <option value="1">On Time</option>
                                                                <option value="2">Late</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-150">
                                                        <div class="col-hori-box">
                                                            <input ng-attr-title="{{APQP.objTooltip.PPAPPartsApproved}}" position="fixed" width="200" type="text" name="{{'_PPAPPartsApproved_' | translate}}" aa-field-name="{{'_PPAPPartsApproved_' | translate}}" ng-model="APQP.objPPAPSubmission.PPAPPartsApprovedDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-250">
                                                        <div class="col-hori-box">
                                                            <textarea ng-attr-title="{{APQP.objTooltip.PPAPComments}}" class="textarea-height-half big" type="text" rows="5" name="{{'_Comments_' | translate}}" aa-field-name="{{'_Comments_' | translate}}" ng-model="APQP.objPPAPSubmission.Comments" maxlength="255"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-120">
                                                        <div class="col-hori-box align-center">
                                                            <a href="javascript:void(0)" class="spacer-top-img" ng-click="ShowPopupGeneratePSW(APQP.Id,APQP)"><img src="/Content/images/generate-pass-icon.png" /></a>
                                                            <a ng-click="OpenPSW(APQP.objPPAPSubmission.PSWFilePath)" href="javascript:void(0)" class="spacer-top-img" ng-class="APQP.objPPAPSubmission.PSWFilePath!=''?'':'anchr-none'"><img src="/Content/images/view-edit-icon.png" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="common-grid-box cg-120">
                                                        <div class="col-hori-box align-center">
                                                            <a href="javascript:void(0)" class="spacer-top-img" ng-click="ShowPopupDocuments('APQPSTEP4',APQP.Id,APQP)"><img src="/Content/images/document-icon.png" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>