<!--Header  Part-->
<div class="col-12 pad-t-0 openScrollDiv">
    <div class="col-12 pad-10 pad-b-0 pad-l-0">
        <div class="header-highligt-panel">
            <span class="height-20"><label translate="yes">_Date_</label><p>{{SelectionCriteria.WeeklyDateFrom | date:'dd-MMM-yy'}} - {{SelectionCriteria.WeeklyDateTo | date:'dd-MMM-yy'}}</p></span>
            <span class="height-20"><label translate="yes">_ShippingCost_</label><p>{{SelectionCriteria.CustomerName}}</p></span>
        </div>
    </div>

    <!--Report Data Start-->
    <div>
        <!--Cover section-->
        <div class="col-12 pad-t-0">
            <div class="col-12">
                <div class="custom-grid-panel mar-b-10 grid-option-five">

                    <!--Report Data Header Section-->
                    <div class="border-full">
                        <div class="grid-common-detail-panel">
                            <div class="grid-common-content-panel">
                                <div class="grid-right-panel">
                                    <div class="scroller-panel">
                                        <div class="common-grid-panel supplierQuote sliderOn header-two-line" row column-width="200" column-move="1" margin-minus="340">
                                            <button role="button" aria-label="Previous" class="slick-prev slick-arrow" onclick="scrollColumn(1)" type="button"></button>
                                            <div class="common-grid-box cg-150">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_ProjectKickOffDate_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_PartNumber_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_RFQNumber_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-150">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_Customer_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_MonthOfPOLaunch_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_SAM_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_ToolingSales_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0 align-right">{{'_ToolingCost_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_Quantity_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_SellingPrice_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_AnnualSales_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_PurchasePrice_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-10">{{'_ProductMargin_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_AnnualCOGS_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-250">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_SupplierName_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-250">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_ManufactureName_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_ShippingCost_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_TotalShippingCost_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-150">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_COGSSupplier_Shipping_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_ToolingMargin_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-180">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_GrossMargin_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-180">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_GrossMarginUSD_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-120">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_InventoryRanking_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="common-grid-box cg-250">
                                                <div class="col-hori-box ng-s">
                                                    <div class="list-1 root-list">
                                                        <div class="lst-header">
                                                            <div class="lst-item">
                                                                <div class="col-12 pad-0">{{'_MesWarehouse_' | translate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button role="button" aria-label="Next" class="slick-next slick-arrow" onclick="scrollColumn(0)" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Report Data Header Section End-->

                    <!--Report Actual Data Section-->
                    <div class="grid-common-detail-panel">
                        <div class="fixed-height-grid auto-height-grid height-auto-important">
                            <div class="border-full">
                                <div class="section-coomon">
                                    <div class="grid-common-content-panel">
                                        <div class="grid-right-panel">
                                            <div class="scroller-panel sap-group">
                                                <div class="common-grid-panel sub-group SupplierQuote sliderOn" row column-width="200" column-move="1">
                                                    <div class="common-grid-panel" ng-repeat="APQP in APQPNewBusinessAwardedReportData">
                                                       
                                                        <div class="common-grid-box cg-150">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ProjectKickoffDate | date:'dd-MMM-yy'}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.PartNumber}} <span class="tooltip-h">{{APQP.PartNumber}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.RFQNumber}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-150">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.Customer}} <span class="tooltip-h">{{APQP.Customer}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.MonthOfPoLaunch}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.SalesAccountManager}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ToolingSales}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box align-right">
                                                                <label>{{APQP.ToolingCosts}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.Quantity}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.SellingPrice}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.AnnualSales}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.PurchasePrice}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ProductMargin}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.AnnualCOGS}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-250">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.SupplierName}}<span class="tooltip-h">{{APQP.SupplierName}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-250">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ManufacturerName}}<span class="tooltip-h">{{APQP.ManufacturerName}}</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ShippingCost}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.TotalShippingCost}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-150">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.COGSSupplier_Shipping}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.ToolingMargin}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-180">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.GrossMarginAfterShipping}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-180">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.GrossMarginAfterShippingUSD}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-120">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.InventoryRanking}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="common-grid-box cg-250">
                                                            <div class="col-hori-box">
                                                                <label>{{APQP.MESWarehouse}}<span class="tooltip-h">{{APQP.MESWarehouse}}</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Report Actual Data Section-->

                </div>
            </div>
        </div>
        <!--Cover section Ends -->

    </div>
    <!--Report Data End-->

    <!--No Records Found Section-->
    <div class="col-12 align-center" ng-hide="APQPNewBusinessAwardedReportData.length>0">
        <div class="spacer-gray-line"></div>
        <div class="error-box rounded-info-box" style="display:inline-block;">
            <p translate="yes">_NoRecordsFound_</p>
        </div>
    </div>
    <!--No Records Found Section Ends -->

    <!--Pagination Section-->
    <div class="col-12" ng-show="APQPNewBusinessAwardedReportData.length>0">
        <mespagination boundary-links="true" total-items="Paging.TotalRecords" on-select-page="pageChanged(page)"
                       page="Paging.PageNo" items-per-page="Paging.PageSize" fix-to-bottom=""
                       previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page-size="pageSizeChanged(pagesize)" pagesize="Paging.PageSize"></mespagination>
    </div>
    <!--Pagination Section Ends-->

</div>