<form unsaved-warning-form novalidate>
    <div class="modal-header">
        <h3 translate="yes">_PartSubmissionWarrant_</h3>
    </div>
    <div class="modal-body">
        <div class="common-accordion-panel">
            <div class="col-12">
                <div class="fs linear fs-col-2">
                    <div class="fs-g">
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_PartName_</label>
                            </span>
                            <span class="fs-f-i">
                                <label>{{GeneratePSWData.PartDesc}}</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_CustPartNumber_</label>
                            </span>
                            <span class="fs-f-i">
                                <label>{{GeneratePSWData.PartNumber}}</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_ShownOnDrawingNo_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_ShownOnDrawingNo_' | translate}}" aa-field-name="{{'_ShownOnDrawingNo_' | translate}}" ng-model="GeneratePSWData.DrawingNumber" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_OrgPartNumber_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_OrgPartNumber_' | translate}}" aa-field-name="{{'_OrgPartNumber_' | translate}}" ng-model="GeneratePSWData.OrgPartNumber" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_EngineeringChangeLevel_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_EngineeringChangeLevel_' | translate}}" aa-field-name="{{'_EngineeringChangeLevel_' | translate}}" ng-model="GeneratePSWData.RevLevel" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Dated_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Dated_' | translate}}" aa-field-name="{{'_Dated_' | translate}}" ng-model="GeneratePSWData.ToolingKickoffDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_AdditionalEngineeringChanges_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_AdditionalEngineeringChanges_' | translate}}" aa-field-name="{{'_AdditionalEngineeringChanges_' | translate}}" ng-model="GeneratePSWData.AdditionalEngineeringChanges" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Dated_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Dated_' | translate}}" aa-field-name="{{'_Dated_' | translate}}" ng-model="GeneratePSWData.AdditionalEngineeringChangesDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SafetyandorGovernmentRegulation_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="radio" id="chkSafetyGovernmentRegulation1" ng-value="1" ng-model="GeneratePSWData.SafetyGovernmentRegulation" name="SafetyGovernmentRegulation" />
                                <label for="chkSafetyGovernmentRegulation1" translate="yes">_Yes_</label>
                                <input type="radio" id="chkSafetyGovernmentRegulation2" ng-value="0" ng-model="GeneratePSWData.SafetyGovernmentRegulation" name="SafetyGovernmentRegulation" />
                                <label for="chkSafetyGovernmentRegulation2" translate="yes">_No_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <div class="col-6">
                                    <label translate="yes">_PurchaseOrderNo_</label>
                                </div>
                                <div class="col-6 pad-l-5">
                                    <label translate="yes">_Weightkg_</label>
                                </div>
                            </span>
                            <span class="fs-f-i">
                                <span class="col-6">
                                    <input type="text" name="{{'_PurchaseOrderNo_' | translate}}" aa-field-name="{{'_PurchaseOrderNo_' | translate}}" ng-model="GeneratePSWData.PurchaseOrderNo" />
                                </span>
                                <span class="col-6">
                                    <input type="text" class="align-right" name="{{'_Weightkg_' | translate}}" aa-field-name="{{'_Weightkg_' | translate}}" ng-model="GeneratePSWData.PartWeight" ng-maxlength="10" numbers-only to-precision="3" />
                                </span>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_CheckingAidNo_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_CheckingAidNo_' | translate}}" aa-field-name="{{'_CheckingAidNo_' | translate}}" ng-model="GeneratePSWData.CheckingAidNo" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <div class="col-6">
                                    <label translate="yes">_CheckingAidEngineeringChangeLevel_</label>
                                </div>
                                <div class="col-6 pad-l-5">
                                    <label translate="yes">_Dated_</label>
                                </div>
                            </span>
                            <span class="fs-f-i">
                                <span class="col-6">
                                    <input type="text" name="{{'_CheckingAidEngineeringChangeLevel_' | translate}}" aa-field-name="{{'_CheckingAidEngineeringChangeLevel_' | translate}}" ng-model="GeneratePSWData.CheckingAidEngineeringChange" />
                                </span>
                                <span class="col-6">
                                    <input type="text" name="{{'_Dated_' | translate}}" aa-field-name="{{'_Dated_' | translate}}" ng-model="GeneratePSWData.CheckingAidEngChangeLevelDate" date-time view="date" min-view="date" format="dd-MMM-yy" />
                                </span>
                            </span>
                        </div>

                        <div class="fs-f pad-t-20 mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_OrganizationManufacturingInformation_</h4>
                            </span>
                        </div>
                        <div class="fs-f pad-t-20 mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_CustomerSubmittalInformation_</h4>
                            </span>
                        </div>

                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SupplierName_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_SupplierName_' | translate}}" aa-field-name="{{'_SupplierName_' | translate}}" ng-model="GeneratePSWData.SupplierName" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <div class="col-6">
                                    <label translate="yes">_SupplierCode_</label>
                                </div>
                                <div class="col-6 pad-l-5">
                                    <label translate="yes">_CustomerNameDivision_</label>
                                </div>
                            </span>
                            <span class="fs-f-i">
                                <span class="col-6">
                                    <input type="text" name="{{'_SupplierCode_' | translate}}" aa-field-name="{{'_SupplierCode_' | translate}}" ng-model="GeneratePSWData.SupplierCode" />
                                </span>
                                <span class="col-6">
                                    <input type="text" name="{{'_CustomerNameDivision_' | translate}}" aa-field-name="{{'_CustomerNameDivision_' | translate}}" ng-model="GeneratePSWData.CustomerName" />
                                </span>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_StreetAddress_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_StreetAddress_' | translate}}" aa-field-name="{{'_StreetAddress_' | translate}}" ng-model="GeneratePSWData.SupplierAddress1" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <div class="col-6">
                                    <label translate="yes">_City_</label>
                                </div>
                                <div class="col-6 pad-l-5">
                                    <label translate="yes">_BuyerCode_</label>
                                </div>
                            </span>
                            <span class="fs-f-i">
                                <span class="col-6">
                                    <input type="text" name="{{'_City_' | translate}}" aa-field-name="{{'_City_' | translate}}" ng-model="GeneratePSWData.SupplierCity" />
                                </span>
                                <span class="col-6">
                                    <input type="text" name="{{'_BuyerCode_' | translate}}" aa-field-name="{{'_BuyerCode_' | translate}}" ng-model="GeneratePSWData.BuyerCode" />
                                </span>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_State_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_State_' | translate}}" aa-field-name="{{'_State_' | translate}}" ng-model="GeneratePSWData.SupplierState" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <div class="col-6">
                                    <label translate="yes">_Zip_</label>
                                </div>
                                <div class="col-6 pad-l-5">
                                    <label translate="yes">_Application_</label>
                                </div>
                            </span>
                            <span class="fs-f-i">
                                <span class="col-6">
                                    <input type="text" name="{{'_Zip_' | translate}}" aa-field-name="{{'_Zip_' | translate}}" ng-model="GeneratePSWData.SupplierZip" />
                                </span>
                                <span class="col-6">
                                    <input type="text" name="{{'_Application_' | translate}}" aa-field-name="{{'_Application_' | translate}}" ng-model="GeneratePSWData.Application" />
                                </span>
                            </span>
                        </div>
                        <div class="fs-f pad-t-20 full-c mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_MaterialsReporting_</h4>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_HascustomerrequiredSubstances_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="radio" id="chkMaterialsReporting1" ng-value="1" ng-model="GeneratePSWData.MaterialsReporting" name="MaterialsReporting" />
                                <label for="chkMaterialsReporting1" translate="yes">_Yes_</label>
                                <input type="radio" id="chkMaterialsReporting2" ng-value="0" ng-model="GeneratePSWData.MaterialsReporting" name="MaterialsReporting" />
                                <label for="chkMaterialsReporting2" translate="yes">_No_</label>
                                <input type="radio" id="chkMaterialsReporting3" ng-value="-1" ng-model="GeneratePSWData.MaterialsReporting" name="MaterialsReporting" />
                                <label for="chkMaterialsReporting3" translate="yes">_NA_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_SubmittedbyIMDS_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_SubmittedbyIMDS_' | translate}}" aa-field-name="{{'_SubmittedbyIMDS_' | translate}}" ng-model="GeneratePSWData.SubmittedbyIMDS" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Arepolymericpartsidentified_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="radio" id="chkMaterialsReportingISO1" ng-value="1" ng-model="GeneratePSWData.MaterialsReportingISO" name="MaterialsReporting" />
                                <label for="chkMaterialsReportingISO1" translate="yes">_Yes_</label>
                                <input type="radio" id="chkMaterialsReportingISO2" ng-value="0" ng-model="GeneratePSWData.MaterialsReportingISO" name="MaterialsReporting" />
                                <label for="chkMaterialsReportingISO2" translate="yes">_No_</label>
                                <input type="radio" id="chkMaterialsReportingISO3" ng-value="-1" ng-model="GeneratePSWData.MaterialsReportingISO" name="MaterialsReporting" />
                                <label for="chkMaterialsReportingISO3" translate="yes">_NA_</label>
                            </span>
                        </div>
                        <div class="fs-f pad-t-20 full-c mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_ReasonForSubmission_</h4>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkInitialSubmission" ng-model="GeneratePSWData.InitialSubmission" />
                                <label for="chkInitialSubmission" translate="yes">_InitialSubmission_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkChangetoOptionalConstructionorMaterial" ng-model="GeneratePSWData.ChangetoOptionalConstructionorMaterial" />
                                <label for="chkChangetoOptionalConstructionorMaterial" translate="yes">_ChangetoOptionalConstructionorMaterial_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkEngineeringChanges" ng-model="GeneratePSWData.EngineeringChanges" />
                                <label for="chkEngineeringChanges" translate="yes">_EngineeringChanges_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkSubSupplierorMaterialSourceChange" ng-model="GeneratePSWData.SubSupplierorMaterialSourceChange" />
                                <label for="chkSubSupplierorMaterialSourceChange" translate="yes">_SubSupplierorMaterialSourceChange_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkToolingTransferReplacementRefurbishmentoradditional" ng-model="GeneratePSWData.ToolingTransferReplacementRefurbishmentoradditional" />
                                <label for="chkToolingTransferReplacementRefurbishmentoradditional" translate="yes">_ToolingTransferReplacementRefurbishmentoradditional_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkChangeinPartProcessing" ng-model="GeneratePSWData.ChangeinPartProcessing" />
                                <label for="chkChangeinPartProcessing" translate="yes">_ChangeinPartProcessing_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkCorrectionofDiscrepancy" ng-model="GeneratePSWData.CorrectionofDiscrepancy" />
                                <label for="chkCorrectionofDiscrepancy" translate="yes">_CorrectionofDiscrepancy_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkPartProductedatAdditionalLocation" ng-model="GeneratePSWData.PartProductedatAdditionalLocation" />
                                <label for="chkPartProductedatAdditionalLocation" translate="yes">_PartProductedatAdditionalLocation_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkToolingInactiveYear" ng-model="GeneratePSWData.ToolingInactiveYear" />
                                <label for="chkToolingInactiveYear" translate="yes">_ToolingInactiveYear_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkOtherPleasespecifybelow" ng-model="GeneratePSWData.OtherPleasespecifybelow" />
                                <label for="chkOtherPleasespecifybelow" translate="yes">_OtherPleasespecifybelow_</label>
                            </span>
                        </div>
                        <div class="fs-f full-c" ng-show="GeneratePSWData.OtherPleasespecifybelow==true">
                            <span class="fs-f-i">
                                <input type="text" ng-required="GeneratePSWData.OtherPleasespecifybelow==true" name="ReasonForSubmissionOther" aa-field-name="ReasonForSubmissionOther" ng-model="GeneratePSWData.ReasonForSubmissionOther" />
                            </span>
                        </div>
                        <div class="fs-f pad-t-20 full-c mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_RequestedSubmissionLevel_</h4>
                            </span>
                        </div>
                        <div class="fs-f full-c mar-b-5">
                            <span class="fs-f-i full-c">
                                <input type="radio" id="RequestedForSubmission1" ng-value="1" ng-model="GeneratePSWData.RequestedForSubmission" name="RequestedForSubmission" />
                                <label for="RequestedForSubmission1" translate="yes">_Level1_</label>
                            </span>
                        </div>
                        <div class="fs-f full-c mar-b-5">
                            <span class="fs-f-i full-c">
                                <input type="radio" id="RequestedForSubmission2" ng-value="2" ng-model="GeneratePSWData.RequestedForSubmission" name="RequestedForSubmission" />
                                <label for="RequestedForSubmission2" translate="yes">_Level2_</label>
                            </span>
                        </div>
                        <div class="fs-f full-c mar-b-5">
                            <span class="fs-f-i full-c">
                                <input type="radio" id="RequestedForSubmission3" ng-value="3" ng-model="GeneratePSWData.RequestedForSubmission" name="RequestedForSubmission" />
                                <label for="RequestedForSubmission3" translate="yes">_Level3_</label>
                            </span>
                        </div>
                        <div class="fs-f full-c mar-b-5">
                            <span class="fs-f-i full-c">
                                <input type="radio" id="RequestedForSubmission4" ng-value="4" ng-model="GeneratePSWData.RequestedForSubmission" name="RequestedForSubmission" />
                                <label for="RequestedForSubmission4" translate="yes">_Level4_</label>
                            </span>
                        </div>
                        <div class="fs-f full-c">
                            <span class="fs-f-i full-c">
                                <input type="radio" id="RequestedForSubmission5" ng-value="5" ng-model="GeneratePSWData.RequestedForSubmission" name="RequestedForSubmission" />
                                <label for="RequestedForSubmission5" translate="yes">_Level5_</label>
                            </span>
                        </div>
                        <div class="fs-f pad-t-15 full-c mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_SubmissionResults_</h4>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_TheResultsFor_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="checkbox" id="chkDimensionalMeasurements" ng-model="GeneratePSWData.DimensionalMeasurements" />
                                <label for="chkDimensionalMeasurements" translate="yes">_DimensionalMeasurements_</label>
                                <input type="checkbox" id="chkMaterialandFunctionalTests" ng-model="GeneratePSWData.MaterialandFunctionalTests" />
                                <label for="chkMaterialandFunctionalTests" translate="yes">_materialandfunctionalTests_</label>
                                <input type="checkbox" id="chkAppearanceCriteria" ng-model="GeneratePSWData.AppearanceCriteria" />
                                <label for="chkAppearanceCriteria" translate="yes">_AppearanceCriteria_</label>
                                <input type="checkbox" id="chkStatisticalProcessPackage" ng-model="GeneratePSWData.StatisticalProcessPackage" />
                                <label for="chkStatisticalProcessPackage" translate="yes">_StatisticalProcessPackage_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_TheseResultsMeetAllDrawing_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="radio" id="SubmissionResultRequirement1" ng-value="1" ng-model="GeneratePSWData.SubmissionResultRequirement" name="SubmissionResultRequirement" />
                                <label for="SubmissionResultRequirement1" translate="yes">_Yes_</label>
                                <input type="radio" id="SubmissionResultRequirement2" ng-value="0" ng-model="GeneratePSWData.SubmissionResultRequirement" name="SubmissionResultRequirement" />
                                <label for="SubmissionResultRequirement2" translate="yes">_IfNoExplainationRequired_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_MoldCavityProductionProcess_</label>
                            </span>
                            <!--<span class="fs-f-i">
                                &nbsp;
                            </span>-->
                        </div>

                        <div class="fs-f pad-t-15 full-c mar-b-10">
                            <span class="fs-f-l">
                                <h4 translate="yes">_Declaration_</h4>
                            </span>
                        </div>
                        <div class="fs-f full-c">
                            <span class="fs-f-i full-c">
                                <div class="col-9">
                                    <label translate="yes">_NotesFirstPart_</label>
                                </div>
                                <div class="col-1">
                                    <input type="text" name="{{'_Declaration_' | translate}}" aa-field-name="{{'_Declaration_' | translate}}" ng-model="GeneratePSWData.Rate1" />
                                </div>
                                <div class="col-1 align-center">/</div>
                                <div class="col-1">
                                    <input type="text" name="{{'_Declaration_' | translate}}" aa-field-name="{{'_Declaration_' | translate}}" ng-model="GeneratePSWData.Rate2" />
                                </div>
                            </span>
                        </div>
                        <div class="fs-f full-c">
                            <span class="fs-f-i full-c">
                                <label translate="yes">_NotesSecondPart_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_ExplainationComments_</label>
                            </span>
                            <span class="fs-f-i">
                                <textarea class="textarea-height-half" type="text" rows="5" name="{{'_ExplainationComments_' | translate}}" aa-field-name="{{'_ExplainationComments_' | translate}}" ng-model="GeneratePSWData.ExplainationComments" ng-maxlength="255"></textarea>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_IsEachCustomerTool_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="radio" id="CustomerToolTagged1" ng-value="1" ng-model="GeneratePSWData.CustomerToolTagged" name="CustomerToolTagged" />
                                <label for="CustomerToolTagged1" translate="yes">_Yes_</label>
                                <input type="radio" id="CustomerToolTagged2" ng-value="0" ng-model="GeneratePSWData.CustomerToolTagged" name="CustomerToolTagged" />
                                <label for="CustomerToolTagged2" translate="yes">_No_</label>
                                <input type="radio" id="CustomerToolTagged3" ng-value="-1" ng-model="GeneratePSWData.CustomerToolTagged" name="CustomerToolTagged" />
                                <label for="CustomerToolTagged3" translate="yes">_NA_</label>
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_PrintName_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_PrintName_' | translate}}" aa-field-name="{{'_PrintName_' | translate}}" ng-model="GeneratePSWData.PrintName" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_PhoneNo_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_PhoneNo_' | translate}}" aa-field-name="{{'_PhoneNo_' | translate}}" ng-model="GeneratePSWData.PhoneNo" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_FaxNo_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_FaxNo_' | translate}}" aa-field-name="{{'_FaxNo_' | translate}}" ng-model="GeneratePSWData.FaxNo" />
                            </span>
                        </div>
                        <div class="fs-f">
                            <span class="fs-f-l">
                                <label translate="yes">_Title_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Title_' | translate}}" aa-field-name="{{'_Title_' | translate}}" ng-model="GeneratePSWData.Title" />
                            </span>
                        </div>
                        <div class="fs-f mar-b-15">
                            <span class="fs-f-l">
                                <label translate="yes">_Email_</label>
                            </span>
                            <span class="fs-f-i">
                                <input type="text" name="{{'_Email_' | translate}}" aa-field-name="{{'_Email_' | translate}}" ng-model="GeneratePSWData.Email" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="common-accordion-panel" ng-if="PSWDocumentsList.length>0">
            <div class="col-12">
                <accordion close-others="false">
                    <div class="list-1 root-list">
                        <div class="lst-header">
                            <div class="lst-item">
                                <div class="col-grid-sm-1">
                                    <input ng-change="SelectDeselectAll()" type="checkbox" id="chkSelectAll" ng-model="objSelectAll.SelectAll" />
                                    <label for="chkSelectAll">&nbsp;</label>
                                </div>
                                <div class="col-grid-sm-9">
                                    <label ng-click="sortType = 'DocumentType';sortReverse = !sortReverse">
                                        {{'_DocumentType_' | translate}}
                                        <i ng-show="sortType == 'DocumentType' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'DocumentType' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-10">
                                    <label ng-click="sortType = 'FileTitle';sortReverse = !sortReverse">
                                        {{'_FileTitle_' | translate}}
                                        <i ng-show="sortType == 'FileTitle' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'FileTitle' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-4">
                                    <label ng-click="sortType = 'RevLevel';sortReverse = !sortReverse">
                                        {{'_RevLevel_' | translate}}
                                        <i ng-show="sortType == 'RevLevel' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'RevLevel' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="lst-body">
                            <div class="lst-item" ng-repeat="item in PSWDocumentsList | orderBy:sortType:sortReverse">
                                <div class="col-grid-sm-1" data-colmn-title="{{'_SelectAll_'| translate}}">
                                    <input ng-change="select()" type="checkbox" id="chkSelectPSW{{$index}}" ng-model="item.chkSelect" />
                                    <label for="chkSelectPSW{{$index}}"></label>
                                </div>
                                <div class="col-grid-sm-9" data-colmn-title="{{'_DocumentType_'| translate}}">
                                    <label>{{item.DocumentType}}</label>
                                </div>
                                <div class="col-grid-sm-10" data-colmn-title="{{'_FileTitle_'| translate}}">
                                    <a class="page-url" href="{{item.FilePath}}" target="_blank">{{item.FileTitle}}</a>
                                </div>
                                <div class="col-grid-sm-4" data-colmn-title="{{'_RevLevel_'| translate}}">
                                    <label>{{item.RevLevel}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" aa-submit-form="ExportGeneratePSW()" tabindex="39" translate="yes">_GeneratePSW_</button>
        <button class="orange-btn" ng-click="Cancel('')">{{'_Cancel_' | translate}}</button>
    </div>
</form>
