<form unsaved-warning-form novalidate id="frmAPQPSendEmail">
    <div class="modal-header">
        <h3 translate="yes">_APQPSendEmailPage_</h3>
    </div>
    <div class="modal-body">
        <div class="slider-scroll-container pad-b-15">
            <div class="fs linear fs-col-1">
                <div class="fs-g">
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_SendTo_</label>
                            <span class="required">*</span>
                        </span> <span class="fs-f-i">
                            <multiselect multiple="true"
                                         ng-model="EmailData.SendToIds"
                                         itemkey="Id"
                                         itemvalue="Name"
                                         options="item as item.Name for item in APQPSendToUserList"
                                         header="{{'_Select_' | translate}}" button-class="small"
                                         required name="Multiselect"
                                         required-msg="Send to is required."></multiselect>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_CCTo_</label>
                        </span>
                        <span class="fs-f-i">
                            <input type="text" name="{{'_CCTo_' | translate}}"
                                   aa-field-name="{{'_CCTo_' | translate}}"
                                   ng-model="EmailData.CCEmailIds" maxlength="255" />
                            <label translate="yes">_MsgText_</label>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_EmailSubject_</label>
                            <span class="required">*</span>
                        </span>
                        <span class="fs-f-i">
                            <input type="text" name="{{'_EmailSubject_' | translate}}" aa-field-name="{{'_EmailSubject_' | translate}}" ng-model="EmailData.EmailSubject" required />
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_EmailBody_</label>
                        </span>
                        <span class="fs-f-i">
                            <textarea name="{{'_EmailBody_' | translate}}" aa-field-name="{{'_EmailBody_' | translate}}" ng-model="EmailData.EmailBody" required ckeditorsmall></textarea>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_AttachNewPartIntroductionForms_</label>
                        </span>
                        <span class="fs-f-i">
                            <input type="checkbox" ng-checked="true" id="chkAttachNewPartIntroductionForms" ng-model="EmailData.AttachDocument" />
                            <label for="chkAttachNewPartIntroductionForms" translate="yes">&nbsp;</label>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Attachment_</label>
                        </span>
                        <span class="fs-f-i">
                            <file-select fs-model="EmailData.lstEmailDocumentAttachment"
                                         fs-multiselect="false"
                                         fs-upload-path="sendEmailDocumentAttachment"
                                         fs-extension-validation-msg="File not supported"
                                         fs-extension=".txt, .pdf, .xls, .xlsx, .doc, .docx, .jpg, .jpeg, .gif, .png, .tif, .tiff, .csv, .ppt, .pptx, .stp, .step, .iges, .igs, .dwf,
                                                          .dxf, .dwg, .zip, .rar, .7z, .sldprt, .1, .2, .3, .10, .15, .16, .20, .36, .39, .59, .82, .104, .115, .170"
                                         fs-saveuploadedfiles="SetUploadEmailFile(UploadedFilePath,UploadedFileName)"
                                         fs-spinnder-key="spnAPQP"
                                         fs-stop-spinner="1"
                                         fs-file-upload-folder-name="TempFilesEmailAttachments"
                                         fs-max-size="1050000"></file-select>
                            <ul ng-show="EmailData.EmailAttachment!=''" class="images-upload-panal">
                                <li>
                                    <a href="{{EmailData.EmailAttachment}}" target="_blank">{{EmailData.EmailFileName}}</a>
                                    <button class="btn float-r" ng-click="deleteEmailFile(EmailData.EmailAttachment)"> <i class="fa fa-close"></i> </button>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" aa-submit-form="SendEmail()" tabindex="4" translate="yes">_SendEmail_</button>
        <button class="orange-btn" ng-click="Cancel()" tabindex="5" translate="yes">_Cancel_</button>
    </div>
</form>




