<div class="modal-header">
    <h3 translate="yes">_DocumentManagement_</h3>
    <button class="btn float-r" ng-click="Cancel()"> <i class="fa fa-close"></i> </button>
</div>
<div class="modal-body">
    <!--DOCUMENT MANAGEMENT Start-->
    <div class="col-12">
        <div class="label-table-panel pad-b-10">
            <table>
                <tr>
                    <td class="title"><label translate="yes">_PartNo_</label></td>
                    <td><p>{{APQPDocumentHeader.PartNumber}}</p></td>
                    <td class="title"><label translate="yes">_PartName_</label></td>
                    <td><p>{{APQPDocumentHeader.PartDesc}}</p></td>
                    <td class="title"><label translate="yes">_Program_</label></td>
                    <td><p>{{APQPDocumentHeader.ProjectName}}</p></td>
                    <td class="title"><label translate="yes">_DrawingNumber_</label></td>
                    <td><p>{{APQPDocumentHeader.DrawingNumber}}</p></td>
                </tr>
                <tr>
                    <td class="title"><label translate="yes">_RfqNo_</label></td>
                    <td><p>{{APQPDocumentHeader.RFQNumber}}</p></td>
                    <td class="title"><label translate="yes">_Customer_</label></td>
                    <td><p>{{APQPDocumentHeader.CustomerName}}</p></td>
                    <td class="title"><label translate="yes">_CustomerPlant_</label></td>
                    <td><p>{{APQPDocumentHeader.CustomerManufacturingLocation}}</p></td>
                    <td class="title"><label translate="yes">_RevisionLevel_</label></td>
                    <td><p>{{APQPDocumentHeader.RevLevel}}</p></td>
                </tr>
                <tr>
                    <td class="title"><label translate="yes">_QuoteNo_</label></td>
                    <td><p>{{APQPDocumentHeader.QuoteNumber}}</p></td>
                    <td class="title"><label translate="yes">_Supplier_</label></td>
                    <td><p>{{APQPDocumentHeader.SupplierCode}} {{APQPDocumentHeader.DerivedSupplierName}}</p></td>
                    <td class="title"><label translate="yes">_SupplierLocation_</label></td>
                    <td><p>{{APQPDocumentHeader.DerivedSupplierAddress}}</p></td>
                    <td class="title"><label translate="yes">_ToolingStartDate_</label></td>
                    <td><p>{{APQPDocumentHeader.ToolingKickoffDate | date:'dd-MMM-yy'}}</p></td>

                </tr>
            </table>
        </div>
        <div class="common-accordion-panel">
            <div class="col-12">
                <accordion close-others="false">
                    <div class="list-1 root-list">
                        <div class="lst-header">
                            <div class="lst-item">
                                <div class="col-grid-sm-5">
                                    <label ng-click="sortType = 'DocumentType';sortReverse = !sortReverse">
                                        {{'_DocumentType_' | translate}}
                                        <i ng-show="sortType == 'DocumentType' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'DocumentType' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-5">
                                    <label ng-click="sortType = 'FileTitle';sortReverse = !sortReverse">
                                        {{'_FileTitle_' | translate}}
                                        <i ng-show="sortType == 'FileTitle' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'FileTitle' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-4">
                                    <label ng-click="sortType = 'Comments';sortReverse = !sortReverse">
                                        {{'_Comments_' | translate}}
                                        <i ng-show="sortType == 'Comments' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'Comments' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-3">
                                    <label ng-click="sortType = 'ReceivedDate';sortReverse = !sortReverse">
                                        {{'_ReceivedDate_' | translate}}
                                        <i ng-show="sortType == 'ReceivedDate' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'ReceivedDate' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-3">
                                    <label ng-click="sortType = 'RevLevel';sortReverse = !sortReverse">
                                        {{'_RevLevel_' | translate}}
                                        <i ng-show="sortType == 'RevLevel' && sortReverse==false" class="fa fa-sort-asc"></i>
                                        <i ng-show="sortType == 'RevLevel' && sortReverse==true" class="fa fa-sort-desc"></i>
                                    </label>
                                </div>
                                <div class="col-grid-sm-2">
                                    &nbsp;
                                </div>
                                <div class="col-grid-sm-2 align-right spacer-right-t">
                                    <label>
                                        {{'_Action_' | translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="lst-body">
                            <div class="lst-item" ng-show="AddEditDocument==true">
                                <div class="col-grid-sm-5">
                                    <select name="{{'_DocumentType_' | translate}}" aa-field-name="{{'_DocumentType_'|translate}}" ng-model="APQPDocument.DocumentTypeId" ng-options="item.Id as item.Name for item in DocumentLookupList" ng-required="AddEditDocument==true">
                                        <option value="">{{'_Select_' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-grid-sm-5 upload-image">
                                    <file-select fs-model="APQPDocument.DocumentFilePath"
                                                 fs-multiselect="false"
                                                 fs-upload-path="documentPath"
                                                 fs-extension-validation-msg="File not supported"
                                                 fs-saveuploadedfiles="SetObjectvalues(UploadedFilePath,UploadedFileName)"
                                                 fs-spinnder-key="spnAPQP"
                                                 fs-stop-spinner="1"
                                                 fs-extension=""
                                                 fs-file-upload-folder-name="APQPFile/APQPTracking"
                                                 fs-max-size="1050000"></file-select>
                                    <ul class="images-upload-panal mar-t-5" ng-hide="APQPDocument.FilePath==undefined || APQPDocument.FilePath==''">
                                        <li>
                                            <a href="/APQP/APQP/APQP/DownloadFile?filePath={{APQPDocument.FilePath}}&fileName={{APQPDocument.FileTitle}}" target="_blank">{{APQPDocument.FileTitle}}</a>
                                            <button class="btn float-r" ng-click="deleteFile(APQPDocument.FilePath)"> <i class="fa fa-close"></i> </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-grid-sm-4">
                                    <textarea class="textarea-height-half" type="text" rows="5" name="{{'_Comments_' | translate}}" aa-field-name="{{'_Comments_' | translate}}" ng-model="APQPDocument.Comments" maxlength="255"></textarea>
                                </div>
                                <div class="col-grid-sm-3">
                                    <input type="text" name="{{'_ReceivedDate_' | translate}}" aa-field-name="{{'_ReceivedDate_' | translate}}" ng-model="APQPDocument.ReceivedDate" date-time view="date" min-view="date" format="dd-MMM-yy" ng-required="AddEditDocument==true" />
                                </div>
                                <div class="col-grid-sm-3">
                                    <input type="text" name="{{'_RevLevel_' | translate}}" aa-field-name="{{'_RevLevel_' | translate}}" ng-model="APQPDocument.RevLevel" />
                                </div>
                                <div class="col-grid-sm-2">
                                    &nbsp;
                                </div>
                                <div class="col-grid-sm-2 align-right">
                                    <div class="btn-group action-btn" dropdown>
                                        <button type="button" class="btn" data-ng-click="SaveDocument(item,$index)" translate="yes">_Save_</button>
                                        <button type="button" class="btn action-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0)" data-ng-click="CancelDocument(item.Id,$index)" translate="yes">_Cancel_</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="lst-item" ng-show="AddEditDocument==false && IsAccordionObjectEmpty">
                                <div class="col-12">
                                    <div class="error-box rounded-info-box">
                                        <p translate="yes">_NoRecordsFound_</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <accordion-group heading="" ng-repeat="(DocumentTypeName,DocumentItems) in DocumentsListWithGroup" is-open="true" ng-hide="IsAccordionObjectEmpty" ng-init="DocumentItems.IsOpen=true">
                        <accordion-heading>
                            <span class="p-title-txt">{{'_DocumentType_' | translate}}: {{DocumentTypeName}}</span>
                            <span class="accordion-icon"></span>
                        </accordion-heading>
                        <div class="list-1 root-list">
                            <div class="lst-body">
                                <div class="lst-item" ng-repeat="item in DocumentItems | orderBy:sortType:sortReverse">
                                    <div class="col-grid-sm-5" data-colmn-title="{{'_DocumentType_'| translate}}">
                                        <label>{{item.DocumentType}}</label>
                                    </div>
                                    <div class="col-grid-sm-5" data-colmn-title="{{'_FileTitle_'| translate}}">
                                        <a class="page-url" href="/APQP/APQP/APQP/DownloadFile?filePath={{item.FilePath}}&fileName={{item.FileTitle}}" target="_blank">{{item.FileTitle}}</a>
                                    </div>
                                    <div class="col-grid-sm-4" data-colmn-title="{{'_Comments_'| translate}}">
                                        <label>{{item.Comments}}</label>
                                    </div>
                                    <div class="col-grid-sm-3" data-colmn-title="{{'_ReceivedDate_'| translate}}">
                                        <label>{{item.ReceivedDate | date:'dd-MMM-yy'}}</label>
                                    </div>
                                    <div class="col-grid-sm-3" data-colmn-title="{{'_RevLevel_'| translate}}">
                                        <label>{{item.RevLevel}}</label>
                                    </div>
                                    <div class="col-grid-sm-2 align-right share-file-panel">
                                        <span callout="left" class="internal-popout open-left" callout-max-width="200px" ng-show="item.lstAPQPSupplierDetails.length>0">
                                            <a href="javascript:void(0)" class="share-file-btn"><i class="fa fa-share-alt"></i>Share File</a>
                                            <span class="popout-window">
                                                <div class="share-show-details-panel align-left">
                                                    <div class="header-h">
                                                        <div class="col-1">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-3">
                                                            <label translate="yes">_SupplierCode_</label>
                                                        </div>
                                                        <div class="col-4">
                                                            <label translate="yes">_SupplierName_</label>
                                                        </div>
                                                        <div class="col-4">
                                                            <label translate="yes">_SupplierLocation_</label>
                                                        </div>
                                                    </div>
                                                    <div class="body-h">
                                                        <div class="common-body-h" ng-repeat="shareItem in item.lstAPQPSupplierDetails">
                                                            <div class="col-1">
                                                                <input type="checkbox" id="chkShare_{{shareItem.DocumentTypeId}}_{{$index}}" ng-model="shareItem.chkSelect" />
                                                                <label for="chkShare_{{shareItem.DocumentTypeId}}_{{$index}}"></label>
                                                            </div>
                                                            <div class="col-3">
                                                                <label>{{shareItem.SupplierCode}}</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <label>{{shareItem.SupplierName}}</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <label>{{shareItem.SupplierLocation}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bottom-share-panel align-right">
                                                        <button class="orange-btn ng-scope" ng-click="ShareDocumentFiles(item.lstAPQPSupplierDetails,item.Id)" translate="yes" ng-disabled="IsReadOnlyDocs">_ShareDocumentFile_</button>
                                                    </div>
                                                </div>
                                            </span>
                                            <div class="share-show-details-panel align-left" style="display:none">
                                                <div class="header-h">
                                                    <div class="col-1">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-3">
                                                        <label translate="yes">_SupplierCode_</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <label translate="yes">_SupplierName_</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <label translate="yes">_SupplierLocation_</label>
                                                    </div>
                                                </div>
                                                <div class="body-h">
                                                    <div class="common-body-h" ng-repeat="shareItem in item.lstAPQPSupplierDetails">
                                                        <div class="col-1">
                                                            <input type="checkbox" id="chkShare_{{shareItem.DocumentTypeId}}_{{$index}}" ng-model="shareItem.chkSelect" />
                                                            <label for="chkShare_{{shareItem.DocumentTypeId}}_{{$index}}"></label>
                                                        </div>
                                                        <div class="col-3">
                                                            <label>{{shareItem.SupplierCode}}</label>
                                                        </div>
                                                        <div class="col-4">
                                                            <label>{{shareItem.SupplierName}}</label>
                                                        </div>
                                                        <div class="col-4">
                                                            <label>{{shareItem.SupplierLocation}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bottom-share-panel align-right">
                                                    <button class="orange-btn ng-scope" ng-click="ShareDocumentFiles(item.lstAPQPSupplierDetails,item.Id)" translate="yes" ng-disabled="IsReadOnlyDocs">_ShareDocumentFile_</button>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-grid-sm-2 align-right">
                                        <div class="btn-group action-btn" dropdown ng-hide="AddEditDocument==true">
                                            <button type="button" class="btn" data-ng-click="EditDocument(item,$index,item.Id)" translate="yes" ng-disabled="IsReadOnlyDocs">_Edit_</button>
                                            <button type="button" class="btn action-toggle">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0)" data-ng-click="DeleteDocument(item.Id,$index)" translate="yes" ng-class="{disableAnchor:IsReadOnlyDocs,'':IsReadOnlyDocs}">_Delete_</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </div>
    <!--DOCUMENT MANAGEMENT End-->
</div>
<div class="modal-footer">
    <button ng-show="AddEditDocument==false" class="orange-btn" ng-click="AddNewDocument()" translate="yes" ng-disabled="IsReadOnlyDocs">_AddDocuments_</button>
    <!--<button class="orange-btn" ng-click="Cancel()">{{'_Cancel_' | translate}}</button>-->
</div>



