<div>
    <div class="modal-header">
        <h3 translate="yes">_ChangeLogHeader_</h3>
        <button class="btn float-r" ng-click="ChangeLogCancel()"> <i class="fa fa-close"></i> </button>
    </div>
    <div class="modal-body pad-10 pop-up-spacer-s">

        <div class="col-12">
            <div class="label-table-panel pad-b-10">
                <table>
                    <tr>
                        <td class="title"><label translate="yes">_PartNo_</label></td>
                        <td><p>{{APQPHeader.PartNumber}}</p></td>
                        <td class="title"><label translate="yes">_PartName_</label></td>
                        <td><p>{{APQPHeader.PartDesc}}</p></td>
                        <td class="title"><label translate="yes">_Program_</label></td>
                        <td><p>{{APQPHeader.ProjectName}}</p></td>
                        <td class="title"><label translate="yes">_DrawingNumber_</label></td>
                        <td><p>{{APQPHeader.DrawingNumber}}</p></td>
                    </tr>
                    <tr>
                        <td class="title"><label translate="yes">_RfqNo_</label></td>
                        <td><p>{{APQPHeader.RFQNumber}}</p></td>
                        <td class="title"><label translate="yes">_Customer_</label></td>
                        <td><p>{{APQPHeader.CustomerName}}</p></td>
                        <td class="title"><label translate="yes">_CustomerPlant_</label></td>
                        <td><p>{{APQPHeader.CustomerManufacturingLocation}}</p></td>
                        <td class="title"><label translate="yes">_RevisionLevel_</label></td>
                        <td><p>{{APQPHeader.RevLevel}}</p></td>
                    </tr>
                    <tr>
                        <td class="title"><label translate="yes">_QuoteNo_</label></td>
                        <td><p>{{APQPHeader.QuoteNumber}}</p></td>
                        <td class="title"><label translate="yes">_Supplier_</label></td>
                        <td><p>{{APQPHeader.SupplierCode}} {{APQPHeader.DerivedSupplierName}}</p></td>
                        <td class="title"><label translate="yes">_SupplierLocation_</label></td>
                        <td><p>{{APQPHeader.DerivedSupplierAddress}}</p></td>
                        <td class="title"><label translate="yes">_ToolingStartDate_</label></td>
                        <td><p>{{APQPHeader.ToolingKickoffDate | date:'dd-MMM-yy'}}</p></td>

                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12 pad-b-10">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">CHANGE LOG</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-5">
                        <div class="box-white">
                            <accordion close-others="false">
                                <div class="list-1 root-list">
                                    <div class="lst-header">
                                        <div class="lst-item">
                                            <div class="col-2">
                                                <label class="pad-l-10" translate="yes">_Tab_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_FieldName_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_NewValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_OldValue_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedOn_</label>
                                            </div>
                                            <div class="col-2">
                                                <label translate="yes">_UpdatedBy_</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <accordion-group heading="" ng-repeat="(UpdatedOn,Item) in APQPChangeLogList" is-open="true" ng-hide="IsAccordionObjectEmpty" ng-init="Item.IsOpen=true">
                                    <accordion-heading>
                                        <span class="title">{{'_UpdatedOn_' | translate}}: {{Item[0].UpdatedOnString}}</span>
                                        <span class="accordion-icon"></span>
                                    </accordion-heading>
                                    <!-- Start List Style 1 structure here -->
                                    <div class="list-1 root-list">
                                        <div class="lst-body">
                                            <div class="lst-item" ng-repeat="subItem in Item">
                                                <div class=" col-2" data-colmn-title="{{'_Tab_' | translate}}">
                                                    <label>{{subItem.TableName}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_FieldName_' | translate}}">
                                                    <label>{{subItem.FieldAlias}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_NewValue_' | translate}}">
                                                    <label>{{subItem.NewValue}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_OldValue_' | translate}}">
                                                    <label>{{subItem.OldValue}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_UpdatedOn_' | translate}}">
                                                    <label>{{subItem.TimeStampString}}</label>
                                                </div>
                                                <div class=" col-2" data-colmn-title="{{'_UpdatedBy_' | translate}}">
                                                    <label>{{subItem.UpdatedBy}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List Style 1 structure here -->
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="no-data-panel" ng-show="IsAccordionObjectEmpty">
                            <div class="lst-item">
                                <div class="col-12">
                                    <div class="error-box rounded-info-box">
                                        <p translate="yes">_NoRecordsFound_</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pad-0" ng-hide="IsAccordionObjectEmpty">
                            <mespagination boundary-links="true" total-items="APQPChangeLogPaging.TotalRecords" on-select-page="APQPChangeLogPageChanged(page)"
                                           page="APQPChangeLogPaging.PageNo" items-per-page="APQPChangeLogPaging.PageSize" previous-text="&lsaquo;" next-text="&rsaquo;"
                                           first-text="&laquo;" last-text="&raquo;" on-select-page-size="APQPChangeLogPageSizeChanged(pagesize)" pagesize="APQPChangeLogPaging.PageSize"></mespagination>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

        <div class="col-12" ng-hide="IsAccordionObjectEmptyCR">
            <accordion close-others="false">
                <accordion-group heading="" is-open="true">
                    <accordion-heading>
                        <span class="p-title-txt">{{'_History_' | translate}}</span>
                        <span class="accordion-icon"></span>
                    </accordion-heading>
                    <div class="col-12 pad-5">
                        <div class="box-white">
                            <accordion close-others="false">
                                <accordion-group heading="" ng-repeat="(TimeStamp,Item) in ChangeRequestLogList" is-open="true" ng-hide="IsAccordionObjectEmptyCR" ng-init="Item.IsOpen=true">
                                    <accordion-heading>
                                        <!--class="title"-->
                                        <span class="title">{{Item[0].OperationType}}&nbsp;By<b>&nbsp;{{Item[0].UpdatedBy}}</b>&nbsp;on&nbsp;{{Item[0].TimeStampString}}</span>
                                        <span class="accordion-icon"></span>
                                    </accordion-heading>
                                    <!-- Start List Style 1 structure here -->
                                    <div class="list-1 root-list">
                                        <div class="lst-body">
                                            <div class="lst-item" ng-repeat="subItem in Item">
                                                <div class=" col-4">
                                                    <label>{{subItem.OldValue==''?'Added &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;':'Changed &nbsp;&nbsp;'}}</label>
                                                    <b><i><label>{{subItem.FieldAlias}}</label></i></b><label>{{subItem.OldValue==''? ":" : ":&nbsp;"}}</label>
                                                </div>
                                                <div class="col-1 align-left">
                                                    <label>{{"&nbsp;&nbsp; from"}}</label>
                                                </div>
                                                <div class="col-2 align-center">
                                                    <b><label>{{subItem.OldValue}}</label></b>
                                                    <label>{{subItem.OldValue==''?'':''}}</label>
                                                </div>
                                                <div class="col-1 align-center">
                                                    <label>{{"to"}}</label>
                                                </div>
                                                <div class="col-4 align-center">
                                                    <b><label>{{subItem.NewValue}}</label></b>
                                                </div>
                                            </div>
                                            <div class="lst-item">
                                                <div class="col-12" ng-show="Item[0].IsContainsDocument">
                                                    <br />
                                                    <label><b>Files</b></label>
                                                </div>
                                            </div>
                                            <div class="lst-item" ng-repeat="dItem in Item" ng-if="dItem.lstDocument.length>0">
                                                <div class="col-12" ng-repeat="ddItem in dItem.lstDocument">
                                                    <div class="col-4" data-colmn-title="{{'_DocumentType_'| translate}}">
                                                        <label>{{ddItem.DocumentType}}</label>
                                                    </div>
                                                    <div class="col-4" data-colmn-title="{{'_FileTitle_'| translate}}">
                                                        <a href="{{ddItem.FilePath}}" target="_blank">{{ddItem.FileTitle}}</a>
                                                    </div>
                                                    <div class="col-3" data-colmn-title="{{'_Comments_'| translate}}">
                                                        <label>{{ddItem.Comments}}</label>
                                                    </div>
                                                    <div class="col-1 align-right">
                                                        <a href="javascript:void(0)" title="Delete" data-ng-click="DeleteDocumentFromHistory(ddItem.Id)"><img src="/Content/images/close-data-icon.png" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List Style 1 structure here -->
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>