<form unsaved-warning-form novalidate id="spnUserPreferences">
    <us-spinner spinner-key="spnUserPreferences"></us-spinner>
    <div class="modal-header">
        <h3 translate="yes">_Preferences_</h3>
    </div>
    <div class="modal-body overFlowNone">
        <div class="slider-scroll-container">
            <div class="fs linear fs-col-2">
                <div class="fs-g">
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Pagesize_</label>
                        </span>
                        <span class="fs-f-i">
                            <select name="{{'_Pagesize_' | translate}}" aa-field-name="{{'_Pagesize_' | translate}}" ng-model="UserPreference.PagesizeId" tabindex="1" ng-options="item.Id as item.Name for item in PagesizeList">
                                <option value="">{{'_Select_' | translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_Assignment_</label>
                        </span>
                        <span class="fs-f-i">
                            <select name="{{'_Assignment_' | translate}}" aa-field-name="{{'_Assignment_' | translate}}" ng-model="UserPreference.AssignmentId" tabindex="2" ng-options="item.Id as item.Name for item in AssignmentUsersList">
                                <option value="">{{'_Select_' | translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="fs-f">
                        <span class="fs-f-l">
                            <label translate="yes">_CulturePreference_</label>
                        </span>
                        <span class="fs-f-i">
                            <select name="{{'_CulturePreference_' | translate}}" aa-field-name="{{'_CulturePreference_' | translate}}" ng-model="UserPreference.CulturePreference" tabindex="3">
                                <option value="en-US">English (United States)</option>
                                <option value="zh-CN">Chinese (China)</option>
                            </select>
                        </span>
                    </div>
                    <div class="fs-f full-c">
                        <span class="fs-f-l">
                            <label translate="yes">_DefaultLandingPage_</label>
                        </span>
                        <span class="fs-f-i full-c">
                            <ul class="list-chk">
                                <li ng-repeat="item in DefaultLandingPageList">
                                    <input type="radio" id="DefaultLandingPage_{{item.Id}}" name="DefaultLandingPage" value="{{item.Id}}" ng-model="UserPreference.DefaultLandingPageId" />
                                    <label for="DefaultLandingPage_{{item.Id}}">{{item.Name}}</label>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" aa-submit-form="SaveUserPreferences()">{{'_Save_' | translate}}</button>
        <button class="orange-btn" ng-click="Cancel()" translate="yes" tabindex="5">_Cancel_</button>
    </div>
</form>