@{
    ViewBag.Title = "Internal Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="notifiation-box-panel">
    <div class="notification-inner-panel">
        <div class="col-8">
            <div class="title-big-box"><span>Internal Error.</span></div>
            <div class="title-sub-box">500 ERROR!</div>
            <div class="title-sub-sub-box">The Link you followed probably broken, <br />or the page has been removed.</div>
        </div>
        <div class="col-4">
            <div class="notification-img"></div>
        </div>
    </div>
</div>
