<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog autoReload="true" internalLogFile="D:\vishal\logs\NLogErrors.txt" throwExceptions="true" internalLogLevel="Debug">-->
<nlog autoReload="true">
  <extensions>
    <add assembly="NLog.Web" />
    <add assembly="NLog.Extended" />
    <add assembly="NPE.Infrastructure.Business.Common" />
  </extensions>
  <targets async="true">

    <target name="Mail"
            type="Mail"
            html="true"
            subject="An Unexpected Error Occured in MESH - Scheduler - DEV"
            addNewLines="True"
            replaceNewlineWithBrTagInHtml="True"
            to="roma.patel@almikatech.com;"
            from="no-reply@mesinc.net"
            body="MES [${level:uppercase=true}]: ${message} ${newline} ${exception:format=tostring}"
            smtpServer="SMTP"
            useSystemNetMailSettings="true" />

    <target type="ConfigurableAzureTableStorage"
        name="AzureTableStorage"
        ConnectionString=""
        TableName="ApplicationLog"
        PartitionKey="${date}.${logger}"
          RowKey="${ticks}.${guid}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" appendTo="AzureTableStorage" />
    <logger name="*" minlevel="Error" writeTo="Mail" />
  </rules>
</nlog>