@{
    ViewBag.Title = "Supplier Quote";
}

<div ng-view></div>



@section pageScripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/RFQ/RFQ/SupplierQuote")
}


@*<script src="~/App_Client/views/RFQ/SupplierQuote/SupplierQuoteTemp.controller.js"></script>*@
