<div>
    <div class="modal-header">
        <button class="btn float-r" ng-click="cancel()"> <i class="fa fa-close"></i> </button>
    </div>
    <div class="modal-body">
        <div class="slider-scroll-container">
            <div id="notifiation-box-panel" ng-if="ErrorCode == 404">
                <div class="notification-inner-panel">
                    <div class="col-9">
                        <div class="title-big-box">404 <span>ERROR!</span></div>
                        <div class="title-sub-box">Sorry, the page not found</div>
                        <div class="title-sub-sub-box">The Link you followed probably broken, <br />or the page has been removed.</div>
                    </div>
                    <div class="col-3">
                        <div class="notification-img"></div>
                    </div>
                </div>
            </div>

            <div id="notifiation-box-panel" ng-if="ErrorCode == 500">
                <div class="notification-inner-panel">
                    <div class="col-9">
                        <div class="title-big-box">500 <span>ERROR!</span></div>
                        <div class="title-sub-box">Internal Server Error</div>
                        <div class="title-sub-sub-box">The Link you followed probably broken.</div>
                    </div>
                    <div class="col-3">
                        <div class="notification-img"></div>
                    </div>
                </div>
            </div>

            <div id="notifiation-box-panel" ng-if="ErrorCode == 403">
                <div class="notification-inner-panel">
                    <div class="col-9">
                        <div class="title-big-box">403 <span>ERROR!</span></div>
                        <div class="title-sub-box">Internal Server Error</div>
                        <div class="title-sub-sub-box">Server has denied to serve your request.</div>
                    </div>
                    <div class="col-3">
                        <div class="notification-img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="orange-btn" ng-click="cancel()" translate="yes">_OK_</button>
    </div>
</div>
