@model MES.DTO.Library.Identity.ResetPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/login.less" type="text/css" rel="stylesheet" />
    <script src="~/loginviews/libs/jquery/jquery-1.11.0.min.js"></script>
</head>
<body lang="en">
    <div id="login-panel">
        <div class="login-inner-main">
            <div class="col-7">
                <p class="invalid-massage-panel" style="display:@ViewBag.StatusMessageFlag">@ViewBag.StatusMessage</p>

                @using (Html.BeginForm("ResetPassword", "Account", new { @class = "ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-horizontal">
                            <div class="form-group forgot-password-text">
                                <h2>Forgot Your Password?</h2>
                                <p>
                                    Enter your User Name to receive your password.
                                </p>
                            </div>
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="text" maxlength="25" ng-model="model.username" placeholder="Please enter the user name" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-touched"  autofocus="" name="username" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Recover Password</button>
                                <a class="forgot-password" href="/Account/Login">Back To Login</a>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="col-5">
                <div class="login-right-box">
                    <div class="login-title" ng-disabled="form.$invalid">Login</div>
                    <div class="login-logo-panel"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/loginviews/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/loginviews/libs/angular/angular.1.2.13.min.js"></script>
    <script src="~/loginviews/app/app.js"></script>
</body>
</html>
